/* Carousel Slide CSS */

@mixin slide {
    .slide {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .item {
            background-color: var(--cloud-color);
            border-radius: 24px;
            box-shadow: 0px 0px 20px #00000029;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .image {
                margin-top: 20px;
                background-size: cover;
                border-radius: 14px;
                box-shadow: 0px 0px 10px #00000029;
            }
            
            .categories {
                height: auto;
                width: auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                a {
                    height: auto;
                    width: auto;
                    font-family: 'Overpass Bold';
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 14px;
                    text-align: left;
                    letter-spacing: 0.07em;
                    text-decoration: none;
                    color: var(--ifm-font-color-base);

                    &:not(:last-child):after {
                        content: ', ';
                    }

                    &:hover {
                        color: $blue55;
                    }
                    @include ultra-slim-mobile-view {
                        font-size: 10px;
                        line-height: 10px;
                    }
                }
            }
            
            .post {
                height: auto;
                font-family: 'Overpass';
                font-size: 16px;
                line-height: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @include ultra-slim-mobile-view {
                    font-size: 14px;
                    line-height: 14px;
                }

                a {
                    text-decoration: none;
                    color: var(--ifm-font-color-base);

                    &:hover {
                        color: $blue55;
                    }
                }
            }
        }
    }
}
