/* Destructive Button CSS */

@mixin destructive-button {
    .destructive-button {
        @include destructive-button-base;
        @extend %interaction-button;
    
        &:hover {
            background-color: $orange900;
            color: $white;
        }

        &-disabled {
            @include destructive-button-base;
            @extend %interaction-button;
            background-color: $grey200;
            border-color: $grey200;

            &:hover {
                cursor: default;
            }
        }
    }
}

@mixin destructive-button-base {
    border-color: $orange900;
    background-color: var(--ifm-background-color);
    color: $orange900;
}
