/* Destructive Button CSS */

@mixin destructive-button {
    .destructive-button {
        border-color: $orange900;
        background-color: var(--ifm-background-color);
        color: $orange900;

        @extend %interaction-button;

        &:hover {
            background-color: $orange900;
            color: $white;
        }
    }
}
