/** Docs About Page SDKs Section **/

@mixin docs-sdks {
    .docs-sdks {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;

        .sdks-text {
            width: 60%;
            height: auto;
    
            .postman-link {
                color: #ff6c37;
                font-family: 'Overpass Bold';
                text-decoration: none;

                &:hover {
                    color: #ff6c37;
                    text-decoration: none;
                }
            }
        }
        
        .sdks-images {
            width: 40%;
            height: 100px;
            display: flex;
            justify-content: center;
    
            .sdk-image-container {
                width: 150px;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
    
                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    box-shadow: 1px 3px 3px var(---shadow-color), -1px 0px 3px var(---shadow-color);
                }
    
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
