/** Docs About Page Get Started Section **/

@mixin docs-get-started {
    .docsGetStarted {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .getStartedText {
        width: 60%;
        height: auto;
    }
    
    .getStartedImage {
        width: 40%;
        height: 100px;
        display: flex;
        justify-content: center;

        svg {
            width: auto;
            height: 100%;
        }
    }
}