/* Input Box Note CSS */

@mixin input-box-note {
    .input-box-note {
        @include font;
    }

    .input-box-note-invalid {
        @include font;
        color: $orange900;
    }
}

@mixin font {
    font-family: $overpass;
    font-size: .8rem;
    line-height: .8rem;
    font-style: italic;
}
