/* Input Box Label CSS */

@mixin input-box-label {
    .input-box-label {
        position: absolute;
        left: 10px;
        top: -12px;
        height: 20px;
        color: $blue85;
        background-color: var(--ifm-background-color);
        padding: 0 .2rem;
        font-family: $overpass-bold;
        display: flex;
        justify-content: center;
        text-align:center;

        @include dark-mode {
            color: $white;
        }
    }
}
