/* Multi-Line Input Box CSS */

@mixin multi-line-input {
    .multi-line-input-container {
        @extend %input-box-container;

        .multi-line-input {
            @include multi-line-input-size;    
            @extend %input-box;
        }

        .multi-line-input-invalid {
            @include multi-line-input-size;    
            @extend %input-box;
            border-color: $orange900;

            @include dark-mode {
                border-color: $orange900;
            }
        }
    }
}

@mixin multi-line-input-size {
    width: 640px;
    max-width: 800px;
    min-width: 200px;
    max-height: 200px;
    min-height: 60px;
}
