/* Multi-Line Input Box CSS */

@mixin multi-line-input {
    .multi-line-input-container {
        @extend %input-box-container;

        .multi-line-input {
            width: 640px;
            max-width: 800px;
            min-width: 200px;
            max-height: 200px;
            min-height: 60px;
    
            @extend %input-box;
        }
    }
}


