/* Redoc Right Panel CSS */

@mixin redoc-right-panel {
    .right-panel {
        .react-tabs__tab-panel {
            padding: 0px;
            margin-bottom: 0px;
        }

        code {
            padding: 0px;
            background-color: transparent;  // Fix weird overlay on curly braces

            span {
                text-shadow: none;
            }
        }
    
        .react-tabs__tab-list { // Samples Tab Switcher Layout
            width: 100%;    // The width of the right panel as defined in the redocTheme.ts file
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 15px;
    
            @media screen and (min-width: 1201px) and (max-width: 1400px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .react-tabs__tab {
                padding: 0px;
                margin-bottom: 0px;
            }
    
            .react-tabs__tab--selected {
                color: var(--ifm-color-primary) !important;
                background: var(--pre-background);
                border-color: var(--ifm-color-primary);
            }
        }
    
        .operation-request-samples {
            .react-tabs__tab-list {
                &>li.react-tabs__tab {   // Request Samples Tab Switcher Tabs
                    @extend %redoc-sample-tab;
                    color: $white;
                }
            }
    
            .request-payload, .request-code-sample {
                @extend %redoc-sample-container;
            }

            .request-code-sample > div > button:hover { // Copy button in Code Snippets
                background-color: transparent;
            }
        }
    
        .operation-response-samples {
            .tab-success, .tab-error {
                @extend %redoc-sample-tab;
            }
    
            .response-sample {
                @extend %redoc-sample-container;
            }
        }
        
    }
}
