/* Redoc Loading Circle CSS */

@mixin redoc-loading-circle {
    &> div > svg:last-child {    // Loading Circle Sizing and Animation
        width: 3.3rem;
        height: 3.3rem;
        animation-name: ckw;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        display: inline-block;
    }

    @keyframes ckw {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
