/* Redoc Middle Panel CSS */

@import './RedocSchemaTable';

@mixin redoc-middle-panel {
    .middle-panel {
        @include redoc-schema-table;

        .endpoint { // Server Selection Dropdown
            button > svg > polygon {   // arrow svg
                fill: var(--ifm-font-color-base);
            }

            button:focus {
                box-shadow: none;
            }

            >div {   // Outer Box Background
                background-color: var(--ifm-background-color);
                color: var(--ifm-font-color-base);
            }

            div[role='button'] > div {    // Endpoint Link Button
                background-color: var(--ifm-background-color);
                color: var(--ifm-font-color-base);
            }
            
        }

        .operation-description {
            pre {
                background-color: var(--pre-background);

                code {
                    text-shadow: none;
                }
            }
        }

        .operation-security {
            svg > polygon {
                fill: var(--ifm-font-color-base);
            }
            
            div {
                background-color: var(--ifm-background-color);
            }
        }

        .operation-callbacks {
            .callback {
                background-color: var(--ifm-background-color);
            }
        
            > button { // Callbacks Dropdowns
                background-color: var(--cloud-color);
            }
        }

        .oneOf-schema > div > button {  // One of Buttons
            @include dark-mode {
                background-color: var(--ifm-background-color);
            }
        
            &:focus {
                @include dark-mode {
                    border: 2px solid $white;
                }
            }
        }
    }
}
