/* Redoc Schema Table Styling CSS */

@mixin redoc-schema-table {
    table {
    
        thead {
            >tr {
                background-color: var(--ifm-background-color);
            }
        }
    
        th {
            border: none;
        }
    
        td {
            border-top: none;
            border-right: none;
    
            &:nth-child(2) {
                border-left: none;
            }
    
            &[kind="field"] {
                border-bottom: none;
            }
    
            >div {
                background-color: var(--ifm-background-color);
            }
        }
    
        tr {
            background-color: var(--ifm-background-color);
            border-bottom: 1px solid var(--ifm-color-secondary-dark);
    
            table tbody tr {
                background-color: var(--ifm-background-color);
        
                &:nth-child(2n) {
                    background-color: var(--ifm-background-color);
                }
            }

            &.last + tr > td > div {    // Background for array schema
                background-color: var(--ifm-background-color) !important;
            }
        }
    }
}
