/* Redoc Header CSS */

@mixin redoc-headers {
    h3 {
        color: var(--ifm-font-color-base);
    }

    h5 {
        color: var(--ifm-font-color-base) !important;

        &>span {
            color: var(--ifm-font-color-base) !important;
        }
    }
}
