/* Secondary Button CSS */

@mixin secondary-button {
    .secondary-button {
        width: 100px;
        height: 40px;
        border: solid 2px $blue85;
        border-radius: 20px;
        background-color: var(--ifm-background-color);
        color: $blue85;
        font-family: $overpass-light;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    
        @include dark-mode {
            border-color: $white;
            color: $white;
        }
    
        &:hover {
            background-color: $blue85;
            color: $white;
            cursor: pointer;
    
            @include dark-mode {
                background-color: $white;
                color: $blue85;
            }
        }
    }
}
