/* Secondary Button CSS */

@mixin secondary-button {
    .secondary-button {
        border-color: $blue85;
        background-color: var(--ifm-background-color);
        color: $blue85;
        font-family: $overpass-light;

        @extend %interaction-button;
    
        @include dark-mode {
            border-color: $white;
            color: $white;
        }
    
        &:hover {
            background-color: $blue85;
            color: $white;
    
            @include dark-mode {
                background-color: $white;
                color: $blue85;
            }
        }
    }
}
