/* Secondary Button CSS */

@mixin secondary-button {
    .secondary-button {
        @include secondary-button-base;
        @extend %interaction-button;
    
        @include dark-mode {
            border-color: $white;
            color: $white;
        }
    
        &:hover {
            background-color: $blue85;
            color: $white;
    
            @include dark-mode {
                background-color: $white;
                color: $blue85;
            }
        }
    
        &-disabled {
            @extend %interaction-button;
            @include secondary-button-base;
            background-color: $grey200;
            border-color: $grey200;
    
            &:hover {
                cursor: default;
            }
        }
    }
}

@mixin secondary-button-base {
    border-color: $blue85;
    background-color: var(--ifm-background-color);
    color: $blue85;
    font-family: $overpass-light;
}
