/* Single Line Input Box CSS */

@mixin single-line-input {

    .single-line-input-container {
        @extend %input-box-container;

        .single-line-input {
            @include single-line-input-size;
            @extend %input-box;
        }

        .single-line-input-invalid {
            @include single-line-input-size;
            @extend %input-box;
            border-color: $orange900;

            @include dark-mode {
                border-color: $orange900;
            }
        }
    }
}

@mixin single-line-input-size {
    width: 320px;
    resize: none;
    overflow: hidden;
}
