/* Single Line Input Box CSS */

@mixin single-line-input {
    .single-line-input-container {
        @extend %input-box-container;

        .single-line-input {
            width: 320px;
            resize: none;
            overflow: hidden;

            @extend %input-box;
        }
    }
}
