# General macOS
.DS_Store

### IntelliJ IDEA ###
.idea/
*.iml

#Local docsite testing files
portal/
specs/Global/

# Node Modules
node_modules/

# Specs with code snippets
site/specs/*.json
/sdk-generation/specs/*

# Sample Media Files
file_to_write
some_file
