{
    "openapi": "3.0.0",

    "info": {
        "title": "Messaging",
        "description": "Bandwidth's HTTP Messaging platform",
        "contact": {},
        "version": "1.1.0",
        "x-server-configuration": {
            "default-environment": "production",
            "default-server": "default",
            "environments": [
                {
                    "name": "production",
                    "servers": [
                       {
                          "name": "default",
                          "url": "https://messaging.bandwidth.com/api/v2"
                       }
                    ]
                 },
                 {
                    "name": "custom",
                    "servers": [
                       {
                          "name": "default",
                          "url": "{base_url}"
                       }
                    ]
                 }
            ],
            "parameters": [
                {
                    "name": "base_url",
                    "description": "",
                    "type": "string",
                    "example": "https://www.example.com"
                }
            ]
        }
    },
    "servers": [{
            "url": "https://messaging.bandwidth.com/api/v2",
            "variables": {}
        }
    ],

    "paths": {
        "/users/{userId}/media": {
            "get": {
                "summary": "listMedia",
                "operationId": "ListMedia",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "Continuation-Token",
                        "in": "header",
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Media"
                                    },
                                    "description": "successful operation"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            }
        },
        "/users/{userId}/media/{mediaId}": {
            "get": {
                "summary": "getMedia",
                "operationId": "GetMedia",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "mediaId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "description": "successful operation",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            },
            "put": {
                "summary": "uploadMedia",
                "operationId": "UploadMedia",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "mediaId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }, {
                        "name": "Content-Length",
                        "in": "header",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }, {
                        "name": "Content-Type",
                        "in": "header",
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "Cache-Control",
                        "in": "header",
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "x-send-file-in-body": true,
                    "content": {
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format" : "binary"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "summary": "deleteMedia",
                "operationId": "DeleteMedia",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "mediaId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            }
        },
        "/users/{userId}/messages": {
            "get": {
                "summary": "getMessages",
                "operationId": "GetMessages",
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "description": "User's account ID",
                        "example": "900000",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "messageId",
                        "in": "query",
                        "required": false,
                        "description": "The ID of the message to search for. Special characters need to be encoded using URL encoding",
                        "example": "9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6",
                        "schema": {
                            "type": "string"
                        }
                    },{
                        "name": "sourceTn",
                        "in": "query",
                        "required": false,
                        "description": "The phone number that sent the message",
                        "example": "%2B15554443333",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "destinationTn",
                        "in": "query",
                        "required": false,
                        "description": "The phone number that received the message",
                        "example": "%2B15554443333",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "messageStatus",
                        "in": "query",
                        "required": false,
                        "description": "The status of the message. One of RECEIVED, QUEUED, SENDING, SENT, FAILED, DELIVERED, DLR_EXPIRED",
                        "example": "RECEIVED",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "errorCode",
                        "in": "query",
                        "required": false,
                        "description": "The error code of the message",
                        "example": "9902",
                        "schema": {
                            "type": "integer"
                        }
                    }, {
                        "name": "fromDateTime",
                        "in": "query",
                        "required": false,
                        "description": "The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.",
                        "example": "2016-09-14T18:20:16.000Z",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "toDateTime",
                        "in": "query",
                        "required": false,
                        "description": "The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.",
                        "example": "2016-09-14T18:20:16.000Z",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "pageToken",
                        "in": "query",
                        "required": false,
                        "description": "A base64 encoded value used for pagination of results",
                        "example": "gdEewhcJLQRB5",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BandwidthMessagesList"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            },
            "post": {
                "summary": "createMessage",
                "operationId": "CreateMessage",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessageRequest"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BandwidthMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            }
        }
    },
    "components": {
        "schemas": {
            "BandwidthMessagesList": {
                "title": "BandwidthMessagesList",
                "type": "object",
                "properties": {
                    "totalCount": {
                        "type": "integer",
                        "description": "Total number of messages matched by the search",
                        "example": "100"
                    },
                    "pageInfo": {
                        "$ref": "#/components/schemas/PageInfo"
                    },
                    "messages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BandwidthMessageItem"
                        }
                    }
                }
            },
            "BandwidthMessageItem": {
                "title": "BandwidthMessageItem",
                "type": "object",
                "properties": {
                    "messageId": {
                        "type": "string",
                        "description": "The message id",
                        "example": "1589228074636lm4k2je7j7jklbn2"
                    },
                    "accountId": {
                        "type": "string",
                        "description": "The account id of the message",
                        "example": "12345"
                    },
                    "sourceTn": {
                        "type": "string",
                        "description": "The source phone number of the message",
                        "example": "+15554443333"
                    },
                    "destinationTn": {
                        "type": "string",
                        "description": "The recipient phone number of the message",
                        "example": "+15554442222"
                    },
                    "messageStatus": {
                        "type": "string",
                        "description": "The status of the message",
                        "example": "DLR_EXPIRED"
                    },
                    "messageDirection": {
                        "type": "string",
                        "description": "The direction of the message relative to Bandwidth. INBOUND or OUTBOUND",
                        "example": "OUTBOUND"
                    },
                    "messageType": {
                        "type": "string",
                        "description": "The type of message. sms or mms",
                        "example": "sms"
                    },
                    "segmentCount": {
                        "type": "integer",
                        "description": "The number of segments the message was sent as",
                        "example": "1"
                    },
                    "errorCode": {
                        "type": "integer",
                        "description": "The numeric error code of the message",
                        "example": "9902"
                    },
                    "receiveTime": {
                        "type": "string",
                        "description": "The ISO 8601 datetime of the message",
                        "example": "2020-04-07T14:03:07.000Z"
                    },
                    "carrierName": {
                        "type": "string",
                        "description": "The name of the carrier. Not currently supported for MMS, coming soon",
                        "example": "other"
                    }
                }
            },
            "PageInfo": {
                "title": "PageInfo",
                "type": "object",
                "properties": {
                    "prevPage": {
                        "type": "string",
                        "description": "The link to the previous page for pagination",
                        "example": "https://messaging.bandwidth.com/api/v2/users/{accountId}/messages?messageStatus=DLR_EXPIRED&nextPage=DLAPE902"
                    },
                    "nextPage": {
                        "type": "string",
                        "description": "The link to the next page for pagination",
                        "example": "https://messaging.bandwidth.com/api/v2/users/{accountId}/messages?messageStatus=DLR_EXPIRED&prevPage=GL83PD3C"
                    },
                    "prevPageToken": {
                        "type": "string",
                        "description": "The isolated pagination token for the previous page",
                        "example": "DLAPE902"
                    },
                    "nextPageToken": {
                        "type": "string",
                        "description": "The isolated pagination token for the next page",
                        "example": "GL83PD3C"
                    }
                }
            },
            "MessagingException": {
                "title": "MessagingException",
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "required": ["type", "description"]
            },
            "Media": {
                "title": "Media",
                "type": "object",
                "properties": {
                    "inputStream": {
                        "type": "object"
                    },
                    "content": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "contentLength": {
                        "type": "string"
                    },
                    "contentType": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Tag"
                        }
                    },
                    "userId": {
                        "type": "string"
                    },
                    "mediaName": {
                        "type": "string"
                    },
                    "mediaId": {
                        "type": "string"
                    },
                    "cacheControl": {
                        "type": "string"
                    }
                }
            },
            "Tag": {
                "title": "Tag",
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    }
                }
            },
            "DeferredResult": {
                "title": "DeferredResult",
                "type": "object",
                "properties": {
                    "result": {
                        "type": "object"
                    },
                    "setOrExpired": {
                        "type": "boolean"
                    }
                }
            },
            "BandwidthCallbackMessage": {
                "title": "BandwidthCallbackMessage",
                "type": "object",
                "properties": {
                    "time": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "to": {
                        "type": "string"
                    },
                    "errorCode": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "message": {
                        "$ref": "#/components/schemas/BandwidthMessage"
                    }
                }
            },
            "BandwidthMessage": {
                "title": "BandwidthMessage",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "owner": {
                        "type": "string"
                    },
                    "applicationId": {
                        "type": "string"
                    },
                    "time": {
                        "type": "string"
                    },
                    "segmentCount": {
                        "type": "integer"
                    },
                    "direction": {
                        "type": "string"
                    },
                    "to": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "from": {
                        "type": "string"
                    },
                    "media": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "text": {
                        "type": "string"
                    },
                    "tag": {
                        "type": "string"
                    }
                }
            },
            "MessageRequest": {
                "title": "MessageRequest",
                "type": "object",
                "properties": {
                    "applicationId": {
                        "type": "string"
                    },
                    "to": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "from": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string"
                    },
                    "media": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "tag": {
                        "type": "string"
                    }
                }
            }
        },

        "responses": {
            "BadRequest": {
                "description": "400 Request is malformed or invalid",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "401 The specified user does not have access to the account",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "403 The user does not have access to this API",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "404 Path not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "InvalidMediaType": {
                "description": "415 The content-type of the request is incorrect",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "TooManyRequests": {
                "description": "429 The rate limit has been reached",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "httpBasic": {
                "type": "http",
                "scheme": "basic"
            }
        }
    },
    "security": [{
            "httpBasic": []
        }
    ],
    "tags": []
}
