.globeSvg {
    width: 100%;
    height: 100%;
}

.globeMask {
    fill: var(--ifm-background-color);
}

.globeWater {
    fill: #b4e1f9;
}

html[data-theme='dark'] .globeWater {
    fill: #003f50;
}

.globeLand {
    fill: #38aff1;
}

html[data-theme='dark'] .globeLand {
    fill: #002f3d;
}