/* Blue Button CSS */

.blueButton {
    width: 100%;
    height: auto;
    display: flex;
    
}

.blueButton a {
    background-color: var(--bwBlue);
    border-radius: 20px;
    color: #FFFFF2;
    font-size: 12px;
    font-family: 'Overpass Bold';
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: .1em;
    text-decoration: none;
    padding: 12px 30px;
}