.carouselContainer {
    width: 100%;
    height: 500px;
    background-color: #CDEBFB;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    width: auto;
    height: 50px;
    margin: 20px;
    color: var(--ifm-font-color-base);
    font-family: 'Overpass Bold';
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    height: auto;
    margin: 20px 0;
    position: relative;
}

.carouselItemsContainer {
    width: 100%;
    height: auto;
    margin: 0;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.carouselItemsContainer::-webkit-scrollbar {
    display: none;
}

.navButtons {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 40px;
    top: calc(50% - 25px);
    justify-content: space-between;
}

.navButtons > button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #FFF;
    font-family: 'Material Icons';
    color: var(--bwBlue);
    font-size: 38px;
    line-height: 32px;
    padding: 0;
}

.navButtons > button:hover {
    cursor: pointer;
}

.leftButton::before {
    content: 'chevron_left';
    margin-left: -2px;
}

.rightButton::before {
    content: 'chevron_right';
}

.carouselItems {
    width: 120%;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.item {
    width: 350px;
    height: 220px;
    background-color: #E6F5FD;
    border-radius: 24px;
    box-shadow: 0px 0px 20px #00000029;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 82px;
    height: 82px;
    margin-bottom: 20px;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.product {
    width: 70%;
    height: auto;
    text-transform: uppercase;
    font-family: 'Overpass Bold';
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.link a{
    font-family: 'Overpass Light';
    color: var(--ifm-font-color-base);
    text-decoration: underline;
    font-size: 18px;
}

.link a:hover {
    color: var(--ifm-font-color-hover);
}
