/* Docs About Page CSS */

/** Get Started Section **/
.getStarted {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.getStartedText {
    width: 60%;
    height: auto;
}

.getStartedImage {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.getStartedImage svg {
    width: auto;
    height: 100%;
}

/** SDKs Section **/
.sdks {
    width: 100%;
    height: auto;
    display: flex;
}

.sdksText {
    width: 60%;
    height: auto;
}

.sdksImages {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.sdkImageContainer {
    width: 150px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sdkImageContainer a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 1px 3px 3px var(--ifm-shadow-color), -1px 0px 3px var(--ifm-shadow-color);
}

.sdkImageContainer svg {
    width: 100%;
    height: 100%;
}

/** Features Section **/
.features {
    width: 100%;
    height: auto;
}

.featuresText {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
