/* Feature Panel CSS */

.panelsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.panel {
    width: 300px;
    height: 250px;
    margin: 0 .6em 1.2em;
    display: flex;
    flex-direction: column;
    background-color: var(--ifm-background-color);
    border: 1px solid var(--ifm-shadow-color);
    box-shadow: 1px 3px 3px var(--ifm-shadow-color), -1px 0px 3px var(--ifm-shadow-color);
    border-radius: 10px;
    text-decoration: none;
}

.panel:hover {
    text-decoration: none;
}

.header {
    width: auto;
    height: 50px;
    margin: 20px 15px;
    display: flex;
}

.icon {
    width: 50px;
    height: auto;
}

.title {
    width: calc(100% - 50px);
    height: auto;
    padding-left: 5px;
    padding-top: 2px;
    color: var(--ifm-font-color-base);
    font-family: 'Overpass Bold';
    font-size: 17px;
    line-height: 17px;
    display: flex;
    align-items: center;
}

.content {
    width: 100%;
    flex-grow: 1;
    padding: 5px 25px 10px;
    display: flex;
    flex-direction: column;
}

.panelText {
    width: 100%;
    flex-grow: 1;
    color: var(--ifm-font-color-base);
}

@media screen and (max-width: 480px) {
    .panel {
        margin: 0 0 1.2rem;
        height: auto;
    }
}
