.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.item {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 600px) {
  .item {
    width: 50%;
  }
}

@media screen and (max-width: 350px) {
  .item {
    width: 100%;
  }
}

.item .image {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item a {
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e6f5fd;
  /* background-image: radial-gradient(#f4f5f7 69%,  var(--ifm-background-color) 70%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  transition: .2s;
  box-shadow: inset 0 0 0 65px var(--ifm-background-color); */
}

[data-theme='dark'] .item a {
  background-image: radial-gradient(#22272e 69%,  var(--ifm-background-color) 70%);
}

.item a:hover {
  /* box-shadow: inset 0 0 0 0 var(--ifm-background-color); */
  height: 110px;
  width: 110px;
}

.item h2 {
  margin-top: 1rem;
  margin-left: 2rem;
}

.itemSvg {
  height: 60%;
  width: 60%;
}
