/* ItemGrid CSS */

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.item {
  width: 50%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.itemImage {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemSvg {
  height: 100%;
  width: 100%;
}

.itemText {
  height: 100%;
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
  padding-left: 2rem;
  overflow: visible;
}

@media screen and (max-width: 996px) {
  .item {
    width: 100%;
  }
}
