.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.item {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 600px) {
  .item {
    width: 50%;
  }
}

@media screen and (max-width: 350px) {
  .item {
    width: 100%;
  }
}

.item a {
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item h2 {
  margin-top: 1rem;
  margin-left: 2rem;
}

.itemSvg {
  height: 100%;
  width: 100%;
}
