/* LandingPage CSS */

.landing {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5rem;
}

.left {
    width: 50%;
    height: auto;
    padding-left: 10rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 2rem;
}

.title h1 {
    font-size: 56px;
    font-weight: 200;
    line-height: 56px;
    transition: .2s;
}

.title h2 {
    font-size: 36px;
    font-family: 'Overpass Bold';
    line-height: 36px;
    transition: .2s;
}

.right {
    width: 50%;
    height: 80vh;
    padding-top: 56px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.rightImage {
    width: 75%;
    height: auto;
    max-height: 550px;
}

@media screen and (max-width: 1152px) {
    .landing {
        flex-direction: row;
    }

    .left {
        width: 100%;
        padding: 0rem 10rem;
    }

    .title {
        width: 100%;
        height: 5rem;
        margin-bottom: 5rem;
    }

    .right {
        display: none;
    }
}

@media screen and (max-width: 996px) {
    .left {
        width: 100%;
        padding: 0rem 2rem;
    }

    .title h1 {
        font-size: 36px;
        line-height: 36px;
    }

    .title h2 {
        font-size: 24px;
        line-height: 24px;
    }
}

@media screen and (max-width: 480px) {
    .title h1 {
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }
    
    .title h2 {
        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }
}
