/* SdkPage CSS */

:root {
    --github-logo : url('@site/static/img/github.svg')
}
  
html[data-theme='dark'] {
    --github-logo: url('@site/static/img/github-dark.svg');
}

.sdkPage {
    width: 100%;
    height: 100%;
    margin: 0;
}

.sdkImage {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sdkSvg {
    height: 225px;
    width: 180px;
}

.sdkProductTable {
    width: 100%;
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.tableHolder {
    width: auto;
    height: auto;
    overflow: auto;
}

.sdkProductTable table {
    width: auto;
    overflow: visible;
    min-width: 360px;
    color: var(--ifm-font-color-base);
}

/* remove all border lines */
.sdkProductTable table td, .sdkProductTable table th, .sdkProductTable table tr {
    border: none;
}

/* left padding for first column */
.sdkProductTable table td:first-child, .sdkProductTable table th:first-child {
    padding-left: 1rem;
}

/* right padding for last column */
.sdkProductTable table td:last-child, .sdkProductTable table th:last-child {
    padding-right: 1rem;
}

/* rounded top left edge */
.sdkProductTable table thead th:first-child {
    border-radius: 20px 0 0 0;
}

/* rounded top right edge */
.sdkProductTable table thead th:last-child {
    border-radius: 0 20px 0 0;
}

/* rounded bottom left edge */
.sdkProductTable table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}

/* rounded bottom right edge */
.sdkProductTable table tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

.sdkProductTable table tr:nth-child(2n) {
    background-color: var(--ifm-cloud-color);
}

.sdkProductTable table tbody tr:nth-child(2n+1) {
    background-color: var(--ifm-cloud-accent);
}

.sdkProductTable thead {
    background-color: var(--ifm-cloud-color);
}

@media screen and (max-width: 996px) {
    .sdkProductTable {
        margin-bottom: 5rem;
        padding: 0 2rem;
    }
}
