/* SdkPage CSS */

:root {
    --github-logo : url('@site/static/img/github.svg')
}
  
html[data-theme='dark'] {
    --github-logo: url('@site/static/img/github-dark.svg');
}

.sdkPage {
    width: 100%;
    height: 100%;
    margin: 0;
}

.sdkImage {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sdkSvg {
    height: 225px;
    width: 180px;
}

.sdkProductTable {
    overflow: auto;
    margin-bottom: 10rem;
}

.sdkProductTable table {
    margin: auto;
    width: 50%;
    min-width: 480px;
}

.sdkProductTable thead {
    background: transparent;
    color: #000000;
    border: 1px solid black;
}

html[data-theme='dark'] .sdkProductTable thead {
    background: transparent;
    color: #079CEE;
}

.sdkProductTable tbody {
    color: var(--ifm-font-color-base);
}

.sdkProductTable td, th {
    padding: 5px;
}

.sdkProductTable td {
    height: 25px;
}

@media screen and (max-width: 996px) {
    .sdkProductTable {
        margin-bottom: 5rem;
    }
    
    .sdkProductTable table {
        width: 75%;
    }
}
