/* SpecVersionDropdown CSS */

.specVersionDropdown {
    label {
        width: auto;
        margin-right: 1em;
        z-index: 1;
        border: none;
        background-color: transparent;
    }

    select {
        position: relative;
        width: auto;
        z-index: 1;
        border: none;
        color: var(--ifm-color-primary);
        background-color: transparent;
    }
      
    form {
        padding-top: .5em;
        width: auto;
        margin-left: 85%;
        position: absolute;    /* setting this to `fixed` will pin it to the top */
        z-index: 1;
    }
      
    option {
        list-style: none;
        margin-bottom: 0.8em;
        cursor: pointer;
    }
}
