/* Alert CSS */

.alert-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .alert {
        &-success {
            @extend %alert-base;
            background-color: $lightGreen;
            border-color: $green500;
            color: $green700;
        }
    
        &-info {
            @extend %alert-base;
            background-color: $lightBlue;
            border-color: $blue500;
            color: $blue700;
        }
    
        &-warning {
            @extend %alert-base;
            background-color: $lightYellow;
            border-color: $yellow500;
            color: $yellow700;
        }
    
        &-error {
            @extend %alert-base;
            background-color: $lightOrange;
            border-color: $orange500;
            color: $orange700;
        }
    }
}
