/* Carousel CSS */

@import './modules/CarouselSlide';

.carousel-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    @include mobile-view {
        height: 300px;
    }
    @include ultra-slim-mobile-view {
        height: 240px;
    }

    .top-amoeba {
        @extend %carousel-decoration;
        margin-bottom: -1px;

        svg {
            transform: scaleY(-1);
            width: 200px;
            margin-left: 70%;
        }
    }
    
    .bottom-amoeba {
        @extend %carousel-decoration;
        margin-top: -1px;

        svg {
            width: 200px;
            margin-right: 70%;
            margin-left: auto;
        }
    }

    .content {
        width: 100%;
        height: 450px;
        background-color: var(--carousel-color);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @include mobile-view {
            height: 100%;
        }
    }

    .carousel-header {
        width: auto;
        height: 50px;
        color: var(--ifm-font-color-base);
        font-family: $overpass-bold;
        font-size: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile-view {
            height: 30px;
            font-size: 1.8rem;
        }
        @include slim-mobile-view {
            height: 22px;
            font-size: 1.5rem;
        }
        @include ultra-slim-mobile-view {
            height: 20px;
            font-size: 1.2rem;
        }
    }
    
    .carousel-content {
        height: auto;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .carousel {
        width: 100%;
        height: 100%;
        overflow: visible;
        position: relative;
    }
    
    .carousel-slides {
        display: flex;
        overflow: visible;
        position: relative;
        width: 100%;
        height: 100%;

        @include slide;
    }
    
    .transition {
        transition: all .25s ease-out;
    }
    
    .disabled {
        pointer-events: none;
    }

    .nav-buttons {
        position: absolute;
        width: 100vw;
        height: auto;
        display: flex;
        padding: 0 3em;
        justify-content: space-between;

        @include mobile-view {
            padding: 0 2em;
        }

        button {
            border-radius: 50%;
            border: none;
            background-color: $white;
            font-family: 'Material Icons';
            color: $blue50;
            font-size: 2.4rem;
            line-height: 2.2rem;
            padding: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .left-button::before {
            content: 'chevron_left';
            margin-left: -2px;
        }
        
        .right-button::before {
            content: 'chevron_right';
            margin-left: 2px;
        }
    }
}
