/* Feature Panel CSS */

.panels-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .panel {
        width: 19.8rem;
        height: 16.4rem;
        margin: 0 .6em 1.2em;
        display: flex;
        flex-direction: column;
        background-color: var(--ifm-background-color);
        border: 1px solid var(--shadow-color);
        box-shadow: 1px 3px 3px var(--shadow-color), -1px 0px 3px var(--shadow-color);
        border-radius: 10px;
        text-decoration: none;

        @include slim-mobile-view {
            margin: 0 0 1.2rem;
            height: auto;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .panel-header {
        width: auto;
        height: 3.3rem;
        margin: 20px 15px;
        display: flex;
    }

    .panel-icon {
        width: 3.3rem;
        height: auto;
    }
    
    .panel-title {
        width: calc(100% - 3.3rem);
        height: auto;
        padding-left: 5px;
        padding-top: 2px;
        color: var(--ifm-font-color-base);
        font-family: 'Overpass Bold';
        font-size: 1.1rem;
        line-height: 1.1rem;
        display: flex;
        align-items: center;
    }
    
    .panel-content {
        width: 100%;
        flex-grow: 1;
        padding: 5px 25px 10px;
        display: flex;
        flex-direction: column;
    }

    .panel-text {
        width: 100%;
        flex-grow: 1;
        color: var(--ifm-font-color-base);
    }
}
