/* GitHubLink CSS */

.github-icon {
    background-image: var(--github-logo);
    background-position: center;
    background-size: 3.3rem;
    background-repeat: no-repeat;
    
    a {
        width: 4rem;
        height: 4rem;
        display: flex;
    }
}

