/* GitHubLink CSS */

.github-icon {
    background-image: var(--github-logo);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    
    a {
        width: 60px;
        height: 60px;
        display: flex;
    }
}

