/* ItemGrid CSS */

.item-grid-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    
    .item-grid-item {
        $item-size: 50px;
        width: 50%;
        height: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        @include mobile-view {
            width: 100%;
        }

        .item-image {
            height: $item-size;
            width: $item-size;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .item-svg {
            height: 100%;
            width: 100%;
        }
        
        .item-text {
            height: 100%;
            width: calc(100% - $item-size);
            display: flex;
            align-items: center;
            padding-left: 2rem;
            overflow: visible;

        }
        
        .text-link {
            &:hover {
                text-decoration: none;
            }
    
            h3 {
                margin: 0;
                font-size: 1.1rem;
                color: var(--ifm-font-color-base);
    
                &:hover {
                    color: $blue55;
                }
            }
        }
    }
}
