/* ItemGrid CSS */

.itemGridItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    
    .item {
        width: 50%;
        height: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        @include mobile-view {
            width: 100%;
        }

        .itemImage {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            .itemSvg {
                height: 100%;
                width: 100%;
            }
        }
        
        .itemText {
            height: 100%;
            width: calc(100% - 80px);
            display: flex;
            align-items: center;
            padding-left: 2rem;
            overflow: visible;

            .textLink {
                &:hover {
                    text-decoration: none;
                }
        
                h3 {
                    margin: 0;
                    font-size: 17px;
                    color: var(--ifm-font-color-base);
        
                    &:hover {
                        color: var(--ifm-font-color-hover);
                    }
                }
            }
        }
    }
}
