/* LandingPage CSS */

.landing-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5rem;

    @include small-desktop-view {
        flex-direction: row;
    }

    .left {
        width: 50%;
        height: auto;
        padding-left: 10rem;
        margin-bottom: 10rem;
        display: flex;
        flex-direction: column;

        @include small-desktop-view {
            width: 100%;
            padding: 0rem 10rem;
        }
        @include mobile-view {
            width: 100%;
            padding: 0rem 2rem;
        }
    
        .title {
            margin-bottom: 2rem;

            @include small-desktop-view {
                width: 100%;
                height: 5rem;
                margin-bottom: 5rem;
            }
        
            h1 {
                font-size: 3.6rem;
                font-weight: 200;
                line-height: 3.6rem;
                transition: 0.2s;

                @include mobile-view {
                    font-size: 2.4rem;
                    line-height: 2.4rem;
                }
                @include slim-mobile-view {
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                    text-align: center;
                }
            }
        
            h2 {
                font-family: 'Overpass Bold';
                font-size: 2.4rem;
                line-height: 2.4rem;
                transition: 0.2s;

                @include mobile-view {
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                }
                @include slim-mobile-view {
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    text-align: center;
                }
            }
        }
    }

    .right {
        width: 50%;
        height: 80vh;
        padding-top: 56px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        @include small-desktop-view {
            display: none;
        }
    
        .right-image {
            width: 75%;
            height: auto;
            max-height: 550px;
        }
    }
}
