/* LandingPage CSS */

.landing-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5rem;

    @include small-desktop-view {
        flex-direction: row;
    }
    @include mobile-view {
        padding-top: 2rem;
    }

    .landing-page-left {
        width: 50%;
        height: auto;
        padding-left: 150px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;

        @include small-desktop-view {
            width: 100%;
            padding: 0rem 10rem;
        }
        @include mobile-view {
            width: 100%;
            padding: 0rem 2rem;
            margin-bottom: 50px;
        }
        @include slim-mobile-view {
            margin-bottom: 0;
        }
    }

    .landing-page-title {
        margin-bottom: 30px;

        @include small-desktop-view {
            width: 100%;
            height: 75px;
            margin-bottom: 75px;
        }
        @include mobile-view {
            margin-bottom: 20px;
        }
    }

    .landing-page-title {
        margin-bottom: 30px;

        @include small-desktop-view {
            width: 100%;
            height: 75px;
            margin-bottom: 75px;
        }
    
        h1 {
            font-size: 3.6rem;
            font-weight: 200;
            line-height: 3.6rem;
            transition: 0.2s;

            @include mobile-view {
                font-size: 2.4rem;
                line-height: 2.4rem;
            }
            @include slim-mobile-view {
                font-size: 1.6rem;
                line-height: 1.6rem;
                text-align: center;
            }
        }
    
        h2 {
            font-family: $overpass-bold;
            font-size: 2.4rem;
            line-height: 2.4rem;
            transition: 0.2s;

            @include mobile-view {
                font-size: 1.6rem;
                line-height: 1.6rem;
            }
            @include slim-mobile-view {
                font-size: 1.2rem;
                line-height: 1.2rem;
                text-align: center;
            }
        }
    }

    .landing-page-right {
        width: 50%;
        height: 80vh;
        padding-top: 56px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        @include small-desktop-view {
            display: none;
        }
    }
    
    .landing-page-right-image {
        width: 75%;
        height: auto;
        max-height: 550px;
    }
}
