/* Loader CSS */

.loader {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-color: $blue50;

    .ring {
        border-width: 2px;
        border-style: solid;
        border-color: inherit;
        border-radius: 100%;
        margin: 0 5px;
        transform: scale(0);
    
        animation: bw-ring-pulse 1000ms ease infinite 0ms;
    
        &:nth-child(2) {
          animation-delay: 300ms;
        }
    
        &:nth-child(3) {
          animation-delay: 600ms;
        }
    }

    @keyframes bw-ring-pulse {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(1);
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
    }
}
