/* Redoc CSS Settings */

@import './modules/RedocHeaders';
@import './modules/RedocLoadingCircle';
@import './modules/RedocSchemaTable';
@import './modules/RedocRightPanel';
@import './modules/RedocMiddlePanel';

.RedocStandalone {
    position: relative;
    z-index: 0;
    margin-bottom: 10rem;

    @include redoc-headers;
    @include redoc-loading-circle;
    
    .menu-content {
        @include mobile-view {
            background-color: var(--ifm-background-color);  // Make Side Menu Not Transparent on Mobile
        }

        .scrollbar-container ul li label {  // Change vertical alignment of operations to align with summary
            span.operation-type {
                margin-block: auto;
            }

            span:nth-child(2) {    // Change vertical alignment of operation summary text
                line-height: 110%;
                margin-top: 4px;
            }
        }
        
        .search-no-results {
            padding-left: 1.3rem;
        }
    }

    .api-content {
        @include redoc-right-panel;
        @include redoc-middle-panel;

        /* API Content Spacing */
        div {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        h1 {
            padding: 0px;
            margin-bottom: 0px;
        }

        h2 {
            padding: 0px;
            margin-bottom: 0px;
        }

        .api-info h1 span {
            display: none !important;   // Hide the API Spec Version
        }

        .redoc-markdown {
            tr {
                background-color: var(--ifm-background-color);
            }
        }
    }
}
