/* SdkPage CSS */

.sdk-page {
    width: 100%;
    height: 100%;
    margin: 0;

    .sdk-image {
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .sdk-svg {
            height: 225px;
            width: 180px;
        }
    }

    .sdk-product-table {
        width: 100%;
        padding: 0 5rem;
        display: flex;
        justify-content: center;
        margin-bottom: 10rem;
    
        @include mobile-view {
            margin-bottom: 5rem;
            padding: 0 2rem;
        }
    
        .table-holder {
            width: auto;
            height: auto;
            overflow: auto;
        
            table {
                width: auto;
                overflow: visible;
                min-width: 360px;
                color: var(--ifm-font-color-base);
    
                /* remove all border lines */
                td, th, tr {
                    border: none;
                }
    
                /* left padding for first column */
                td:first-child, th:first-child {
                    padding-left: 1rem;
                }
    
                /* right padding for last column */
                td:last-child, th:last-child {
                    padding-right: 1rem;
                }
    
                tr:nth-child(2n) {
                    background-color: var(--ifm-cloud-color);
                }
    
                thead {
                    background-color: var(--ifm-cloud-color);
    
                    th {
                        /* rounded top left edge */
                        &:first-child {
                            border-radius: 20px 0 0 0;
                        }
    
                        /* rounded top right edge */
                        &:last-child {
                            border-radius: 0 20px 0 0;
                        }
                    }
                }
    
                tbody {
                    tr:last-child {
                        /* rounded bottom left edge */
                        td:first-child {
                            border-radius: 0 0 0 20px;
                        }
                        /* rounded bottom right edge */
                        td:last-child {
                            border-radius: 0 0 20px 0;
                        }
                    }
    
                    tr:nth-child(2n+1) {
                        background-color: var(--ifm-cloud-accent);
                    }
                }
            }
        }
    }
}
