/* SpecVersionDropdown CSS */

.spec-version-dropdown {
    .dropdown-container {
        padding-top: 0.5em;
        width: auto;
        margin-left: 85%;
        position: absolute;    /* setting this to `fixed` will pin it to the top */
        z-index: 1;

        label {
            width: auto;
            margin-right: 15px;
            z-index: 1;
            border: none;
            background-color: transparent;
        }
    
        select {
            position: relative;
            width: auto;
            z-index: 1;
            border: none;
            color: var(--ifm-color-primary);
            background-color: transparent;
            
            option {
                list-style: none;
                margin-bottom: 12px;
                cursor: pointer;
            }
        }
    }
}
