/* Splash Page CSS */

.splash {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--ifm-font-color-base);
    margin-bottom: 6em;

    .splash-header {
        width: 100%;
        height: auto;
        padding: 4em 2em;

        h1 {
            font-family: 'Overpass';
            font-size: 4.2rem;
            line-height: 4.2rem;
            font-weight: 200;
            text-align: center;

            @include mobile-view {
                font-size: 2.4rem;
                line-height: 2.4rem;
            }
            @include slim-mobile-view {
                font-size: 1.6rem;
                line-height: 1.6rem;
            }
        }
        
        h2 {
            font-family: 'Overpass Light';
            font-size: 1.6rem;
            text-align: center;

            @include mobile-view {
                font-size: 1.3rem;
                line-height: 1.3rem;
            }
            @include slim-mobile-view {
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }
    }
    
    .splash-row {
        width: 70vw;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6em;

        @include mobile-view {
            margin-bottom: 0;
        }
    }

    .splash-row-left {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        @include mobile-view {
            width: auto;
        }
    }

    .splash-row-right {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        @include mobile-view {
            width: auto;
            justify-content: flex-start;
        }
    }

    .text-block {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;

    }
    
    .text-block-title {
        width: 100%;
        height: auto;
        font-family: 'Overpass Bold';
        font-size: 2.1rem;

        @include slim-mobile-view {
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
    }
    
    .text-block-text {
        width: 100%;
        height: auto;
        font-family: 'Overpass';
        font-size: var(--ifm-font-size-base);
        margin-bottom: 0.8em;
    }
    
    .text-block-link {
        a {
            width: auto;
            height: auto;
            font-family: 'Overpass Bold';
            color: var(--ifm-font-color-base);
            text-decoration: none;
            
            &:hover {
                color: $blue55;
                text-decoration: none;
            }
        }
    }

    .image {
        width: 100%;
        height: 100%;

        @include mobile-view {
            display: none;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}
