/* Base Typography/Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
    font-family: 'Overpass Bold';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81kCdc7N4ho.woff2) format('woff2');
}

@font-face {
    font-family: 'Overpass Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/overpass/v11/qFda35WCmI96Ajtm83upeyoaX6QPnlo6ovPbPpqK.woff2) format('woff2');
}
