/** Docs About Page Features Section **/

@mixin features {
    .features {
        width: 100%;
        height: auto;
    
        .featuresText {
            width: 100%;
            height: auto;
            margin-bottom: 30px;
        }
    }
}
