%blue-button {
    background-color: var(--bwBlue);
    border-radius: 20px;
    color: #FFFFF2;
    font-size: 12px;
    font-family: 'Overpass Bold';
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: .1em;
    text-decoration: none;
    padding: 12px 30px;
}

%bw-link {
    width: 31px;
    height: 31px;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: .5rem;
    border-radius: 15.5px;

    &:hover {
        background-color: var(--ifm-color-emphasis-200);
    }
}