/* Sass Variables and Placeholders */

/* Variables */

// Colors
$blue2: rgb(245, 251, 254);
$blue5: rgb(230, 245, 253);
$blue10: rgb(205, 235, 251);
$blue25: rgb(131, 205, 246);
$blue35: rgb(81, 185, 243);
$blue45: rgb(31, 165, 239);
$blue50: rgb(7, 156, 238);
$blue55: rgb(7, 140, 214);
$blue65: rgb(7, 110, 168);
$blue75: rgb(8, 79, 122);
$blue80: rgb(8, 64, 98);
$blue85: rgb(8, 48, 75);
$blue95: rgb(8, 18, 29);
$orange50: rgb(255, 111, 71);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$black-shadow: rgba(0, 0, 0, 0.16);

// Light Mode
$bg-color-light: $blue2;
$cloud-color-light: $blue5;
$accent-color-light: $blue10;
$shadow-color-light: rgb(218, 217, 217);
$sample-bg-light: rgb(48, 56, 70);

// Dark Mode
$bg-color-dark: rgb(10, 37, 64);
$cloud-color-dark: $blue85;
$accent-color-dark: $blue80;
$shadow-color-dark: $blue95;
$carousel-color-dark: rgb(0, 27, 54);
$sample-bg-dark: rgb(18, 18, 18);

/* Placeholders */
%blue-button {
    background-color: $blue50;
    border-radius: 20px;
    color: $white;
    font-size: .8rem;
    font-family: 'Overpass Bold';
    text-transform: uppercase;
    line-height: 1.2rem;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 12px 30px;
}

%bw-link {
    width: 31px;
    height: 31px;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
    border-radius: 15.5px;

    &:hover {
        background-color: var(--ifm-color-emphasis-200);
    }
}

%redoc-sample-tab {
    background: var(--pre-background);
    font-family: 'Overpass';
    border-style: solid;
    border-width: 2px;
    word-wrap: normal;
    width: 100%;
    height: 100%;
}

%redoc-sample-container {
    border-radius: .3rem;
    background-color: var(--pre-background);
}

%carousel-decoration {
    height: 50px;
        width: 100%;
        display: flex;

    @include mobile-view {
        display: none;
    }
}
