/* Announcement Bar CSS */

div[class^='announcementBarContent'] {
    background-color: var(--ifm-background-surface-color);
    color: var(--ifm-font-color-base);

    a {
        color: var(--ifm-link-color);
        text-decoration: inherit;

        &:hover {
            color: var(--ifm-link-color);
            text-decoration: underline;
        }
    }
}
