/* Footer CSS */

.footer-container {
    width: 100%;
    height: auto;
    padding: 0;
    background-color: (--ifm-background-color);
    
    .graphics {
        width: 100%;
        height: 200px;
        overflow: visible;
        position: relative;
        background-color: var(--ifm-background-color);
        z-index: -1;
        
        .clouds-svg {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
        }
        
        .wave-svg {
            width: 100%;
            height: 60px;
            position: absolute;
            bottom: 0;

            @include mobile-view {
                height: 30px;
            }
            @include slim-mobile-view {
                height: 20px;
            }
        }
    }

    .content-container {
        width: 100%;
        height: auto;
        background-color: var(--footer-color);
    
        .content {
            width: 100%;
            height: auto;
            background-color: var(--footer-color);
            margin-left: auto;
            margin-right: auto;
            max-width: 1230px;
            padding: 40px 15px 80px 15px;
            position: relative;

            @include slim-mobile-view {
                padding: 0 10px;
            }
        
            .social-row {
                width: 100%;
                height: auto;
                display: flex;
                margin-bottom: 40px;

                @include mobile-view {
                    flex-direction: column;
                }
            
                .logo {
                    width: 75%;
                    height: 54px;
                    background: no-repeat left url('@site/static/img/bw-horizontal.svg');

                    @include mobile-view {
                        width: 100%;
                    }

                    @include slim-mobile-view {
                        height: 40px;
                        background-position: center;
                    }
                }
                
                .social-links {
                    display: flex;
                    justify-content: flex-start;
                    gap: 40px;
                    height: 54px;
                    width: 25%;

                    @include mobile-view {
                        width: 100%;
                    }
                    @include slim-mobile-view {
                        height: 40px;
                        gap: 0;
                        justify-content: space-evenly;
                    }
            
                    .social-link {
                        height: 100%;
                        width: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
            
                        svg {
                            height: 28px;
                            width: 28px;
                        }
                    }
                }
                
            }
        
            .columns {
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
            
                .column {
                    width: 25%;
                    height: auto;

                    @media screen and (max-width: 760px) {
                        width: 50%;
                    }
                    @include slim-mobile-view {
                        width: 100%;
                    }
                
                    .menu {
                        width: 100%;
                        height: auto;
                        margin-bottom: 25px;
                    
                        .menu-title {
                            color: var(--ifm-color-primary);
                            font-family: 'Overpass Bold';
                            font-size: 15px;
                            letter-spacing: 0.1em;
                            line-height: 18px;
                            text-transform: uppercase;
                            margin-bottom: 10px;
                        }
                        
                        .menu-link {
                            width: 100%;
                            height: auto;
                            margin-top: 3px;
                    
                            a {
                                color: $white;
                                text-decoration: none;
                    
                                &:hover {
                                    text-decoration: none;
                                    color: $blue55;
                                }
                            }
                        }
                        
                        .call-to-action {
                            width: 100%;
                            height: auto;
                            color: $white;
                            line-height: 24px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    
        .copyright {
            margin-left: auto;
            margin-right: auto;
            max-width: 1230px;
            font-size: 12px;
            color: $white;
            padding: 0 0 6px 15px;
            background-color: var(--footer-color);
        }
    }
}
