/* Markdown CSS */

html.docs-wrapper {

    /** Centered Table **/
    .table-center {
        display: flex;
        justify-content: center;

        table {
            width: auto;
        }
    }

    /* SVG Images on docs/about pages */
    .about-image {
        height: 100px;
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}