/* Navbar CSS */

.navbar {
    box-shadow: none;
    padding: 0 3rem;

    .navbar__items {
        flex: auto; // shows full logo name on mobile

        .dropdown {
            margin-right: 30px;
            margin-left: -5px;
            margin-top: 5px;

            a:hover {
                text-decoration: none;
            }

            .navbar__link {
                font-family: $overpass-bold;

                &:after {   // dropdown menu caret
                    border: none;
                    content: 'expand_more';
                    font-family: 'Material Icons';
                    font-size: 1.6rem;
                    margin-left: auto;
                    position: absolute;
                    transform: none;
                    height: 80%;
                    align-items: center;
                    display: inline-flex;
                }
            }

            .dropdown__menu {
                box-shadow: 0 5px 40px var(--shadow-color);

                .dropdown__link {
                    font-size: 1rem;
                    font-family: 'Overpass Light';
                }
            }
        }

        /* Navbar Icons */       
        .github-link {
            @extend %bw-link;
            background-image: url(@site/static/img/github.svg);

            @include dark-mode {
                background-image: url(@site/static/img/github-dark.svg);
            }
        }
        
        .postman-link {
            @extend %bw-link;
            background-image: url(@site/static/img/postman.svg);
        }
        
        .login-link {
            order: 5;

            &:before {
                content: 'Login';
                @extend %blue-button;
            }
        }
    }
}
