{
  "swagger" : "2.0",
  "info" : {
    "description" : "Bandwidth's HTTP voice platform",
    "version" : "1.5.0",
    "title" : "Voice",
    "x-server-configuration": {
      "default-environment": "production",
      "default-server": "default",
      "environments": [
        {
          "name": "production",
          "servers": [
            {
              "name": "default",
              "url": "https://voice.bandwidth.com"
            }
          ]
        },
        {
          "name": "custom",
          "servers": [
            {
              "name": "default",
              "url": "{base_url}"
            }
          ]
        }
      ],
      "parameters": [
        {
          "name": "base_url",
          "description": "",
          "type": "string",
          "default": "https://www.example.com"
        }
      ]
    }
  },
  "host" : "voice.bandwidth.com",
  "schemes" : [ "https" ],
  "paths" : {
    "/api/v2/accounts/{accountId}/calls" : {
      "post" : {
        "summary" : "Creates an outbound call",
        "description" : "",
        "operationId" : "createCall",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ApiCreateCallRequest"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "successful operation",
            "headers" : {
              "Location" : {
                "type" : "string",
                "description" : "The URL for further interactions with this call"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiCallResponse"
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/calls/{callId}" : {
      "get" : {
        "summary" : "Returns near-realtime metadata about the specified call",
        "description" : "",
        "operationId" : "getCallState",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ApiCallStateResponse"
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Interrupts and replaces an active call's BXML document",
        "description" : "",
        "operationId" : "modifyCall",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ApiModifyCallRequest"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/calls/{callId}/recording" : {
      "put" : {
        "summary" : "Pauses or resumes a recording",
        "description" : "",
        "operationId" : "modifyCallRecordingState",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ModifyCallRecordingState"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/calls/{callId}/recordings" : {
      "get" : {
        "summary" : "Get metadata for all of the recordings that took place during the specified call",
        "description" : "Returns a (potentially empty) list of metadata for the recordings that took place during the specified call",
        "operationId" : "queryMetadataForAccountAndCall",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/RecordingMetadataResponse"
              }
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/calls/{callId}/recordings/{recordingId}" : {
      "get" : {
        "summary" : "Returns metadata for the specified recording",
        "description" : "",
        "operationId" : "getMetadataForRecording",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordingId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RecordingMetadataResponse"
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Deletes the specified recording",
        "description" : "",
        "operationId" : "deleteRecording",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordingId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/calls/{callId}/recordings/{recordingId}/media" : {
      "get" : {
        "summary" : "Downloads the specified recording",
        "description" : "",
        "operationId" : "streamRecordingMedia",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordingId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "file"
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Deletes the specified recording's media",
        "description" : "",
        "operationId" : "deleteRecordingMedia",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordingId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/calls/{callId}/recordings/{recordingId}/transcription" : {
      "get" : {
        "summary" : "Downloads the specified transcription",
        "description" : "",
        "operationId" : "getRecordingTranscription",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordingId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/TranscriptionResponse"
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Requests that the specified recording be transcribed",
        "description" : "",
        "operationId" : "transcribeRecording",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordingId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ApiTranscribeRecordingRequest"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "410" : {
            "description" : "The media for this recording has been deleted, so we can't transcribe it",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      },
      "delete" : {
        "summary" : "Deletes the specified recording's transcription",
        "description" : "",
        "operationId" : "deleteRecordingTranscription",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordingId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/conferences" : {
      "get" : {
        "summary" : "Returns information about the conferences in the account",
        "description" : "",
        "operationId" : "getConferencesByAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "pageSize",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "default" : 1000,
          "format" : "int32"
        }, {
          "name" : "pageToken",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minCreatedTime",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxCreatedTime",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ConferenceDetail"
              }
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/conferences/{conferenceId}" : {
      "get" : {
        "summary" : "Returns information about the specified conference",
        "description" : "",
        "operationId" : "getConferenceById",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "conferenceId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ConferenceDetail"
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      },
      "post" : {
        "summary" : "Modify the conference state",
        "description" : "",
        "operationId" : "modifyConference",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "conferenceId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CallEngineModifyConferenceRequest"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/conferences/{conferenceId}/members/{callId}" : {
      "put" : {
        "summary" : "Updates settings for a particular conference member",
        "description" : "",
        "operationId" : "modifyConferenceMember",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "conferenceId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "callId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ConferenceMemberDetail"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/conferences/{conferenceId}/members/{memberId}" : {
      "get" : {
        "summary" : "Returns information about the specified conference member",
        "description" : "",
        "operationId" : "getConferenceMember",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "conferenceId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "memberId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/ConferenceMemberDetail"
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/conferences/{conferenceId}/recordings" : {
      "get" : {
        "summary" : "Get metadata for all of the recordings that took place during the specified conference",
        "description" : "Returns a (potentially empty) list of metadata for the recordings that took place during the specified conference",
        "operationId" : "queryMetadataForAccountAndConference",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "conferenceId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ConferenceRecordingMetadataResponse"
              }
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/conferences/{conferenceId}/recordings/{recordingId}" : {
      "get" : {
        "summary" : "Returns metadata for the specified recording",
        "description" : "",
        "operationId" : "getMetadataForConferenceRecording",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "conferenceId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordingId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/RecordingMetadataResponse"
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/conferences/{conferenceId}/recordings/{recordingId}/media" : {
      "get" : {
        "summary" : "Downloads the specified recording",
        "description" : "",
        "operationId" : "streamConferenceRecordingMedia",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "conferenceId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "recordingId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "file"
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{accountId}/recordings" : {
      "get" : {
        "summary" : "Returns metadata for up to 1000 of your account's most recent recordings (optionally filterable)",
        "description" : "Returns a list of metadata for the recordings associated with the specified account. The list can be filtered by the optional from, to, minStartTime, and maxStartTime arguments. The list is capped at 1000 entries and may be empty if no recordings match the specified criteria.",
        "operationId" : "queryMetadataForAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "from",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "to",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "minStartTime",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "maxStartTime",
          "in" : "query",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/RecordingMetadataResponse"
              }
            }
          },
          "400" : {
            "description" : "Something's not quite right... Your request is invalid. Please fix it before trying again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "401" : {
            "description" : "Your credentials are invalid. Please use your Bandwidth dashboard credentials to authenticate to the API."
          },
          "403" : {
            "description" : "User unauthorized to perform this action.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "404" : {
            "description" : "The resource specified cannot be found or does not belong to you.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "415" : {
            "description" : "We don't support that media type. If a request body is required, please send it to us as `application/json`.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "429" : {
            "description" : "You're sending requests to this endpoint too frequently. Please slow your request rate down and try again.",
            "headers" : {
              "Retry-After" : {
                "type" : "string",
                "description" : "When you should try your request again"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          },
          "500" : {
            "description" : "Something unexpected happened. Please try again.",
            "schema" : {
              "$ref" : "#/definitions/ApiErrorResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "basicAuth" : {
      "type" : "basic"
    }
  },
  "definitions" : {
    "ApiCallResponse" : {
      "type" : "object",
      "required" : [ "accountId", "answerMethod", "answerUrl", "applicationId", "callId", "callUrl", "disconnectMethod", "from", "to" ],
      "properties" : {
        "accountId" : {
          "type" : "string"
        },
        "callId" : {
          "type" : "string"
        },
        "applicationId" : {
          "type" : "string"
        },
        "to" : {
          "type" : "string"
        },
        "from" : {
          "type" : "string"
        },
        "startTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "callUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "callTimeout" : {
          "type" : "number",
          "format" : "double"
        },
        "callbackTimeout" : {
          "type" : "number",
          "format" : "double"
        },
        "answerUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "answerMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "answerFallbackUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "answerFallbackMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "disconnectUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "disconnectMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "username" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "fallbackUsername" : {
          "type" : "string"
        },
        "fallbackPassword" : {
          "type" : "string"
        },
        "tag" : {
          "type" : "string"
        }
      }
    },
    "ApiCallStateResponse" : {
      "type" : "object",
      "properties" : {
        "callId" : {
          "type" : "string"
        },
        "parentCallId" : {
          "type" : "string"
        },
        "applicationId" : {
          "type" : "string"
        },
        "accountId" : {
          "type" : "string"
        },
        "to" : {
          "type" : "string"
        },
        "from" : {
          "type" : "string"
        },
        "direction" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string",
          "enum" : [ "disconnected", "answered", "initiated" ]
        },
        "startTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "answerTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "endTime" : {
          "type" : "string",
          "format" : "date-time"
        },
        "disconnectCause" : {
          "type" : "string",
          "enum" : [ "busy", "callback-error", "cancel", "error", "hangup", "invalid-bxml", "rejected", "timeout", "account-limit", "node-capacity-exceeded", "unknown", "application-error" ]
        },
        "errorMessage" : {
          "type" : "string"
        },
        "errorId" : {
          "type" : "string"
        },
        "lastUpdate" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "ApiCreateCallRequest" : {
      "type" : "object",
      "required" : [ "answerUrl", "applicationId", "from", "to" ],
      "properties" : {
        "from" : {
          "type" : "string",
          "example" : "+15558675309",
          "description" : "Format is E164"
        },
        "to" : {
          "type" : "string",
          "example" : "+15555555555",
          "description" : "Format is E164"
        },
        "callTimeout" : {
          "type" : "number",
          "format" : "double"
        },
        "callbackTimeout" : {
          "type" : "number",
          "format" : "double"
        },
        "answerUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "answerFallbackUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "username" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "fallbackUsername" : {
          "type" : "string"
        },
        "fallbackPassword" : {
          "type" : "string"
        },
        "answerMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "answerFallbackMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "disconnectUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "disconnectMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "tag" : {
          "type" : "string"
        },
        "applicationId" : {
          "type" : "string"
        },
        "obfuscatedTo" : {
          "type" : "string"
        },
        "obfuscatedFrom" : {
          "type" : "string"
        }
      }
    },
    "ApiErrorResponse" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        }
      }
    },
    "ApiModifyCallRequest" : {
      "type" : "object",
      "required" : [ "redirectUrl" ],
      "properties" : {
        "state" : {
          "type" : "string",
          "enum" : [ "active", "completed" ]
        },
        "redirectUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "redirectFallbackUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "redirectMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "redirectFallbackMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "username" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "fallbackUsername" : {
          "type" : "string"
        },
        "fallbackPassword" : {
          "type" : "string"
        },
        "tag" : {
          "type" : "string"
        }
      }
    },
    "CallEngineModifyConferenceRequest" : {
      "type" : "object",
      "required" : [ "redirectUrl" ],
      "properties" : {
        "status" : {
          "type" : "string",
          "enum" : [ "active", "completed" ]
        },
        "redirectUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "redirectFallbackUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "redirectMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "redirectFallbackMethod" : {
          "type" : "string",
          "enum" : [ "POST", "GET" ]
        },
        "username" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "fallbackUsername" : {
          "type" : "string"
        },
        "fallbackPassword" : {
          "type" : "string"
        }
      }
    },
    "ApiTranscribeRecordingRequest" : {
      "type" : "object",
      "properties" : {
        "callbackUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "callbackMethod" : {
          "type" : "string",
          "enum" : [ "GET", "HEAD", "POST", "PUT", "PATCH", "DELETE", "OPTIONS", "TRACE" ]
        },
        "username" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "tag" : {
          "type" : "string"
        },
        "callbackTimeout" : {
          "type" : "number",
          "format" : "double"
        }
      }
    },
    "ConferenceDetail" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "createdTime" : {
            "type" : "string",
            "format" : "date-time"
        },
        "completedTime" : {
            "type" : "string",
            "format" : "date-time"
        },
        "conferenceEventUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "conferenceEventMethod" : {
          "type" : "string",
          "enum" : [ "GET", "HEAD", "POST", "PUT", "PATCH", "DELETE", "OPTIONS", "TRACE" ]
        },
        "tag" : {
          "type" : "string"
        },
        "activeMembers" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ConferenceMemberDetail"
          }
        }
      }
    },
    "ConferenceMemberDetail" : {
      "type" : "object",
      "properties" : {
        "callId" : {
          "type" : "string"
        },
        "conferenceId" : {
          "type" : "string"
        },
        "memberUrl" : {
          "type" : "string"
        },
        "mute" : {
          "type" : "boolean"
        },
        "hold" : {
          "type" : "boolean"
        },
        "callIdsToCoach" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "ConferenceRecordingMetadataResponse" : {
      "type" : "object",
      "properties" : {
        "accountId" : {
          "type" : "string"
        },
        "conferenceId" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "recordingId" : {
          "type" : "string"
        },
        "duration" : {
          "type" : "string",
          "description" : "Format is ISO-8601"
        },
        "channels" : {
          "type" : "integer",
          "format" : "int32"
        },
        "startTime" : {
            "type" : "string",
            "format" : "date-time"
        },
        "endTime" : {
            "type" : "string",
            "format" : "date-time"
        },
        "fileFormat" : {
          "type" : "string",
          "enum" : [ "mp3", "wav" ]
        },
        "status" : {
          "type" : "string",
          "enum" : [ "processing", "partial", "complete", "deleted", "error", "already-in-progress" ]
        },
        "mediaUrl" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "ModifyCallRecordingState" : {
      "type" : "object",
      "properties" : {
        "state" : {
          "type" : "string",
          "enum" : [ "NOT_RECORDING", "PAUSED", "RECORDING" ]
        }
      }
    },
    "RecordingMetadataResponse" : {
      "type" : "object",
      "properties" : {
        "applicationId" : {
          "type" : "string"
        },
        "accountId" : {
          "type" : "string"
        },
        "callId" : {
          "type" : "string"
        },
        "parentCallId" : {
          "type" : "string"
        },
        "recordingId" : {
          "type" : "string"
        },
        "to" : {
          "type" : "string"
        },
        "from" : {
          "type" : "string"
        },
        "transferCallerId" : {
          "type" : "string"
        },
        "transferTo" : {
          "type" : "string"
        },
        "duration" : {
          "type" : "string",
          "description" : "Format is ISO-8601"
        },
        "direction" : {
          "type" : "string",
          "enum" : [ "inbound", "outbound" ]
        },
        "channels" : {
          "type" : "integer",
          "format" : "int32"
        },
        "startTime" : {
            "type" : "string",
            "format" : "date-time"
        },
        "endTime" : {
            "type" : "string",
            "format" : "date-time"
        },
        "fileFormat" : {
          "type" : "string",
          "enum" : [ "mp3", "wav" ]
        },
        "status" : {
          "type" : "string",
          "enum" : [ "processing", "partial", "complete", "deleted", "error", "already-in-progress" ]
        },
        "mediaUrl" : {
          "type" : "string",
          "format" : "uri"
        },
        "transcription" : {
          "$ref" : "#/definitions/Transcription"
        }
      }
    },
    "Transcript" : {
      "type" : "object",
      "properties" : {
        "text" : {
          "type" : "string"
        },
        "confidence" : {
          "type" : "number",
          "format" : "double",
          "readOnly" : true
        }
      }
    },
    "Transcription" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        },
        "status" : {
          "type" : "string",
          "enum" : [ "none", "processing", "available", "error", "timeout", "file-size-too-big", "file-size-too-small" ]
        },
        "completedTime" : {
          "type" : "string"
        },
        "url" : {
          "type" : "string",
          "format" : "uri"
        }
      }
    },
    "TranscriptionResponse" : {
      "type" : "object",
      "properties" : {
        "transcripts" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Transcript"
          }
        }
      }
    }
  }
}
