openapi: 3.0.3
info:
  title: AI Bridge
  description: >-
    This AI Bridge API can be used to create and manage Providers and Bots for
    the Bandwidth AI Bridge product.
  contact:
    name: Bandwidth
    url: https://support.bandwidth.com/todo
    email: test@support.bandwidth.com
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
  version: 1.0.0
servers:
  - url: https://eng.dashboard.bandwidth.com/portal/report/aibridge
    description: Development and test server.
  - url: https://dashboard.bandwidth.com/portal/report/aibridge
    description: Production server.
paths:
  /accounts/{accountId}/aibridge/providers:
    get:
      summary: List All Providers
      operationId: listProviders
      description: Retrieve a list of all Providers for a single account.
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          $ref: '#/components/responses/listProvidersResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
      tags:
        - Providers
    post:
      summary: Add a Provider
      operationId: createProvider
      description: Create a configuration for a new Provider.
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        $ref: '#/components/requestBodies/providerPostRequest'
      tags:
        - Providers
      responses:
        '200':
          $ref: '#/components/responses/createProviderResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
  /accounts/{accountId}/aibridge/providers/{providerId}:
    get:
      summary: Get a Provider by accountId and providerId
      operationId: getProvider
      description: >-
        Get a provider which corresponds to a particular account and provider
        Id.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/providerId'
      responses:
        '200':
          $ref: '#/components/responses/getProviderResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
      tags:
        - Providers
    put:
      summary: Replace a Provider
      operationId: replaceProvider
      description: Replace the configuration for an existing Provider.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/providerId'
      requestBody:
        $ref: '#/components/requestBodies/providerPutRequest'
      tags:
        - Providers
      responses:
        '200':
          $ref: '#/components/responses/replaceProviderResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
    patch:
      summary: Update a Provider
      operationId: updateProvider
      description: Update an existing Provider.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/providerId'
      requestBody:
        $ref: '#/components/requestBodies/providerPatchRequest'
      tags:
        - Providers
      responses:
        '200':
          $ref: '#/components/responses/updateProviderResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
    delete:
      summary: Delete a Provider
      operationId: deleteProvider
      description: Delete an existing Provider
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/providerId'
      responses:
        '204':
          $ref: '#/components/responses/deleteProviderResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
      tags:
        - Providers
  /accounts/{accountId}/aibridge/bots:
    get:
      summary: List All Bots
      operationId: listBots
      description: Retrieve a list of all Bots for a single account.
      parameters:
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          $ref: '#/components/responses/listBotsResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
      tags:
        - Bots
    post:
      summary: Add a Bot
      operationId: createBot
      description: Create a configuration for a new Bot.
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        $ref: '#/components/requestBodies/createBotRequest'
      responses:
        '200':
          $ref: '#/components/responses/createBotResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
      tags:
        - Bots
  /accounts/{accountId}/aibridge/bots/{botId}:
    parameters:
      - $ref: '#/components/parameters/botId'
      - $ref: '#/components/parameters/accountId'
    get:
      summary: Get a Bot by accountId and BotId
      operationId: getBot
      description: Get a Bot which corresponds to a particular account and Bot Id.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/botId'
      responses:
        '200':
          $ref: '#/components/responses/getBotResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
      tags:
        - Bots
    put:
      summary: Replace a Bot
      operationId: replaceBot
      description: Replace the configuration for an existing Bot.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/botId'
      requestBody:
        $ref: '#/components/requestBodies/botPutRequest'
      responses:
        '200':
          $ref: '#/components/responses/getBotResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
      tags:
        - Bots
    patch:
      summary: Update a Bot
      operationId: updateBot
      description: Update an existing Bot.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/botId'
      requestBody:
        $ref: '#/components/requestBodies/botPatchRequest'
      responses:
        '200':
          $ref: '#/components/responses/getBotResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
      tags:
        - Bots
    delete:
      summary: Delete a Bot
      operationId: deleteBot
      description: Delete an existing Bot.
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/botId'
      responses:
        '204':
          $ref: '#/components/responses/deleteBotResponse'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '405':
          $ref: '#/components/responses/notAllowedError'
        '429':
          $ref: '#/components/responses/tooManyRequestsError'
        5XX:
          $ref: '#/components/responses/internalServerError'
      tags:
        - Bots
components:
  parameters:
    accountId:
      name: accountId
      schema:
        $ref: '#/components/schemas/accountId'
      example: 1234567
      in: path
      required: true
    providerId:
      name: providerId
      in: path
      description: The related provider id.
      required: true
      schema:
        type: string
      example: 255d53ae-9cd8-4eed-8e33-0464c728e02a
    botId:
      name: botId
      in: path
      description: The related bot id.
      required: true
      schema:
        type: string
      example: 255d53ae-9cd8-4eed-8e33-0464c728e02a
  responses:
    listProvidersResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listProviderResponse'
          examples:
            listProviderResponseExample:
              $ref: '#/components/examples/listProviderResponseExample'
    listBotsResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listBotResponse'
          examples:
            listBotResponseExample:
              $ref: '#/components/examples/listBotResponseExample'
    getProviderResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/providerResponse'
          examples:
            googleEsProviderExample:
              $ref: '#/components/examples/googleEsProviderGetResponseExample'
            googleCxProviderExample:
              $ref: '#/components/examples/googleCxProviderGetResponseExample'
            awsProviderExample:
              $ref: '#/components/examples/awsProviderGetResponseExample'
            cognigyProviderExample:
              $ref: '#/components/examples/cognigyProviderGetResponseExample'
    getBotResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getBotResponse'
          examples:
            botExample:
              $ref: '#/components/examples/botGetResponseExample'
    createProviderResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createProviderResponse'
          examples:
            googleEsProviderExample:
              $ref: '#/components/examples/googleEsProviderPostResponseExample'
            googleCxProviderExample:
              $ref: '#/components/examples/googleCxProviderPostResponseExample'
            awsProviderExample:
              $ref: '#/components/examples/awsProviderPostResponseExample'
            cognigyProviderExample:
              $ref: '#/components/examples/cognigyProviderPostResponseExample'
    createBotResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createBotResponse'
          examples:
            postBotResponse:
              $ref: '#/components/examples/botPostResponseExample'
    replaceProviderResponse:
      description: A JSON object containing the updated details of the Provider.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/replaceProviderResponseData'
          examples:
            googleEsProviderExample:
              $ref: '#/components/examples/googleEsProviderPutResponseExample'
            googleCxProviderExample:
              $ref: '#/components/examples/googleEsProviderPutResponseExample'
            awsProviderExample:
              $ref: '#/components/examples/awsProviderPutResponseExample'
            cognigyProviderExample:
              $ref: '#/components/examples/cognigyProviderPutResponseExample'
    updateProviderResponse:
      description: A JSON object containing the updated details of the Provider.
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/googleEsProviderResponseData'
              - $ref: '#/components/schemas/awsProviderResponseData'
              - $ref: '#/components/schemas/cognigyProviderResponseData'
          examples:
            googleEsProviderExample:
              $ref: '#/components/examples/googleEsProviderPatchResponseExample'
            googleCxProviderExample:
              $ref: '#/components/examples/googleEsProviderPatchResponseExample'
            awsProviderExample:
              $ref: '#/components/examples/awsProviderPatchResponseExample'
            cognigyProviderExample:
              $ref: '#/components/examples/cognigyProviderPatchResponseExample'
    deleteProviderResponse:
      description: The provider was successfully deleted. No response body is returned.
    deleteBotResponse:
      description: The provider was successfully deleted. No response body is returned.
    badRequestError:
      description: A bad request error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/badRequestError'
          examples:
            badRequestErrorExample:
              $ref: '#/components/examples/badRequestErrorExample'
    notFoundError:
      description: A resource not found error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/notFoundError'
          examples:
            notFoundErrorExample:
              $ref: '#/components/examples/notFoundErrorExample'
    notAllowedError:
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/methodNotAllowedError'
          examples:
            notAllowedErrorExample:
              $ref: '#/components/examples/notAllowedErrorExample'
    tooManyRequestsError:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/tooManyRequestsError'
          examples:
            tooManyRequestsErrorExample:
              $ref: '#/components/examples/tooManyRequestsErrorExample'
    internalServerError:
      description: An internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/internalServerError'
          examples:
            internalServerErrorExample:
              $ref: '#/components/examples/internalServerErrorExample'
    unauthorizedError:
      description: Ununauthorized error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/authenticationError'
          examples:
            unauthorizedErrorExample:
              $ref: '#/components/examples/unauthorizedErrorExample'
    forbiddenError:
      description: Ununauthorized error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/authorizationError'
          examples:
            unauthorizedErrorExample:
              $ref: '#/components/examples/forbiddenErrorExample'
  schemas:
    providerResponse:
      title: Provider Response Payload
      type: object
      description: Response payload for provider information.
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/links'
          example:
            $ref: '#/components/examples/linksExample'
          nullable: true
        data:
          oneOf:
            - $ref: '#/components/schemas/googleEsProviderResponseData'
            - $ref: '#/components/schemas/googleCxProviderResponseData'
            - $ref: '#/components/schemas/awsProviderResponseData'
            - $ref: '#/components/schemas/cognigyProviderResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          example:
            $ref: '#/components/examples/errorsExample'
          nullable: true
      required:
        - links
        - data
        - errors
    getBotResponse:
      title: Bot Response Payload
      type: object
      description: Response payload for bot information.
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/links'
          example:
            $ref: '#/components/examples/linksExample'
          nullable: true
        data:
          $ref: '#/components/schemas/botResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          example:
            $ref: '#/components/examples/errorsExample'
          nullable: true
      required:
        - links
        - data
        - errors
    createProviderResponse:
      title: Provider Response Payload
      type: object
      description: Response payload for provider information.
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/links'
          example:
            $ref: '#/components/examples/linksExample'
          nullable: true
        data:
          oneOf:
            - $ref: '#/components/schemas/googleEsProviderResponseData'
            - $ref: '#/components/schemas/googleCxProviderResponseData'
            - $ref: '#/components/schemas/awsProviderResponseData'
            - $ref: '#/components/schemas/cognigyProviderResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          example:
            $ref: '#/components/examples/errorsExample'
          nullable: true
      required:
        - links
        - data
        - errors
    createBotResponse:
      title: Provider Response Payload
      type: object
      description: Response payload for provider information.
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/links'
          example:
            $ref: '#/components/examples/linksExample'
          nullable: true
        data:
          $ref: '#/components/schemas/botResponseData'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          example:
            $ref: '#/components/examples/errorsExample'
          nullable: true
      required:
        - links
        - data
        - errors
    listProviderResponse:
      title: Provider Response Payload
      type: object
      description: Response payload for provider information.
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/links'
          example:
            $ref: '#/components/examples/linksExample'
          nullable: true
        data:
          properties:
            totalCount:
              type: integer
              example:
                $ref: '#/components/examples/totalCountExample'
            providers:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/googleEsProviderResponseData'
                  - $ref: '#/components/schemas/googleCxProviderResponseData'
                  - $ref: '#/components/schemas/awsProviderResponseData'
                  - $ref: '#/components/schemas/cognigyProviderResponseData'
              example:
                $ref: '#/components/examples/providersExample'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          example:
            $ref: '#/components/examples/errorsExample'
          nullable: true
      required:
        - links
        - data
        - errors
    listBotResponse:
      title: Provider Response Payload
      type: object
      description: Response payload for provider information.
      properties:
        links:
          type: array
          items:
            $ref: '#/components/schemas/links'
          example:
            $ref: '#/components/examples/linksExample'
          nullable: true
        data:
          properties:
            totalCount:
              type: integer
              description: The total count of objects returned in the response.
              example:
                $ref: '#/components/examples/totalCountExample'
            bots:
              type: array
              items:
                $ref: '#/components/schemas/botResponseData'
              example:
                $ref: '#/components/examples/botsExample'
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/error'
          example:
            $ref: '#/components/examples/errorsExample'
          nullable: true
      required:
        - links
        - data
        - errors
    accountId:
      type: integer
      description: >-
        The ID of the Bandwidth Dashboard account that the called number of the
        phone call is assigned to.
      example: 1234567
    googleEsProviderResponseData:
      title: Google-ES Provider Response Data
      type: object
      description: Contains Provider information.
      properties:
        id:
          $ref: '#/components/schemas/id'
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/googleEs'
        displayName:
          $ref: '#/components/schemas/displayName'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
              - $ref: '#/components/schemas/tts'
              - $ref: '#/components/schemas/stt'
          example:
            $ref: '#/components/examples/roleExample'
        googleProvider:
          $ref: '#/components/schemas/googleEsProviderResponse'
      nullable: true
      example:
        $ref: '#/components/examples/googleEsProviderExample'
    googleCxProviderResponseData:
      title: Google-CX Provider Response Data
      type: object
      description: Contains Provider information.
      properties:
        id:
          $ref: '#/components/schemas/id'
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/googleEs'
        displayName:
          $ref: '#/components/schemas/displayName'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
              - $ref: '#/components/schemas/tts'
              - $ref: '#/components/schemas/stt'
          example:
            $ref: '#/components/examples/roleExample'
        googleProvider:
          $ref: '#/components/schemas/googleCxProviderResponse'
      nullable: true
      example:
        $ref: '#/components/examples/googleCxProviderExample'
    botResponseData:
      title: Bot properties
      type: object
      description: Contains Bot information.
      properties:
        id:
          $ref: '#/components/schemas/id'
        provider:
          oneOf:
            - $ref: '#/components/schemas/provider'
        displayName:
          $ref: '#/components/schemas/displayName'
        description:
          $ref: '#/components/schemas/description'
        botFailover:
          $ref: '#/components/schemas/botFailover'
        transferTarget:
          $ref: '#/components/schemas/transferTarget'
        dtmfCollect:
          $ref: '#/components/schemas/dtmfCollect'
        dtmfCollectMaxDigits:
          $ref: '#/components/schemas/dtmfCollectMaxDigits'
        dtmfCollectSubmitDigit:
          $ref: '#/components/schemas/dtmfCollectSubmitDigit'
        sttProvider:
          oneOf:
            - $ref: '#/components/schemas/googleSpeechToTextBot'
            - $ref: '#/components/schemas/awsSpeechToTextBot'
        ttsProvider:
          oneOf:
            - $ref: '#/components/schemas/googleTextToSpeechBot'
            - $ref: '#/components/schemas/awsTextToSpeechBot'
      nullable: true
      example:
        $ref: '#/components/examples/googleBotExample'
    awsProviderResponseData:
      title: AWS Provider Response Data
      type: object
      properties:
        id:
          $ref: '#/components/schemas/id'
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/aws'
        displayName:
          $ref: '#/components/schemas/displayName'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/tts'
              - $ref: '#/components/schemas/stt'
          example:
            $ref: '#/components/examples/roleExample'
        awsProvider:
          $ref: '#/components/schemas/awsProviderResponse'
      nullable: true
      example:
        $ref: '#/components/examples/awsProviderExample'
    cognigyProviderResponseData:
      title: Cognigy Provider Response Data
      type: object
      properties:
        id:
          $ref: '#/components/schemas/id'
        description:
          $ref: '#/components/schemas/description'
        displayName:
          $ref: '#/components/schemas/displayName'
        type:
          $ref: '#/components/schemas/cognigy'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
          example:
            $ref: '#/components/examples/roleExample'
        cognigyProvider:
          $ref: '#/components/schemas/cognigyProvider'
      nullable: true
    example:
      $ref: '#/components/examples/cognigyProviderExample'
    googleEsProviderRequestData:
      title: Google-ES Provider Request Data
      type: object
      description: Google provider request example.
      properties:
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/googleEs'
        displayName:
          $ref: '#/components/schemas/displayName'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
              - $ref: '#/components/schemas/tts'
              - $ref: '#/components/schemas/stt'
          example:
            $ref: '#/components/examples/roleExample'
        googleProvider:
          $ref: '#/components/schemas/googleEsProvider'
      example:
        $ref: '#/components/examples/googleEsProviderExample'
      required:
        - displayName
        - description
        - type
        - googleProvider
    googleCxProviderRequestData:
      title: Google-CX Provider Request Data
      type: object
      description: Google provider request example.
      properties:
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/type'
        displayName:
          $ref: '#/components/schemas/displayName'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
              - $ref: '#/components/schemas/tts'
              - $ref: '#/components/schemas/stt'
          example:
            $ref: '#/components/examples/roleExample'
        googleProvider:
          $ref: '#/components/schemas/googleCxProvider'
      example:
        $ref: '#/components/examples/googleCxProviderExample'
      required:
        - displayName
        - description
        - type
        - googleProvider
    botRequestData:
      title: Google Bot Request Data
      type: object
      description: Bot request example.
      properties:
        provider:
          oneOf:
            - $ref: '#/components/schemas/provider'
        displayName:
          $ref: '#/components/schemas/displayName'
        description:
          $ref: '#/components/schemas/description'
        botFailover:
          $ref: '#/components/schemas/botFailover'
        transferTarget:
          $ref: '#/components/schemas/transferTarget'
        dtmfCollect:
          $ref: '#/components/schemas/dtmfCollect'
        dtmfCollectMaxDigits:
          $ref: '#/components/schemas/dtmfCollectMaxDigits'
        dtmfCollectSubmitDigit:
          $ref: '#/components/schemas/dtmfCollectSubmitDigit'
        sttProvider:
          oneOf:
            - $ref: '#/components/schemas/googleSpeechToTextBot'
            - $ref: '#/components/schemas/awsSpeechToTextBot'
        ttsProvider:
          oneOf:
            - $ref: '#/components/schemas/googleTextToSpeechBot'
            - $ref: '#/components/schemas/awsTextToSpeechBot'
      example:
        $ref: '#/components/examples/googleBotResponseExample'
      required:
        - id
        - provider
        - displayName
        - description
        - botFailover
        - sipHeadersToBot
        - dtmfCollect
        - dtmfCollectMaxDigits
        - sttProvider
        - ttsProvider
    awsProviderRequestData:
      title: AWS Provider Request Data
      type: object
      description: Aws request example.
      properties:
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/type'
        displayName:
          $ref: '#/components/schemas/displayName'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/tts'
              - $ref: '#/components/schemas/stt'
          example:
            $ref: '#/components/examples/roleExample'
        awsProvider:
          $ref: '#/components/schemas/awsProvider'
      required:
        - displayName
        - description
        - type
        - awsProvider
      example:
        $ref: '#/components/examples/awsProviderExample'
    cognigyProviderRequestData:
      title: Cognigy Provider request Data
      type: object
      description: Cognigy request example
      properties:
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/type'
        displayName:
          $ref: '#/components/schemas/displayName'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
          example:
            $ref: '#/components/examples/roleExample'
        cognigyProvider:
          $ref: '#/components/schemas/cognigyProvider'
      required:
        - displayName
        - description
        - type
        - role
        - cognigyProvider
    badRequestError:
      type: object
      properties:
        errorCode:
          type: integer
          description: The error code.
          example: 400
        errorMsg:
          type: string
          description: The error message.
          example: Malformed request data
      required:
        - errorCode
        - errorMsg
    authenticationError:
      type: object
      properties:
        errorCode:
          type: integer
          description: The error code.
          example: 401
        errorMsg:
          type: string
          description: The error message.
          example: Invalid credentials
      required:
        - errorCode
        - errorMsg
    authorizationError:
      type: object
      properties:
        errorCode:
          type: integer
          description: The error code.
          example: 403
        errorMsg:
          type: string
          description: The error message.
          example: Insufficient privileges
      required:
        - errorCode
        - errorMsg
    notFoundError:
      type: object
      properties:
        errorCode:
          type: integer
          description: The error code
          example: 404
        errorMsg:
          type: string
          description: The error message
          example: Resource not found
      required:
        - errorCode
        - errorMsg
    methodNotAllowedError:
      type: object
      properties:
        errorCode:
          type: integer
          description: The error code
          example: 405
        errorMsg:
          type: string
          description: The error message
          example: Method not allowed
      required:
        - errorCode
        - errorMsg
    tooManyRequestsError:
      type: object
      properties:
        errorCode:
          type: integer
          description: The error code
          example: 429
        errorMsg:
          type: string
          description: The error message
          example: Too many requests
      required:
        - errorCode
        - errorMsg
    internalServerError:
      type: object
      properties:
        errorCode:
          type: integer
          description: The error code.
          example: 500
        errorMsg:
          type: string
          description: The error message.
          example: Internal server error
      required:
        - errorCode
        - errorMsg
    replaceProviderResponseData:
      type: object
      properties:
        id:
          type: string
          description: The new unique identifier of the updated provider.
          example: f8a7a66a-4f4e-4b27-b557-7f3948a3cd2e
        displayName:
          type: string
          description: The new name of the updated provider.
          example: Provider Y
        description:
          type: string
          description: The new description of the updated provider.
          example: Configuration for Provider Y
        type:
          type: string
          description: The new type of the updated provider, such as 'google' or 'aws'.
          enum:
            - GOOGLE_ES
            - GOOGLE_CX
            - AWS
            - COGNIGY
          example:
            $ref: '#/components/examples/typeExample'
    updateProviderResponseData:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the updated provider.
          example: f8a7a66a-4f4e-4b27-b557-7f3948a3cd2e
        displayName:
          type: string
          description: The new name of the updated provider.
          example: Provider Y
        description:
          type: string
          description: The new description of the updated provider.
          example: Configuration for Provider Y
        type:
          type: string
          description: The new type of the updated provider, such as 'google' or 'aws'.
          enum:
            - GOOGLE_ES
            - GOOGLE_CX
            - AWS
            - COGNIGY
          example:
            $ref: '#/components/examples/typeExample'
    updateProvider:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the updated provider.
          example: f8a7a66a-4f4e-4b27-b557-7f3948a3cd2e
        displayName:
          type: string
          description: The new name of the updated provider.
          example: Provider Y
        description:
          type: string
          description: The new description of the updated provider.
          example: Configuration for Provider Y
        type:
          type: string
          description: The new type of the updated provider, such as 'google' or 'aws'.
          enum:
            - GOOGLE_ES
            - GOOGLE_CX
            - AWS
            - COGNIGY
          example:
            $ref: '#/components/examples/typeExample'
        credentials:
          oneOf:
            - $ref: '#/components/schemas/googleProviderCredentials'
            - $ref: '#/components/schemas/awsProviderCredentials'
        googleConfig:
          $ref: '#/components/schemas/googleEsProviderRequestData'
        cognigyConfig:
          $ref: '#/components/schemas/cognigyProviderRequestData'
        awsConfig:
          $ref: '#/components/schemas/awsProviderRequestData'
    googleProviderCredentials:
      type: object
      properties:
        privateKey:
          type: string
          description: Private key for the Google account.
          example:
            $ref: '#/components/examples/privateKeyExample'
        clientEmail:
          type: string
          description: Email address for the Google account.
          example:
            $ref: '#/components/examples/clientEmailExample'
      required:
        - privateKey
        - clientEmail
      example:
        $ref: '#/components/examples/googleProviderCredentialsExample'
    awsProviderCredentials:
      type: object
      properties:
        accessKey:
          type: string
          description: Access key for the AWS account.
          example:
            $ref: '#/components/examples/accessKeyExample'
        secretKey:
          type: string
          description: Secret key for the AWS account.
          example:
            $ref: '#/components/examples/secretKeyExample'
      required:
        - accessKey
        - secretKey
      example:
        $ref: '#/components/examples/awsProviderCredentialsExample'
    updateGoogleEsProvider:
      type: object
      properties:
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/type'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
              - $ref: '#/components/schemas/tts'
              - $ref: '#/components/schemas/stt'
          example:
            $ref: '#/components/examples/roleExample'
        googleProvider:
          $ref: '#/components/schemas/googleEsProvider'
      required:
        - displayName
        - description
        - type
        - role
        - googleProvider
    updateGoogleCxProvider:
      type: object
      properties:
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/type'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
              - $ref: '#/components/schemas/tts'
              - $ref: '#/components/schemas/stt'
          example:
            $ref: '#/components/examples/roleExample'
        googleProvider:
          $ref: '#/components/schemas/googleEsProvider'
      required:
        - displayName
        - description
        - type
        - role
        - googleProvider
    updateBot:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/id'
        provider:
          oneOf:
            - $ref: '#/components/schemas/provider'
        displayName:
          $ref: '#/components/schemas/displayName'
        description:
          $ref: '#/components/schemas/description'
        botFailover:
          $ref: '#/components/schemas/botFailover'
        transferTarget:
          $ref: '#/components/schemas/transferTarget'
        dtmfCollect:
          $ref: '#/components/schemas/dtmfCollect'
        dtmfCollectMaxDigits:
          $ref: '#/components/schemas/dtmfCollectMaxDigits'
        dtmfCollectSubmitDigit:
          $ref: '#/components/schemas/dtmfCollectSubmitDigit'
        sttProvider:
          oneOf:
            - $ref: '#/components/schemas/googleSpeechToTextBot'
            - $ref: '#/components/schemas/awsSpeechToTextBot'
        ttsProvider:
          oneOf:
            - $ref: '#/components/schemas/googleTextToSpeechBot'
            - $ref: '#/components/schemas/awsTextToSpeechBot'
      required:
        - id
    updateAwsProvider:
      type: object
      properties:
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/type'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
              - $ref: '#/components/schemas/tts'
              - $ref: '#/components/schemas/stt'
          example:
            $ref: '#/components/examples/roleExample'
        awsProvider:
          $ref: '#/components/schemas/awsProvider'
      required:
        - displayName
        - description
        - type
        - role
        - awsProvider
    updateCognigyProvider:
      type: object
      properties:
        description:
          $ref: '#/components/schemas/description'
        type:
          $ref: '#/components/schemas/type'
        role:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/bot'
          example:
            $ref: '#/components/examples/roleExample'
        cognigyProvider:
          $ref: '#/components/schemas/cognigyProvider'
      required:
        - displayName
        - description
        - type
        - role
        - cognigyProvider
    id:
      required:
        - id
      description: uuid
      example: d1e921e4-a6ff-475b-8b20-d27b6f2bc6c9
    description:
      type: string
      required:
        - description
      description: Description is a required field
      example: This is a bot
    type:
      type: string
      required:
        - type
      description: A property to hold the type of a provider
      example: Google-ES
    googleEs:
      type: string
      required:
        - google
      description: google type for provider
      example: Google-ES
    googleCx:
      type: string
      required:
        - googleCx
      description: googleCx type for provider
      example: Google-CX
    aws:
      type: string
      required:
        - aws
      description: aws type for provider
      example: AWS
    cognigy:
      type: string
      required:
        - cognigy
      description: cognigy type for provider
      example: COGNIGY
    botUrl:
      type: string
      description: A string representing the bot endpoint.
      example: https://cognigy.ai/bots/mybot
    botFailover:
      type: string
      description: >-
        A phone number that the call will failover too if there are issues in
        the middle of a call.
      example: 919-111-2222
    displayName:
      type: string
      description: a name for the provider
      example: Provider description
    provider:
      type: string
      description: A string representing the id of a previously setup provider.
      example: d1e921e4-a6ff-475b-8b20-d27b6f2bc6c9
    providerBotName:
      type: string
      description: A string representing the customr given name of a provider.
      example: Bot 1
    region:
      type: string
      description: A string representing the region.
      example: us-east-1
    location:
      type: string
      description: A string representing the location.
      example: Raleigh
    environment:
      type: string
      description: A string representing the environment.
      example: Production
    projectId:
      type: string
      description: A string representing the project ID.
      example: my-project
    agentId:
      type: string
      description: A string representing the agent ID.
      example: my-agent
      minLength: 1
    sttProvider:
      type: string
      description: >-
        A string value for a previously setup provider's uuid used for speech to
        text.
      example: d1e921e4-a6ff-475b-8b20-d27b6f2bc6c9
    ttsProvider:
      type: string
      description: >-
        A string value for a previously setup provider's uuid used for text to
        speech.
      example: d1e921e4-a6ff-475b-8b20-d27b6f2bc6c9
    voiceName:
      type: string
      description: A name for a voice name
      example: jill
    botAlias:
      type: string
      description: Defines the bot alias ID
      example: '1234'
    token:
      type: string
      description: Defines the bot token
      example: '1234'
    oauthTokenUrl:
      type: string
      description: Defines the bot oauthTokenUrl
      example: '1234'
    language:
      type: string
      description: >-
        Defines the language of the bot conversation. The value is obtained from
        the service provider
      example: en-US
    dtmfCollect:
      type: boolean
      description: Enables the DTMF digit collection.
      example: true
    dtmfCollectMaxDigits:
      type: number
      description: >-
        Defines the maximum number of DTMF digits expected to receive from the
        user.
      example: 10
    dtmfCollectSubmitDigit:
      type: string
      description: >-
        Defines a special DTMF "submit" digit that when received from the user,
        sends all the collected digits to the bot (as a DTMF message), without
        waiting for the timeout to expire or for the maximum number of expected
        digits.
      example: '#'
    transferTarget:
      type: string
      description: >-
        URI to where the call should be transferred call to. Typically, the URI
        is a "tel" or "sip" URI.
      example: tel:+19195554321
    ttsEnhancedVoice:
      type: string
      description: Defines the AWS text-to-speech voice as Neural Voice or Standard Voice.
      example: Ivy
    tts:
      type: string
      description: Defines a provider to function as a text to speech integration
      example: tts
    stt:
      type: string
      description: Defines a provider to function as a speech to text integration
      example: stt
    bot:
      type: string
      description: Defines a provider to function as a bot integration
      example: bot
    googleEsProvider:
      required:
        - region
        - location
        - environment
        - projectId
      description: Google Provider is required
      properties:
        region:
          $ref: '#/components/schemas/region'
        location:
          $ref: '#/components/schemas/location'
        environment:
          $ref: '#/components/schemas/environment'
        projectId:
          $ref: '#/components/schemas/projectId'
        googleCredentials:
          $ref: '#/components/schemas/googleProviderCredentials'
    googleCxProvider:
      required:
        - region
        - location
        - environment
        - projectId
        - agentId
      description: Google Provider is required
      properties:
        region:
          $ref: '#/components/schemas/region'
        location:
          $ref: '#/components/schemas/location'
        environment:
          $ref: '#/components/schemas/environment'
        projectId:
          $ref: '#/components/schemas/projectId'
        agentId:
          $ref: '#/components/schemas/agentId'
        googleCredentials:
          $ref: '#/components/schemas/googleProviderCredentials'
    googleEsProviderResponse:
      required:
        - googleProvider
        - region
        - location
        - environment
        - projectId
        - agentId
      description: Google Provider is required
      properties:
        region:
          $ref: '#/components/schemas/region'
        location:
          $ref: '#/components/schemas/location'
        environment:
          $ref: '#/components/schemas/environment'
        projectId:
          $ref: '#/components/schemas/projectId'
        googleCredentials:
          $ref: '#/components/schemas/googleProviderCredentials'
    googleCxProviderResponse:
      required:
        - googleProvider
        - region
        - location
        - environment
        - projectId
        - agentId
      description: Google Provider is required
      properties:
        region:
          $ref: '#/components/schemas/region'
        location:
          $ref: '#/components/schemas/location'
        environment:
          $ref: '#/components/schemas/environment'
        projectId:
          $ref: '#/components/schemas/projectId'
        agentId:
          $ref: '#/components/schemas/agentId'
        googleCredentials:
          $ref: '#/components/schemas/googleProviderCredentials'
    googleSpeechToTextBot:
      required:
        - providerId
        - language
      description: Google Bot is required
      properties:
        providerId:
          $ref: '#/components/schemas/provider'
        language:
          $ref: '#/components/schemas/language'
    googleTextToSpeechBot:
      required:
        - providerId
        - language
      description: Google Bot is required
      properties:
        providerId:
          $ref: '#/components/schemas/provider'
        language:
          $ref: '#/components/schemas/language'
    awsSpeechToTextBot:
      required:
        - providerId
      description: Google Bot is required
      properties:
        providerId:
          $ref: '#/components/schemas/provider'
        language:
          $ref: '#/components/schemas/language'
    awsTextToSpeechBot:
      required:
        - providerId
        - voiceName
        - language
      description: Google Bot is required
      properties:
        providerId:
          $ref: '#/components/schemas/provider'
        voiceName:
          $ref: '#/components/schemas/voiceName'
        language:
          $ref: '#/components/schemas/language'
        ttsEnhancedVoice:
          $ref: '#/components/schemas/ttsEnhancedVoice'
    awsProvider:
      required:
        - region
        - awsCredentials
      description: Google Provider is required
      properties:
        region:
          $ref: '#/components/schemas/region'
        awsCredentials:
          $ref: '#/components/schemas/awsProviderCredentials'
    awsProviderResponse:
      required:
        - awsProvider
        - region
      description: Google Provider is required
      properties:
        region:
          $ref: '#/components/schemas/region'
        awsCredentials:
          $ref: '#/components/schemas/awsProviderCredentials'
    cognigyProvider:
      required:
        - botUrl
      description: Cognigy Provider is required
      properties:
        botUrl:
          $ref: '#/components/schemas/botUrl'
    error:
      title: Error
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for this particular instance of this problem.
          example: optional-error-id
        type:
          type: string
          description: >-
            A short, human-readable summary of the problem that SHOULD NOT
            change from occurrence to occurrence of the problem.
          example: REQUEST_ERROR
        description:
          type: string
          description: >-
            A human-readable explanation that SHOULD be specific to this
            occurrence of the problem.
          example: There was an issue with a field in your request body
        code:
          type: integer
          format: int32
          description: >-
            An application-specific error code for services with extensive error
            scenarios to supplement `description`.
          minimum: 4
          example: 51130
        source:
          $ref: '#/components/schemas/errorSource'
        meta:
          $ref: '#/components/schemas/errorMeta'
      required:
        - description
    errorSource:
      title: Error Source
      type: object
      properties:
        parameter:
          type: string
          description: A string indicating which URI query parameter caused the error.
          example: someParameter
        field:
          type: string
          description: A string indicating which request body field caused the error.
          example: someField
        header:
          type: string
          description: A string indicating which header field caused the error.
          example: someHeader
        reference:
          type: string
          description: >-
            A string that references a resource ID or path to the resource (or
            non-existent resource) causing the error.
          example: /some/reference
    errorMeta:
      title: Error Meta
      type: object
      properties:
        message:
          type: string
          example: An optional metadata field
    links:
      title: Links
      type: object
      properties:
        href:
          type: string
          description: URI of the link.
          example: /relative/uri
        rel:
          type: string
          description: Specifies the relationship between this link and the resource.
          example: aRelatedResource
        method:
          type: string
          description: HTTP method to be used.
          example: GET
      example:
        $ref: '#/components/examples/linksExample'
  requestBodies:
    providerPostRequest:
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/googleEsProviderRequestData'
              - $ref: '#/components/schemas/googleCxProviderRequestData'
              - $ref: '#/components/schemas/awsProviderRequestData'
              - $ref: '#/components/schemas/cognigyProviderRequestData'
          examples:
            googleESProviderExample:
              $ref: '#/components/examples/googleEsProviderExample'
            googleCXProviderExample:
              $ref: '#/components/examples/googleCxProviderExample'
            awsProviderExample:
              $ref: '#/components/examples/awsProviderExample'
            cognigyProviderExample:
              $ref: '#/components/examples/cognigyProviderExample'
    createBotRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/botRequestData'
          examples:
            botRequest:
              $ref: '#/components/examples/botRequestExample'
    providerPutRequest:
      description: Updated configuration details for the Provider.
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/googleEsProviderRequestData'
              - $ref: '#/components/schemas/googleCxProviderRequestData'
              - $ref: '#/components/schemas/awsProviderRequestData'
              - $ref: '#/components/schemas/cognigyProviderRequestData'
          examples:
            googleEsProviderExample:
              $ref: '#/components/examples/googleEsProviderExample'
            googleCxProviderExample:
              $ref: '#/components/examples/googleCxProviderExample'
            awsProviderExample:
              $ref: '#/components/examples/awsProviderExample'
            cognigyProviderExample:
              $ref: '#/components/examples/cognigyProviderExample'
    botPutRequest:
      description: Updated configuration details for the Provider.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/botRequestData'
          examples:
            googleProviderExample:
              $ref: '#/components/examples/botRequestExample'
    providerPatchRequest:
      description: Updated configuration details for the Provider.
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/updateGoogleEsProvider'
              - $ref: '#/components/schemas/updateGoogleCxProvider'
              - $ref: '#/components/schemas/updateCognigyProvider'
              - $ref: '#/components/schemas/updateAwsProvider'
          examples:
            googleEsProvider:
              $ref: '#/components/examples/googleEsProviderExample'
            googleCxProvider:
              $ref: '#/components/examples/googleCxProviderExample'
            awsProvider:
              $ref: '#/components/examples/awsProviderExample'
            cognigyProvider:
              $ref: '#/components/examples/cognigyProviderExample'
    botPatchRequest:
      description: Updated configuration details for the Provider.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/updateBot'
          examples:
            googleBot:
              $ref: '#/components/examples/googleBotExample'
            awsbot:
              $ref: '#/components/examples/awsBotExample'
  examples:
    listProviderResponseExample:
      summary: An example of a list provider response
      value:
        links:
          - href: /providers
            rel: self
            method: GET
        data:
          totalCount: 3
          providers:
            - id: b64b5e72-a850-4f38-98d4-5022cacd3f0a
              displayName: Google-ES Provider
              type: GOOGLE_ES
              description: Google provider description
              role:
                - bot
                - stt
                - tts
              googleProvider:
                region: northamerica
                location: us-east-1
                environment: Production
                projectId: myproject
            - id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
              displayName: Google-CX Provider
              type: GOOGLE_CX
              description: Google provider description
              role:
                - bot
                - stt
                - tts
              googleProvider:
                region: northamerica
                location: us-east-1
                environment: Production
                projectId: myproject
                agentId: myagent
            - id: b64b5e72-a850-4f38-98d4-5022cacd3f0r
              displayName: AWS Provider
              type: AWS
              description: Aws provider description
              awsProvider:
                Region: us-west-1
                awsCredentials:
                  accessKeyId: myaccesskey
                  secretAccessKey: mysecretkey
              role:
                - tts
            - id: b64b5e72-a850-4f38-98d4-5022cacd3f0g
              displayName: Cognigy Provider
              type: COGNIGY
              description: Cognigy provider description
              cognigyProvider:
                botUrl: http://cognigy-bot-url
              role:
                - bot
        errors: null
    listBotResponseExample:
      summary: An example of a list bot response
      value:
        links:
          - href: /providers
            rel: self
            method: GET
        data:
          totalCount: 3
          bots:
            - id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
              displayName: Bot
              provider:
                provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
              description: Bot description
              dtmfCollect: true
              dtmfCollectSubmitDigit: '#'
              transferTarget: tel:+19195554321
              sttProvider:
                provider: a6dj3e72-a850-4f38-98d4-5422cacd3f0f
                language: en-US
              ttsProvider:
                provider:
                  provider: a6dj3d72-a850-4f38-98d4-5022cacd3f0f
                voiceName: Jill
            - id: b64b5e72-a850-4f38-98d4-5022cacd3f0r
              displayName: Bot
              provider:
                provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
              description: Bot description
              dtmfCollect: false
              dtmfCollectSubmitDigit: '#'
              transferTarget: tel:+19195554321
              sttProvider:
                provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
                language: en-US
              ttsProvider:
                provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
                voiceName: Jill
        errors: null
    googleEsProviderExample:
      summary: An example of a Google-ES provider
      value:
        name: googleProvider
        displayName: Google Provider
        type: GOOGLE_ES
        description: Google provider description
        role:
          - bot
          - stt
          - tts
        googleProvider:
          region: northamerica
          location: us-east-1
          environment: Production
          projectId: myproject
          googleCredentials:
            privateKey: samplekey
            clientEmail: email
    googleCxProviderExample:
      summary: An example of a Google-CX provider
      value:
        name: googleProvider
        displayName: Google Provider
        type: GOOGLE_CX
        description: Google provider description
        role:
          - bot
          - stt
          - tts
        googleProvider:
          region: northamerica
          location: us-east-1
          environment: Production
          projectId: myproject
          agentId: myagent
          googleCredentials:
            privateKey: samplekey
            clientEmail: email
    botRequestExample:
      summary: An example of a Bot request
      value:
        displayName: Bot
        provider:
          provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
        description: Bot description
        dtmfCollect: true
        dtmfCollectSubmitDigit: '#'
        transferTarget: tel:+19195554321
        sttProvider:
          provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
          language: en-US
        ttsProvider:
          provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
          voiceName: Jill
    googleBotExample:
      summary: An example of a Google bot
      value:
        id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
        displayName: Bot
        provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
        description: Bot description
        dtmfCollect: true
        dtmfCollectSubmitDigit: '#'
        transferTarget: tel:+19195554321
        sttProvider:
          provider: a6dj3e72-a850-4f38-98d4-5422cacd3f0f
          language: en-US
        ttsProvider:
          provider: a6dj3d72-a850-4f38-98d4-5022cacd3f0f
          voiceName: Jill
    googleBotResponseExample:
      summary: An example of a Google bot
      value:
        id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
        displayName: Bot
        provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
        description: Bot description
        dtmfCollect: true
        dtmfCollectSubmitDigit: '#'
        transferTarget: tel:+19195554321
        sttProvider:
          provider: a6dj3e72-a850-4f38-98d4-5422cacd3f0f
          language: en-US
        ttsProvider:
          provider: a6dj3d72-a850-4f38-98d4-5022cacd3f0f
          voiceName: Jill
    googleEsProviderGetResponseExample:
      summary: An example of a Google-ES provider get response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Google Provider
          type: GOOGLE_ES
          description: Google provider description
          role:
            - bot
            - stt
            - tts
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
        errors: []
    googleCxProviderGetResponseExample:
      summary: An example of a Google-CX provider get response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Google Provider
          type: GOOGLE_CX
          description: Google provider description
          role:
            - bot
            - stt
            - tts
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
            agentId: myagent
        errors: []
    botGetResponseExample:
      summary: An example of a bot get response
      value:
        links:
          - href: /bots/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /bots
            rel: create
            method: POST
          - href: /bots/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /bots/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /bots/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Bot
          provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
          description: Bot description
          dtmfCollect: true
          dtmfCollectSubmitDigit: '#'
          transferTarget: tel:+19195554321
          sttProvider:
            provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
            language: en-US
          ttsProvider:
            provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
            voiceName: Jill
        errors: []
    googleEsProviderPostResponseExample:
      summary: An example of a Google-ES provider post response
      value:
        links:
          - href: /providers
            rel: self
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: provider
            method: GET
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Google Provider
          type: GOOGLE_ES
          description: Google provider description
          role:
            - bot
            - stt
            - tts
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
        errors: []
    googleCxProviderPostResponseExample:
      summary: An example of a Google-CX provider post response
      value:
        links:
          - href: /providers
            rel: self
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: provider
            method: GET
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Google Provider
          type: GOOGLE_CX
          description: Google provider description
          role:
            - bot
            - stt
            - tts
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
            agentId: myagent
        errors: []
    botPostResponseExample:
      summary: An example of a bot post response
      value:
        links:
          - href: /bots
            rel: self
            method: POST
          - href: /bots/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: bot
            method: GET
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Bot
          provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
          description: Bot description
          dtmfCollect: true
          dtmfCollectSubmitDigit: '#'
          transferTarget: tel:+19195554321
          sttProvider:
            provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
            language: en-US
          ttsProvider:
            provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
            voiceName: Jill
        errors: []
    googleEsProviderPutResponseExample:
      summary: An example of a provider put response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Google Provider
          type: GOOGLE_ES
          description: Google provider description
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
        errors: []
    googleCxProviderPutResponseExample:
      summary: An example of a provider put response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Google Provider
          type: GOOGLE_CX
          description: Google provider description
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
            agentId: myagent
        errors: []
    googleEsProviderPatchResponseExample:
      summary: An example of a provider patch response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Google Provider
          type: GOOGLE_ES
          description: Google provider description
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
        errors: []
    googleCxProviderPatchResponseExample:
      summary: An example of a provider patch response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Google Provider
          type: GOOGLE_CX
          description: Google provider description
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
            agentId: myagent
        errors: []
    awsProviderExample:
      summary: An example of an AWS provider
      value:
        displayName: AWS Provider
        type: AWS
        description: Aws provider description
        role:
          - tts
        awsProvider:
          Region: us-west-1
          awsCredentials:
            accessKeyId: myaccesskey
            secretAccessKey: mysecretkey
    awsBotExample:
      summary: An example of a Aws bot
      value:
        id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
        displayName: Bot
        provider:
          provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
        description: Bot description
        dtmfCollect: true
        dtmfCollectSubmitDigit: '#'
        transferTarget: tel:+19195554321
        sttProvider:
          provider: a6dj3e72-a850-4f38-98d4-5422cacd3f0f
          language: en-US
        ttsProvider:
          provider: a6dj3d72-a850-4f38-98d4-5022cacd3f0f
          voiceName: Jill
    awsProviderGetResponseExample:
      summary: An example of an AWS provider get response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: AWS Provider
          type: AWS
          description: Aws provider description
          role:
            - tts
          awsProvider:
            Region: us-west-1
        errors: []
    awsProviderPostResponseExample:
      summary: An example of an AWS provider post response
      value:
        links:
          - href: /provider
            rel: self
            method: POST
          - href: /provider/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: provider
            method: GET
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: AWS Provider
          type: AWS
          role:
            - stt
          description: Aws provider description
          awsProvider:
            Region: us-west-1
        errors: []
    awsProviderPutResponseExample:
      summary: An example of an AWS provider put response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: AWS Provider
          type: AWS
          description: Aws provider description
          awsProvider:
            Region: us-west-1
        errors: []
    awsProviderPatchResponseExample:
      summary: An example of an AWS provider patch response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: AWS Provider
          type: AWS
          description: Aws provider description
          awsProvider:
            Region: us-west-1
        errors: []
    cognigyProviderExample:
      summary: An example of a Cognigy provider
      value:
        displayName: Cognigy Provider
        type: COGNIGY
        description: Cognigy provider description
        role:
          - bot
        cognigyProvider:
          botUrl: http://cognigy-bot-url
    cognigyProviderGetResponseExample:
      summary: An example of a Cognigy provider
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Cognigy Provider
          type: COGNIGY
          description: Cognigy provider description
          role:
            - bot
          cognigyProvider:
            botUrl: http://cognigy-bot-url
        errors: []
    cognigyProviderPostResponseExample:
      summary: An example of a Cognigy provider
      value:
        links:
          - href: /provider
            rel: self
            method: POST
          - href: /provider/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: provider
            method: GET
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Cognigy Provider
          type: COGNIGY
          description: Cognigy provider description
          role:
            - bot
          cognigyProvider:
            botUrl: http://cognigy-bot-url
        errors: []
    cognigyProviderPutResponseExample:
      summary: An example of a Cognigy provider put response
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Cognigy Provider
          type: COGNIGY
          description: Cognigy provider description
          cognigyProvider:
            botUrl: http://cognigy-bot-url
        errors: []
    cognigyProviderPatchResponseExample:
      summary: An example of a Cognigy provider
      value:
        links:
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: self
            method: GET
          - href: /providers
            rel: create
            method: POST
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: replace
            method: PUT
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: update
            method: PATCH
          - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
            rel: delete
            method: DELETE
        data:
          id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Cognigy Provider
          type: COGNIGY
          description: Cognigy provider description
          cognigyProvider:
            botUrl: http://cognigy-bot-url
        errors: []
    badRequestErrorExample:
      summary: An example of a generic Bad Request Error.
      value:
        links: null
        data: null
        errors:
          - id: optional-error-id
            type: bad-request
            description: There was an issue with your request.
            errorCode: 400
    unauthorizedErrorExample:
      summary: An example of a generic Unauthorized Error
      value:
        links: null
        data: null
        errors:
          - id: optional-error-id
            type: authentication-credentials
            description: Invalid or missing credentials.
            errorCode: 403
    forbiddenErrorExample:
      summary: An example of a generic Unauthorized Error.
      value:
        links: null
        data: null
        errors:
          - id: optional-error-id
            type: resource-permissions
            description: User does not have permissions to access this resource.
            errorCode: 401
    notFoundErrorExample:
      summary: An example of a generic Not Found Error.
      value:
        links: null
        data: null
        errors:
          - id: optional-error-id
            type: resource-not-found
            description: The resource specified cannot be found.
            errorCode: 404
    notAllowedErrorExample:
      summary: An example of a Method Not Allowed error.
      value:
        links: null
        data: null
        errors:
          - id: optional-error-id
            type: method-not-allowed
            description: >-
              The HTTP request method is not supported for the requested
              resource.
            errorCode: 405
    tooManyRequestsErrorExample:
      summary: An example of a Too Many Requests error.
      value:
        links: null
        data: null
        errors:
          - id: optional-error-id
            type: too-many-requests
            description: >-
              The user has sent too many requests in a given amount of time
              (rate limiting).
            errorCode: 429
    internalServerErrorExample:
      summary: An example of a generic Internal Server Error.
      value:
        links: null
        data: null
        errors:
          - id: optional-error-id
            type: internal-server-error
            description: >-
              Unexpected internal server error. Contact Bandwidth Customer
              Support if this problem persists.
            errorCode: 500
    linksExample:
      summary: An example of a links object in the aibridge reponse
      value:
        - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
          rel: self
          method: GET
        - href: /providers
          rel: create
          method: POST
        - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
          rel: replace
          method: PUT
        - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
          rel: update
          method: PATCH
        - href: /providers/b64b5e72-a850-4f38-98d4-5022cacd3f0f
          rel: delete
          method: DELETE
    errorsExample:
      summary: An exmaple of an error object in the aibridge reponse
      value:
        - id: optional-error-id
          type: resource-not-found
          description: The resource specified cannot be found.
          errorCode: 404
    totalCountExample:
      summary: Example of a total count number.
      value: 10
    providersExample:
      summary: Example of list of providers in list aibridge repsponses
      value:
        - id: b64b5e72-a850-4f38-98d4-5022cacd3f0a
          displayName: Google-ES Provider
          type: GOOGLE_ES
          description: Google provider description
          role:
            - bot
            - stt
            - tts
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
        - id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Google-CX Provider
          type: GOOGLE_CX
          description: Google provider description
          role:
            - bot
            - stt
            - tts
          googleProvider:
            region: northamerica
            location: us-east-1
            environment: Production
            projectId: myproject
            agentId: myagent
        - id: b64b5e72-a850-4f38-98d4-5022cacd3f0r
          displayName: AWS Provider
          type: AWS
          description: Aws provider description
          awsProvider:
            Region: us-west-1
            awsCredentials:
              accessKeyId: myaccesskey
              secretAccessKey: mysecretkey
          role:
            - tts
        - id: b64b5e72-a850-4f38-98d4-5022cacd3f0g
          displayName: Cognigy Provider
          type: COGNIGY
          description: Cognigy provider description
          cognigyProvider:
            botUrl: http://cognigy-bot-url
          role:
            - bot
    botsExample:
      summary: Example of list of bots in list aibridge repsponses
      value:
        - id: b64b5e72-a850-4f38-98d4-5022cacd3f0f
          displayName: Bot
          provider:
            provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
          description: Bot description
          dtmfCollect: true
          dtmfCollectSubmitDigit: '#'
          transferTarget: tel:+19195554321
          sttProvider:
            provider: a6dj3e72-a850-4f38-98d4-5422cacd3f0f
            language: en-US
          ttsProvider:
            provider: a6dj3d72-a850-4f38-98d4-5022cacd3f0f
            voiceName: Jill
        - id: b64b5e72-a850-4f38-98d4-5022cacd3f0r
          displayName: Bot
          provider:
            provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
          description: Bot description
          dtmfCollect: false
          dtmfCollectSubmitDigit: '#'
          transferTarget: tel:+19195554321
          sttProvider:
            provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
            language: en-US
          ttsProvider:
            provider: a6dj3e72-a850-4f38-98d4-5022cacd3f0f
            voiceName: Jill
    roleExample:
      summary: >-
        An array of roles that say what function(s) an AIBridge Integration can
        do.
      value:
        - bot
        - stt
        - tts
    typeExample:
      summary: type of provider
      value: GOOGLE_CX
    privateKeyExample:
      summary: An Google private key.
      value: >-
        -----BEGIN OPENSSH PRIVATE KEY-----\nb3B3l\n-----END OPENSSH PRIVATE
        KEY-----
    clientEmailExample:
      summary: A Google email
      value: clientEmail@gogole.com
    accessKeyExample:
      summary: An AWS access key
      value: AKIAIOSFODNN7EXAMPLE
    secretKeyExample:
      summary: An AWS secret key
      value: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    googleProviderCredentialsExample:
      summary: An example of the Google Provider Credentials Obeject
      value:
        privateKey: abc123
        clientEmail: johndoe@google.com
    awsProviderCredentialsExample:
      summary: An example of the AWS Provider Credentials Obeject
      value:
        accessKey: abc123
        secretKey: 456efg
  securitySchemes:
    Basic:
      type: http
      scheme: basic
      description: >-
        Basic authentication is a simple authentication scheme built into the
        HTTP protocol. To use it, send your HTTP requests with an Authorization
        header that contains the word Basic followed by a space and a
        base64-encoded string `username:password`.

        Example: `Authorization: Basic ZGVtbZpwQDU1dzByZA==`
tags:
  - name: Providers
    description: Providers information
    externalDocs:
      url: TODO
  - name: Bots
    description: Bots information
    externalDocs:
      url: TODO
security:
  - Basic: []
