openapi: 3.0.1
info:
  description: External API for the Blue Sky Provisioning Application.
  title: blue-sky-ops-external
  version: 0.10.0
  termsOfService: https://www.bandwidth.com/legal/terms-of-use-bandwidthcom-web-sites/
  contact:
    name: Blue Sky team
servers:
  - url: https://blue-sky-ops.lab.bluesky.bandwidth.com
    description: Development server.
  - url: https://blue-sky-ops.stage.bluesky.bandwidth.com
    description: Staging server.
  - url: https://blue-sky-ops.prod.bluesky.bandwidth.com
    description: Production server.
security:
  - httpBasic: []
tags:
  - name: Location
  - name: Trunk info
paths:
  /portal/report/blue-sky-ops/v2/customers/{sanId}/locations:
    get:
      tags:
        - Location
      description: Returns locations for a SanId from blue sky ops application.
      operationId: getLocationsBySanId
      parameters:
        - $ref: '#/components/parameters/sanIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/locationArray'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Retrieve Locations by SanId
    post:
      tags:
        - Location
      description: >-
        Creates a new location to be created in the blue sky ops application.
        This location must not previously exist.
      operationId: createLocation
      parameters:
        - $ref: '#/components/parameters/sanIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/postLocation'
      responses:
        '201':
          $ref: '#/components/responses/location'
        '400':
          $ref: '#/components/responses/badRequest'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Create A Specific Location by Sip Peer Id and body
  /portal/report/blue-sky-ops/v2/customers/{sanId}/locations/{sipPeerId}:
    delete:
      tags:
        - Location
      description: >-
        Deletes a location from the blue sky ops application. This location must
        previously exist.
      operationId: deleteLocation
      parameters:
        - $ref: '#/components/parameters/sanIdPathParam'
        - $ref: '#/components/parameters/sipPeerIdPathParam'
      responses:
        '204':
          description: Location deleted successfully.
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Delete a specific location based on Sip Peer Id
    get:
      tags:
        - Location
      description: Returns a location from the blue sky ops application.
      operationId: getLocationBySipPeerId
      parameters:
        - $ref: '#/components/parameters/sanIdPathParam'
        - $ref: '#/components/parameters/sipPeerIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/location'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Retrieve A Specific Location based on Sip Peer Id
    patch:
      tags:
        - Location
      description: >-
        Update a location from the blue sky ops application. This location must
        previously exist.
      operationId: updateLocationBySipPeerId
      parameters:
        - $ref: '#/components/parameters/sanIdPathParam'
        - $ref: '#/components/parameters/sipPeerIdPathParam'
      requestBody:
        $ref: '#/components/requestBodies/patchLocation'
      responses:
        '204':
          description: Location updated successfully.
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Update a specific location based on Sip Peer Id
  /portal/report/blue-sky-ops/v2/customers/{sanId}/trunkinfo:
    get:
      tags:
        - Trunk info
      description: >-
        Returns a list of externalTrunkInfo entries provisioned by the blue sky
        ops application. This endpoint is accessible to customers.
      operationId: getExternalTrunkInfoBySanId
      parameters:
        - $ref: '#/components/parameters/sanIdPathParam'
      responses:
        '200':
          $ref: '#/components/responses/externalTrunkInfoArray'
        '500':
          $ref: '#/components/responses/internalServerError'
      summary: Retrieve A list of externalTrunkInfo entries by San Id
components:
  responses:
    externalTrunkInfoArray:
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/externalTrunkInfo'
      description: >-
        Successfully returning externalTrunkInfo entries information or empty if
        no entries found.
    location:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/locationV2Dto'
      description: Successfully returning location.
    locationArray:
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/locationV2Dto'
      description: Successfully returning locations.
    badRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorDto'
      description: Unpredictable client error while processing the request.
    notFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorDto'
      description: Specified resource does not exist or other request validation error.
    internalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorDto'
      description: Unpredictable error while processing the request.
  requestBodies:
    postLocation:
      description: Location Create Request.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/locationV2Dto'
    patchLocation:
      description: Location Update Request.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/locationUpdateDto'
  securitySchemes:
    httpBasic:
      type: http
      scheme: basic
  parameters:
    sanIdPathParam:
      description: Customer SAN ID.
      in: path
      name: sanId
      required: true
      schema:
        type: integer
        format: int32
    sipPeerIdPathParam:
      description: Sip Peer Id.
      in: path
      name: sipPeerId
      required: true
      schema:
        type: integer
        format: int32
  schemas:
    errorDto:
      type: object
      properties:
        errorCode:
          type: integer
          format: int32
          example: 500
        message:
          type: string
          example: 'Unable to get customer with sanId: 123456'
    externalTrunkInfo:
      type: object
      properties:
        status:
          type: string
          example: PROVISIONED
          enum:
            - INITIAL
            - PROVISIONING
            - PROVISIONED
            - DELETING
            - DELETED
            - ERROR
        trunkInfoId:
          type: integer
          format: int32
          example: 123456
        trunkTypeName:
          type: string
          example: cisco_ccpp
    locationUpdateDto:
      type: object
      properties:
        externalIds:
          type: array
          items:
            type: string
            example: 24a41437-5724-4a00-8b06-427f73ad8bbd
    locationV2Dto:
      type: object
      properties:
        created:
          type: string
          format: date-time
          example: '2023-01-31T15:45:48.248Z'
          readOnly: true
        externalIds:
          type: array
          items:
            type: string
            example: 24a41437-5724-4a00-8b06-427f73ad8bbd
        primaryLoc:
          type: boolean
          readOnly: true
          example: true
        sanId:
          type: integer
          format: int32
          example: 9900012
        sipPeerId:
          type: integer
          format: int32
          example: 524928
        siteId:
          type: integer
          format: int32
          example: 8640
        trunkInfoId:
          type: integer
          format: int32
          example: 5166
        username:
          type: string
          readOnly: true
          example: fakeUser
