{
    "openapi": "3.0.0",

    "info": {
        "title": "Messaging",
        "description": "Bandwidth's HTTP Messaging platform\n## Base Path\n<code>https://messaging.bandwidth.com/api/v2</code>",
        "contact": {},
        "version": "4.2.8",
        "x-server-configuration": {
            "default-environment": "production",
            "default-server": "default",
            "environments": [
                {
                    "name": "production",
                    "servers": [
                       {
                          "name": "default",
                          "url": "https://messaging.bandwidth.com/api/v2"
                       }
                    ]
                 },
                 {
                    "name": "custom",
                    "servers": [
                       {
                          "name": "default",
                          "url": "{base_url}"
                       }
                    ]
                 }
            ],
            "parameters": [
                {
                    "name": "base_url",
                    "description": "",
                    "type": "string",
                    "example": "https://www.example.com"
                }
            ]
        }
    },
    "servers": [{
            "url": "https://messaging.bandwidth.com/api/v2",
            "variables": {}
        }
    ],

    "paths": {
        "/users/{accountId}/media": {
            "get": {
                "tags" : [ "Media" ],
                "summary": "List Media",
                "description": "Gets a list of your media files. No query parameters are supported.",
                "operationId": "ListMedia",
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "description": "User's account ID",
                        "example": "900000",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "Continuation-Token",
                        "in": "header",
                        "style": "simple",
                        "explode": false,
                        "description": "Continuation token used to retrieve subsequent media.",
                        "example": "12345",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {
                            "Continuation-Token": {
                                "description": "Continuation token used to retrieve subsequent media.",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Media"
                                    },
                                    "description": "successful operation"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            }
        },
        "/users/{accountId}/media/{mediaId}": {
            "get": {
                "tags" : [ "Media" ],
                "summary": "Get Media",
                "description": "Downloads a media file you previously uploaded.",
                "operationId": "GetMedia",
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "description": "User's account ID",
                        "example": "900000",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "mediaId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "description": "Media ID to retrieve",
                        "example": "0a610655-ba58",
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "description": "successful operation",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags" : [ "Media" ],
                "summary": "Upload Media",
                "description": "Uploads a file the normal HTTP way. You may add headers to the request in order to provide some control to your media-file.",
                "operationId": "UploadMedia",
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "description": "User's account ID",
                        "example": "900000",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "mediaId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "description": "The user supplied custom media ID",
                        "example": "my-media-id",
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }, {
                        "name": "Content-Type",
                        "in": "header",
                        "style": "simple",
                        "explode": false,
                        "description": "The media type of the entity-body",
                        "example": "audio/wav",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "Cache-Control",
                        "in": "header",
                        "style": "simple",
                        "explode": false,
                        "description": "General-header field is used to specify directives that MUST be obeyed by all caching mechanisms along the request/response chain.",
                        "example": "no-cache",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "x-send-file-in-body": true,
                    "content": {
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format" : "binary"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "successful operation",
                        "headers": {}
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags" : [ "Media" ],
                "summary": "Delete Media",
                "description": "Deletes a media file from Bandwidth API server. Make sure you don't have any application scripts still using the media before you delete. If you accidentally delete a media file, you can immediately upload a new file with the same name.",
                "operationId": "DeleteMedia",
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "description": "User's account ID",
                        "example": "900000",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "mediaId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "description": "The media ID to delete",
                        "example": "tjdla-4562ld",
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successful operation",
                        "headers": {}
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            }
        },
        "/users/{accountId}/messages": {
            "get": {
                "tags" : [ "Messages" ],
                "summary": "Get Messages",
                "description": "Gets a list of messages based on query parameters.",
                "operationId": "GetMessages",
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "description": "User's account ID",
                        "example": "900000",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "messageId",
                        "in": "query",
                        "required": false,
                        "description": "The ID of the message to search for. Special characters need to be encoded using URL encoding",
                        "example": "9e0df4ca-b18d-40d7-a59f-82fcdf5ae8e6",
                        "schema": {
                            "type": "string"
                        }
                    },{
                        "name": "sourceTn",
                        "in": "query",
                        "required": false,
                        "description": "The phone number that sent the message. Accepted values are: a single full phone number, a comma separated list of full phone numbers (maximum of 10), or a single partial phone number (minimum of 5 characters, e.g. '%2B1919')",
                        "example": "%2B15554443333",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "destinationTn",
                        "in": "query",
                        "required": false,
                        "description": "The phone number that received the message. Accepted values are: a single full phone number, a comma separated list of full phone numbers (maximum of 10), or a single partial phone number (minimum of 5 characters, e.g. '%2B1919')",
                        "example": "%2B15554443333",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "messageStatus",
                        "in": "query",
                        "required": false,
                        "description": "The status of the message. One of RECEIVED, QUEUED, SENDING, SENT, FAILED, DELIVERED, ACCEPTED, UNDELIVERED",
                        "example": "RECEIVED",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "messageDirection",
                        "in": "query",
                        "required": false,
                        "description": "The direction of the message. One of INBOUND, OUTBOUND",
                        "example": "OUTBOUND",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "carrierName",
                        "in": "query",
                        "required": false,
                        "description": "The name of the carrier used for this message. Possible values include, but are not limited to, Verizon and TMobile. Special characters need to be encoded using URL encoding (i.e. AT&T should be passed as AT%26T)",
                        "example": "Verizon",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "messageType",
                        "in": "query",
                        "required": false,
                        "description": "The type of the message. One of mms, sms",
                        "example": "mms",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "errorCode",
                        "in": "query",
                        "required": false,
                        "description": "The error code of the message",
                        "example": 9902,
                        "schema": {
                            "type": "integer"
                        }
                    }, {
                        "name": "fromDateTime",
                        "in": "query",
                        "required": false,
                        "description": "The start of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.",
                        "example": "2016-09-14T18:20:16.000Z",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "toDateTime",
                        "in": "query",
                        "required": false,
                        "description": "The end of the date range to search in ISO 8601 format. Uses the message receive time. The date range to search in is currently 14 days.",
                        "example": "2016-09-14T18:20:16.000Z",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "description": "The field and direction to sort by, combined with a colon. Direction is one of asc, desc",
                        "example": "sourceTn:desc",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "pageToken",
                        "in": "query",
                        "required": false,
                        "description": "A base64 encoded value used for pagination of results",
                        "example": "gdEewhcJLQRB5",
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "description": "The maximum records requested in search result. Default 100. The sum of limit and after cannot be more than 10000",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 50
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BandwidthMessagesList"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags" : [ "Messages" ],
                "summary": "Create Message",
                "description": "Endpoint for sending text messages and picture messages using V2 messaging.",
                "operationId": "CreateMessage",
                "parameters": [{
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "description": "User's account ID",
                        "example": "900000",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessageRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BandwidthMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            }
        }
    },
    "components": {
        "schemas": {
            "BandwidthMessagesList": {
                "title": "BandwidthMessagesList",
                "type": "object",
                "properties": {
                    "totalCount": {
                        "type": "integer",
                        "description": "Total number of messages matched by the search",
                        "example": 100
                    },
                    "pageInfo": {
                        "$ref": "#/components/schemas/PageInfo"
                    },
                    "messages": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BandwidthMessageItem"
                        }
                    }
                }
            },
            "BandwidthMessageItem": {
                "title": "BandwidthMessageItem",
                "type": "object",
                "properties": {
                    "messageId": {
                        "type": "string",
                        "description": "The message id",
                        "example": "1589228074636lm4k2je7j7jklbn2"
                    },
                    "accountId": {
                        "type": "string",
                        "description": "The account id of the message",
                        "example": "12345"
                    },
                    "sourceTn": {
                        "type": "string",
                        "description": "The source phone number of the message",
                        "example": "+15554443333"
                    },
                    "destinationTn": {
                        "type": "string",
                        "description": "The recipient phone number of the message",
                        "example": "+15554442222"
                    },
                    "messageStatus": {
                        "type": "string",
                        "description": "The status of the message",
                        "example": "DLR_EXPIRED"
                    },
                    "messageDirection": {
                        "type": "string",
                        "description": "The direction of the message relative to Bandwidth. INBOUND or OUTBOUND",
                        "example": "OUTBOUND"
                    },
                    "messageType": {
                        "type": "string",
                        "description": "The type of message. sms or mms",
                        "example": "sms"
                    },
                    "segmentCount": {
                        "type": "integer",
                        "description": "The number of segments the message was sent as",
                        "example": 1
                    },
                    "errorCode": {
                        "type": "integer",
                        "description": "The numeric error code of the message",
                        "example": 9902
                    },
                    "receiveTime": {
                        "type": "string",
                        "description": "The ISO 8601 datetime of the message",
                        "example": "2020-04-07T14:03:07.000Z"
                    },
                    "carrierName": {
                        "type": "string",
                        "description": "The name of the carrier. Not currently supported for MMS, coming soon",
                        "example": "other"
                    },
                    "messageSize": {
                        "type": "integer",
                        "description": "The size of the message including message content and headers",
                        "example": 27
                    },
                    "messageLength": {
                        "type": "integer",
                        "description": "The length of the message content",
                        "example": 18
                    },
                    "attachmentCount": {
                        "type": "integer",
                        "description": "The number of attachments the message has",
                        "example": 1
                    },
                    "recipientCount": {
                        "type": "integer",
                        "description": "The number of recipients the message has",
                        "example": 1
                    },
                    "campaignClass": {
                        "type": "string",
                        "description": "The campaign class of the message, if it has one",
                        "example": "T"
                    }
                }
            },
            "PageInfo": {
                "title": "PageInfo",
                "type": "object",
                "properties": {
                    "prevPage": {
                        "type": "string",
                        "description": "The link to the previous page for pagination",
                        "example": "https://messaging.bandwidth.com/api/v2/users/{accountId}/messages?messageStatus=DLR_EXPIRED&nextPage=DLAPE902"
                    },
                    "nextPage": {
                        "type": "string",
                        "description": "The link to the next page for pagination",
                        "example": "https://messaging.bandwidth.com/api/v2/users/{accountId}/messages?messageStatus=DLR_EXPIRED&prevPage=GL83PD3C"
                    },
                    "prevPageToken": {
                        "type": "string",
                        "description": "The isolated pagination token for the previous page",
                        "example": "DLAPE902"
                    },
                    "nextPageToken": {
                        "type": "string",
                        "description": "The isolated pagination token for the next page",
                        "example": "GL83PD3C"
                    }
                }
            },
            "MessagingException": {
                "title": "MessagingException",
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "required": ["type", "description"]
            },
            "Media": {
                "title": "Media",
                "type": "object",
                "properties": {
                    "content": {
                        "type": "string"
                    },
                    "contentLength": {
                        "type": "integer"
                    },
                    "mediaName": {
                        "type": "string"
                    }
                }
            },
            "Tag": {
                "title": "Tag",
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    }
                }
            },
            "DeferredResult": {
                "title": "DeferredResult",
                "type": "object",
                "properties": {
                    "result": {
                        "type": "object"
                    },
                    "setOrExpired": {
                        "type": "boolean"
                    }
                }
            },
            "BandwidthCallbackMessage": {
                "title": "BandwidthCallbackMessage",
                "type": "object",
                "properties": {
                    "time": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "to": {
                        "type": "string"
                    },
                    "errorCode": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "message": {
                        "$ref": "#/components/schemas/BandwidthMessage"
                    }
                }
            },
            "BandwidthMessage": {
                "title": "BandwidthMessage",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The id of the message",
                        "example": "1589228074636lm4k2je7j7jklbn2"
                    },
                    "owner": {
                        "type": "string",
                        "description": "The Bandwidth phone number associated with the message",
                        "example": "+15554443333"
                    },
                    "applicationId": {
                        "type": "string",
                        "description": "The application ID associated with the message",
                        "example": "93de2206-9669-4e07-948d-329f4b722ee2"
                    },
                    "time": {
                        "type": "string",
                        "description": "The datetime stamp of the message in ISO 8601",
                        "example": "2016-09-14T18:20:16Z"
                    },
                    "segmentCount": {
                        "type": "integer",
                        "description": "The number of segments the original message from the user is broken into before sending over to carrier networks",
                        "example": 2
                    },
                    "direction": {
                        "type": "string",
                        "description": "The direction of the message relative to Bandwidth. Can be in or out",
                        "example": "in"
                    },
                    "to": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "The phone number recipients of the message",
                        "example": [
                            "+15552223333"
                        ]
                    },
                    "from": {
                        "type": "string",
                        "description": "The phone number the message was sent from",
                        "example": "+15553332222"
                    },
                    "media": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "The list of media URLs sent in the message. Including a `filename` field in the `Content-Disposition` header of the media linked with a URL will set the displayed file name. This is a best practice to ensure that your media has a readable file name.",
                        "example": [
                            "https://dev.bandwidth.com/images/bandwidth-logo.png"
                        ]
                    },
                    "text": {
                        "type": "string",
                        "description": "The contents of the message",
                        "example": "Hello world"
                    },
                    "tag": {
                        "type": "string",
                        "description": "The custom string set by the user",
                        "example": "custom tag"
                    },
                    "priority": {
                        "type": "string",
                        "description": "The priority specified by the user",
                        "example": "default"
                    }
                }
            },
            "MessageRequest": {
                "title": "MessageRequest",
                "type": "object",
                "required": ["applicationId", "to", "from"],
                "properties": {
                    "applicationId": {
                        "type": "string",
                        "description": "The ID of the Application your from number is associated with in the Bandwidth Phone Number Dashboard.",
                        "example": "93de2206-9669-4e07-948d-329f4b722ee2"
                    },
                    "to": {
                        "uniqueItems": true,
                        "type": "array",
                        "description": "The phone number(s) the message should be sent to in E164 format",
                        "example": [
                            "+15554443333",
                            "+15552223333"
                        ],
                        "items": {
                            "type": "string"
                        }
                    },
                    "from": {
                        "type": "string",
                        "description": "One of your telephone numbers the message should come from in E164 format",
                        "example": "+15551113333"
                    },
                    "text": {
                        "type": "string",
                        "description": "The contents of the text message. Must be 2048 characters or less.",
                        "example": "Hello world"
                    },
                    "media": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A list of URLs to include as media attachments as part of the message.",
                        "example": [
                            "https://dev.bandwidth.com/images/bandwidth-logo.png",
                            "https://dev.bandwidth.com/images/github_logo.png"
                        ]
                    },
                    "tag": {
                        "type": "string",
                        "description": "A custom string that will be included in callback events of the message. Max 1024 characters",
                        "example": "custom string"
                    },
                    "priority": {
                        "type": "string",
                        "enum": [
                            "default",
                            "high"
                        ],
                        "description": "The message's priority, currently for toll-free or short code SMS only. Messages with a priority value of `\"high\"` are given preference over your other traffic.",
                        "example": "default"
                    }
                }
            }
        },

        "responses": {
            "BadRequest": {
                "description": "400 Request is malformed or invalid",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "401 The specified user does not have access to the account",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "403 The user does not have access to this API",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "404 Path not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "InvalidMediaType": {
                "description": "415 The content-type of the request is incorrect",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "TooManyRequests": {
                "description": "429 The rate limit has been reached",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "httpBasic": {
                "type": "http",
                "scheme": "basic"
            }
        }
    },
    "security": [{
            "httpBasic": []
        }
    ],
    "tags": []
}
