{
  "openapi": "3.0.1",
  "info": {
    "title": "Numbers",
    "description": "Numbers",
    "version": "1.0.0",
    "x-server-configuration": {
      "default-environment": "production",
      "default-server": "default",
      "environments": [
        {
          "name": "production",
          "servers": [
            {
              "name": "default",
              "url": "https://dashboard.bandwidth.com/api/"
            }
          ]
        },
        {
          "name": "custom",
          "servers": [
            {
              "name": "default",
              "url": "{base_url}"
            }
          ]
        }
      ],
      "parameters": [
        {
          "name": "base_url",
          "description": "",
          "type": "string",
          "example": "https://www.example.com"
        }
      ]
    }
  },
  "servers": [
    {
      "url": "https://dashboard.bandwidth.com/api/",
      "description": "Production",
      "variables": {}
    }
  ],
  "security": [
    {
      "httpBasic": []
    }
  ],
  "paths": {
    "/accounts/{accountId}": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>The account is the root resource for many of the operations in the Bandwidth Dashboard API.</p> <p>The account is represented by an account id, which is the resource that represents a Bandwidth customer, providing a root resource for all of the customer's attributes and services.</p> <p>The API calls that are used to manage the details of a customer account, and to manage the resources that a Bandwidth customer has access to or control over, are accessed through the /accounts resource.</p> <p>This API call retrieves information about the account indicated by the Account ID.</p>",
        "operationId": "GetAccount",
        "summary": "Retrieve account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "Retrieve Account information.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AccountResponse>\n  <Account>\n    <AccountId>14</AccountId>\n    <AssociatedCatapultAccount>u-ertyhgfd12dcvdhnboklk</AssociatedCatapultAccount>\n    <GlobalAccountNumber>globalAccount</GlobalAccountNumber>\n    <CompanyName>CWI Hosting</CompanyName>\n    <AccountType>Business</AccountType>\n    <NenaId/>\n    <CustomerSegment>Trial</CustomerSegment>\n    <Tiers>\n      <Tier>0</Tier>\n    </Tiers>\n    <Address>\n      <HouseNumber>904</HouseNumber>\n      <HouseSuffix>E</HouseSuffix>\n      <PreDirectional/>\n      <StreetName>Anson</StreetName>\n      <StreetSuffix>St</StreetSuffix>\n      <PostDirectional/>\n      <AddressLine2/>\n      <City>Marshalltown</City>\n      <StateCode>IA</StateCode>\n      <Zip>50158</Zip>\n      <PlusFour/>\n      <County/>\n      <Country>United States</Country>\n      <AddressType>Billing</AddressType>\n    </Address>\n    <Contact>\n      <FirstName>Sanjay</FirstName>\n      <LastName>Rao</LastName>\n      <Phone>9195441234</Phone>\n      <Email>srao@bandwidth.com</Email>\n    </Contact>\n    <AltSpid>X455</AltSpid>\n    <SPID>9999</SPID>\n    <PortCarrierType>WIRELINE</PortCarrierType>\n  </Account>\n</AccountResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/addresses": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "GET is used to retrieve all addresses.",
        "operationId": "GetAllAddresses",
        "summary": "Retrieve all addresses",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "e911locationid",
            "description": "Search criterion for address by its locationid. Cannot be combined with type. Always returns E911 addresses.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "47950147-9c58-407c-bcc4-e88743b20db5"
          },
          {
            "name": "type",
            "description": "Search criterion for addresses by their type.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e911"
          },
          {
            "name": "page",
            "description": "An ID of the first element in a page.  This value will indicate the first value, not the page number, of the initial entry in the page being requested.<br> It can be an id of address. The initial page is tagged with the ID `1`.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "example": "3"
          },
          {
            "name": "size",
            "description": "The number of items to include in a page.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "example": 5000
          },
          {
            "name": "suggestions",
            "description": "The text to search simultaneously through e911locationIds.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name"
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "OK - the addresses retrieval request will return a list of all addresses having specified type.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AddressesResponse>\n  <TotalCount>1</TotalCount>\n  <Addresses>\n    <Address>\n      <HouseNumber>207</HouseNumber>\n      <HouseSuffix/>\n      <PreDirectional/>\n      <StreetName>Elmastar</StreetName>\n      <StreetSuffix>AlternateStar</StreetSuffix>\n      <PostDirectional/>\n      <AddressLine2/>\n      <City>Carpinteriaaly</City>\n      <StateCode>NY</StateCode>\n      <Zip>93019</Zip>\n      <PlusFour/>\n      <County/>\n      <Country>United States</Country>\n      <AddressType>E911</AddressType>\n      <EndpointCount>2</EndpointCount>\n      <ValidationStatus>VALID</ValidationStatus>\n    </Address>\n  </Addresses>\n</AddressesResponse>"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - if the account specified does not exist or is locked or there are no addresses for specified search criteria it will result in a not found.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AddressesResponse>\n  <ResponseStatus>\n    <Description>The resource does not exist</Description>\n  </ResponseStatus>\n</AddressesResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/aeuis": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "GET is used to retrieve all Alternate end user identifiers.",
        "operationId": "GetAllAeuis",
        "summary": "Retrieve all AEUIS",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "description": "An ID of the first element in a page.  This value will indicate the first value, not the count, of the initial entry in the page being requested.<br> It can be an acid of alternate end user identifier. The initial page is tagged with the ID '1'.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "example": "3, customIdentifier"
          },
          {
            "name": "size",
            "description": "The number of items to include in a page.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            },
            "example": 5000
          },
          {
            "name": "aeui",
            "description": "The Alternate end user identifier associated with callback using E911 order.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "someAcid"
          },
          {
            "name": "callback",
            "description": "Callback telephone number associated with AEUI using E911 oder.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "8042105760"
          },
          {
            "name": "pidfloenabledonly",
            "description": "This parameter allows to retrieve PIDF-LO enabled only AEUIs.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "suggestions",
            "description": "The text to search simultaneously through callbacks, called names and AEUIs.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name"
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "OK - the AEUIs retrieval request will return a list of all AEUIs.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AlternateEndUserIdentifiersResponse>\n  <TotalCount>2</TotalCount>\n  <AlternateEndUserIdentifiers>\n    <AlternateEndUserIdentifier>\n      <Identifier>DavidAcid</Identifier>\n      <CallbackNumber>8042105760</CallbackNumber>\n      <EmergencyNotificationGroup>\n        <Identifier>63865500-0904-46b1-9b4f-7bd237a26363</Identifier>\n        <Description>Building 5, 5th Floor.</Description>\n      </EmergencyNotificationGroup>\n    </AlternateEndUserIdentifier>\n    <AlternateEndUserIdentifier>\n      <Identifier>JohnAcid</Identifier>\n      <CallbackNumber>8042105618</CallbackNumber>\n    </AlternateEndUserIdentifier>\n  </AlternateEndUserIdentifiers>\n</AlternateEndUserIdentifiersResponse>"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - if the account specified does not exist or is locked or there are no AEUIs for specified search criteria it will result in a \"NOT FOUND\" response.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AlternateEndUserIdentifiersResponse>\n  <ResponseStatus>\n   <ErrorCode>12087</ErrorCode>\n    <Description>Alternate End User Identifiers were not found.</Description>\n    </ResponseStatus>\n  </AlternateEndUserIdentifiersResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/aeuis/{acid}": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "GET is used to retrieve a detailed information of Alternate end user identifier by acid.",
        "operationId": "RetrieveAeui",
        "summary": "Retrieve AEUI",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acid",
            "description": "Alternate caller identity ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "OK - will return full information about AEUI for the specified acid.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AlternateEndUserIdentifierResponse>\n  <AlternateEndUserIdentifier>\n    <Identifier>DavidAcid</Identifier>\n    <CallbackNumber>8042105760</CallbackNumber>\n    <E911>\n      <CallerName>David</CallerName>\n      <Address>\n        <HouseNumber>900</HouseNumber>\n        <HouseSuffix/>\n        <PreDirectional/>\n        <StreetName>MAIN CAMPUS</StreetName>\n        <StreetSuffix>DR</StreetSuffix>\n        <AddressLine2/>\n        <City>RALEIGH</City>\n        <StateCode>NC</StateCode>\n        <Zip>27606</Zip>\n        <PlusFour>5214</PlusFour>\n        <Country>United States</Country>\n        <AddressType>Billing</AddressType>\n      </Address>\n      <EmergencyNotificationGroup>\n        <Identifier>63865500-0904-46b1-9b4f-7bd237a26363</Identifier>\n        <Description>Building 5, 5th Floor.</Description>\n      </EmergencyNotificationGroup>\n    </E911>\n  </AlternateEndUserIdentifier>\n</AlternateEndUserIdentifierResponse>\n"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - if the account specified does not exist or is locked or there are no AEUI that corresponds to specified acid it will result in a \"NOT FOUND\" response.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AlternateEndUserIdentifierResponse>\n  <ResponseStatus>\n    <Description>The resource does not exist</Description>\n    </ResponseStatus>\n  </AlternateEndUserIdentifierResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/applications": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>List applications.</p> <p>Please visit <a href='/docs/account/applications'>Applications management</a></p>",
        "operationId": "ListApplications",
        "summary": "List applications",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "Retrieve list applications",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ApplicationProvisioningResponse>\n  <ApplicationList>\n    <Application>\n      <ApplicationId>2cfcb382-161c-46d4-8c67-87ca09a72c85</ApplicationId>\n      <ServiceType>Messaging-V2</ServiceType>\n      <AppName>app1</AppName>\n      <!--DEPRECATED-->\n      <MsgCallbackUrl>http://a.com</MsgCallbackUrl>\n      <InboundCallbackUrl>http://a.com</InboundCallbackUrl>\n    </Application>\n    <Application>\n      <ApplicationId>0cb0112b-5998-4c81-999a-0d3fb5e3f8e2</ApplicationId>\n      <ServiceType>Voice-V2</ServiceType>\n      <AppName>app2</AppName>\n      <CallInitiatedCallbackUrl>http://b.com</CallInitiatedCallbackUrl>\n      <CallbackCreds>\n        <UserId>15jPWZmXdm</UserId>\n        </CallbackCreds>\n      <CallInitiatedFallbackUrl>https://fallback.com</CallInitiatedFallbackUrl>\n      <CallInitiatedFallbackMethod>POST</CallInitiatedFallbackMethod>\n      <CallInitiatedFallbackCreds>\n        <UserId>login2</UserId>\n      </CallInitiatedFallbackCreds>\n      <CallbackTimeout>20</CallbackTimeout>\n    </Application>\n  </ApplicationList>\n</ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>Create an Application, CallbackUrl field is deprecated field, use MsgCallbackUrl instead</p> <p>Please visit <a href='/docs/account/applications'>Applications management</a></p>",
        "operationId": "CreateApplication",
        "summary": "Create application",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "examples": {
                "messaging": {
                  "summary": "Messaging application",
                  "value": "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"yes\"?>\n<Application>\n  <ServiceType>Messaging</ServiceType>\n  <AppName>EBVICs</AppName>\n  <InboundCallbackUrl>https://example.com</InboundCallbackUrl>\n  <OutboundCallbackUrl>https://example2.com</OutboundCallbackUrl>\n  <InboundCallbackCreds>\n    <UserId>15jPWZmXdm</UserId>\n    <Password>xxv3jPsPR2</Password>\n  </InboundCallbackCreds>\n  <OutboundCallbackCreds>\n    <UserId>15jPWZmXdm</UserId>\n    <Password>xxv3jPsPR2</Password>\n  </OutboundCallbackCreds>\n  <RequestedCallbackTypes>\n    <CallbackType>message-delivered</CallbackType>\n    <CallbackType>message-failed</CallbackType>\n    <CallbackType>message-sending</CallbackType>\n  </RequestedCallbackTypes>\n</Application>\n"
                },
                "voice": {
                  "summary": "Voice application",
                  "value": "<?xml version=\"1.0\" encoding=\"SO-8859-1\" standalone=\"yes\"?>\n<Application>\n  <ServiceType>Voice</ServiceType>\n  <AppName>v1</AppName>\n  <CallInitiatedCallbackUrl>https://a.com</CallInitiatedCallbackUrl>\n  <CallInitiatedMethod>GET</CallInitiatedMethod>\n  <CallStatusCallbackUrl>https://b.com</CallStatusCallbackUrl>\n  <CallStatusMethod>GET</CallStatusMethod>\n  <CallbackCreds>\n    <UserId>login123</UserId>\n    <Password>password123</Password>\n  </CallbackCreds>\n  <CallInitiatedFallbackUrl>https://fallback.com</CallInitiatedFallbackUrl>\n  <CallInitiatedFallbackMethod>POST</CallInitiatedFallbackMethod>\n  <CallInitiatedFallbackCreds>\n    <UserId>login2</UserId>\n    <Password>Password3</Password>\n  </CallInitiatedFallbackCreds>\n  <CallbackTimeout>20</CallbackTimeout>\n</Application>"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/xml": {
                "examples": {
                  "messaging": {
                    "summary": "Messaging application",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ApplicationProvisioningResponse>\n<Application>\n  <ApplicationId>d4d1b41d-4c05-47d0-838a-34e4f14e4e3e</ApplicationId>\n    <ServiceType>Messaging-V2</ServiceType>\n    <AppName>EBVICs</AppName>\n    <!--DEPRECATED-->\n    <MsgCallbackUrl>https://example.com</MsgCallbackUrl>\n    <InboundCallbackUrl>https://example.com</InboundCallbackUrl>\n    <OutboundCallbackUrl>https://example2.com</OutboundCallbackUrl>\n    <!--DEPRECATED-->\n    <MsgCallbackCreds>\n      <!--DEPRECATED-->\n      <UserId>15jPWZmXdm</UserId>\n      <!--DEPRECATED-->\n      </MsgCallbackCreds>\n    <InboundCallbackCreds>\n      <UserId>15jPWZmXdm</UserId>\n    </InboundCallbackCreds>\n    <OutboundCallbackCreds>\n      <UserId>15jPWZmXdm</UserId>\n    </OutboundCallbackCreds>\n    <RequestedCallbackTypes>\n      <CallbackType>message-delivered</CallbackType>\n      <CallbackType>message-failed</CallbackType>\n      <CallbackType>message-sending</CallbackType>\n    </RequestedCallbackTypes>\n  </Application>\n</ApplicationProvisioningResponse>\n"
                  },
                  "voice": {
                    "summary": "Voice application",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ApplicationProvisioningResponse>\n<Application>\n  <ApplicationId>d3e418e9-1833-49c1-b6c7-ca1700f79586</ApplicationId>\n    <ServiceType>Voice-V2</ServiceType>\n    <AppName>v1</AppName>\n    <CallInitiatedCallbackUrl>https://a.com</CallInitiatedCallbackUrl>\n    <CallInitiatedMethod>GET</CallInitiatedMethod>\n    <CallStatusCallbackUrl>https://b.com</CallStatusCallbackUrl>\n    <CallStatusMethod>GET</CallStatusMethod>\n    <CallbackCreds>\n      <UserId>login123</UserId>\n    </CallbackCreds>\n    <CallInitiatedFallbackUrl>https://fallback.com</CallInitiatedFallbackUrl>\n    <CallInitiatedFallbackMethod>POST</CallInitiatedFallbackMethod>\n    <CallInitiatedFallbackCreds>\n      <UserId>login2</UserId>\n    </CallInitiatedFallbackCreds>\n    <CallbackTimeout>20</CallbackTimeout>\n  </Application>\n  </ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/applications/{applicationId}": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>Retrieve an Application</p><p>Please visit <a href='/docs/account/applications'>Applications management</a></p>",
        "operationId": "GetApplication",
        "summary": "Retrieve application",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "description": "Application ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/xml": {
                "examples": {
                  "messaging": {
                    "summary": "Messaging application",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ApplicationProvisioningResponse>\n  <Application>\n    <ApplicationId>e5a9e103-097e-4ec4-87a0-50109fb7b4b1</ApplicationId>\n    <ServiceType>Messaging</ServiceType>\n    <AppName>qMmmTT</AppName>\n    <!--DEPRECATED-->\n    <MsgCallbackUrl>https://example.com</MsgCallbackUrl>\n    <InboundCallbackUrl>https://example.com</InboundCallbackUrl>\n    <OutboundCallbackUrl>https://example2.com</OutboundCallbackUrl>\n    <!--DEPRECATED-->\n    <MsgCallbackCreds>\n      <!--DEPRECATED-->\n      <UserId>15jPWZmXdm</UserId>\n      <!--DEPRECATED-->\n    </MsgCallbackCreds>\n    <InboundCallbackCreds>\n      <UserId>15jPWZmXdm</UserId>\n    </InboundCallbackCreds>\n    <OutboundCallbackCreds>\n      <UserId>15jPWZmXdm</UserId>\n    </OutboundCallbackCreds>\n    <RequestedCallbackTypes>\n      <CallbackType>message-delivered</CallbackType>\n      <CallbackType>message-failed</CallbackType>\n      <CallbackType>message-sending</CallbackType>\n    </RequestedCallbackTypes>\n  </Application>\n</ApplicationProvisioningResponse>\n"
                  },
                  "voice" : {
                    "summary": "Voice application",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ApplicationProvisioningResponse>\n  <Application>\n    <ApplicationId>e5a9e103-097e-4ec4-87a0-50109fb7b4b1</ApplicationId>\n    <ServiceType>Voice</ServiceType>\n    <AppName>qMmmTT</AppName>\n    <CallInitiatedCallbackUrl>http://example.com</CallInitiatedCallbackUrl>\n    <CallbackCreds>\n      <UserId>15jPWZmXdm</UserId>\n    </CallbackCreds>\n    <CallInitiatedFallbackUrl>https://fallback.com</CallInitiatedFallbackUrl>\n    <CallInitiatedFallbackMethod>POST</CallInitiatedFallbackMethod>\n    <CallInitiatedFallbackCreds>\n      <UserId>login2</UserId>\n    </CallInitiatedFallbackCreds>\n    <CallbackTimeout>20</CallbackTimeout>\n  </Application>\n</ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>Update an Application.</p><p>Please visit <a href='/docs/account/applications'>Applications management</a></p>",
        "operationId": "UpdateApplication",
        "summary": "Update application",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "description": "Application ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "examples": {
                "messaging": {
                  "summary": "Messaging application",
                  "value": "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"yes\"?>\n<Application>\n  <ServiceType>Messaging</ServiceType>\n  <AppName>EBVICs</AppName>\n  <InboundCallbackUrl>http://example.com</InboundCallbackUrl>\n  <OutboundCallbackUrl>http://example2.com</OutboundCallbackUrl>\n  <RequestedCallbackTypes>\n    <CallbackType>message-delivered</CallbackType>\n    <CallbackType>message-failed</CallbackType>\n    <CallbackType>message-sending</CallbackType>\n  </RequestedCallbackTypes>\n</Application>"
                },
                "voice": {
                  "summary": "Voice application",
                  "value": "<?xml version=\"1.0\" encoding=\"ISO-8859-1\" standalone=\"yes\"?>\n<Application>\n  <ServiceType>Voice</ServiceType>\n  <AppName>v1</AppName>\n  <CallInitiatedCallbackUrl>https://a.com</CallInitiatedCallbackUrl>\n  <CallInitiatedMethod>GET</CallInitiatedMethod>\n  <CallStatusCallbackUrl>https://b.com</CallStatusCallbackUrl>\n  <CallStatusMethod>GET</CallStatusMethod>\n  <CallbackCreds>\n    <UserId>login123</UserId>\n    <Password>password123</Password>\n  </CallbackCreds>\n  <CallInitiatedFallbackUrl>https://fallback.com</CallInitiatedFallbackUrl>\n  <CallInitiatedFallbackMethod>POST</CallInitiatedFallbackMethod>\n  <CallInitiatedFallbackCreds>\n    <UserId>login2</UserId>\n    <Password>password123</Password>\n  </CallInitiatedFallbackCreds>\n  <CallbackTimeout>20</CallbackTimeout>\n </Application>"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/xml": {
                "examples": {
                  "messaging": {
                    "summary": "Messaging application",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ApplicationProvisioningResponse>\n  <Application>\n    <ApplicationId>e5a9e103-097e-4ec4-87a0-50109fb7b4b1</ApplicationId>\n    <ServiceType>Messaging</ServiceType>\n    <AppName>EBVICs</AppName>\n    <!-- DEPRECATED -->\n    <MsgCallbackUrl>http://example.com</MsgCallbackUrl>\n    <InboundCallbackUrl>http://example.com</InboundCallbackUrl>\n    <OutboundCallbackUrl>http://example2.com</OutboundCallbackUrl>\n    <RequestedCallbackTypes>\n      <CallbackType>message-delivered</CallbackType>\n      <CallbackType>message-failed</CallbackType>\n      <CallbackType>message-sending</CallbackType>\n    </RequestedCallbackTypes>\n  </Application>\n</ApplicationProvisioningResponse>"
                  },
                  "voice": {
                    "summary": "Voice application",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ApplicationProvisioningResponse>\n  <Application>\n    <ApplicationId>e5a9e103-097e-4ec4-87a0-50109fb7b4b1</ApplicationId>\n    <ServiceType>Voice</ServiceType>\n    <AppName>EBVICs</AppName>\n    <CallInitiatedCallbackUrl>https://example2.com</CallInitiatedCallbackUrl>\n    <CallInitiatedMethod>[GET|POST]</CallInitiatedMethod>\n    <CallStatusCallbackUrl>https://example3.com</CallStatusCallbackUrl>\n    <CallStatusMethod>[GET|POST]</CallStatusMethod>\n  </Application>\n</ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>Delete an Application.</p><p>An Application cannot be removed from an account if that Application is referenced by any Location associated with the account.</p><p>Please visit <a href='/docs/account/applications'>Applications management</a></p>",
        "operationId": "DeleteApplication",
        "summary": "Delete application",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "description": "Application ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": null
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>Patch update an Application</p><ul><li>CallStatusCallbackUrl can be removed by settings its value to 'remove'</li></ul><p>Please visit <a href='/docs/account/applications'>Applications management</a></p>",
        "operationId": "PatchApplication",
        "summary": "Patch application",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "applicationId",
            "description": "Application ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "examples": {
                "example": {
                  "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n  <Application>\n    <AppName>XgRIdP</AppName>\n  </Application>"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ApplicationProvisioningResponse>\n  <Application>\n    <ApplicationId>e5a9e103-097e-4ec4-87a0-50109fb7b4b1</ApplicationId>\n    <ServiceType>Voice</ServiceType>\n    <AppName>EBVICs</AppName>\n    <CallInitiatedCallbackUrl>https://example2.com</CallInitiatedCallbackUrl>\n     <CallInitiatedMethod>[GET|POST]</CallInitiatedMethod>\n    <CallStatusCallbackUrl>https://example3.com</CallStatusCallbackUrl>\n    <CallStatusMethod>[GET|POST]</CallStatusMethod>\n  </Application>\n</ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/applications/{applicationId}/associatedsippeers": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>Retrieve a list of sippeers, associated with application</p>\n",
        "operationId": "GET /accounts/{accountId}/applications/{applicationId}/associatedsippeers",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          },
          {
            "name": "applicationId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AssociatedSipPeersResponse>\n <AssociatedSipPeers>\n <AssociatedSipPeer>\n <SiteId>482</SiteId>\n <SiteName>site_e867f</SiteName>\n <PeerId>500018</PeerId>\n <PeerName>sippeer-e867f</PeerName>\n </AssociatedSipPeer>\n <AssociatedSipPeer>\n <SiteId>483</SiteId>\n <SiteName>site_e867d</SiteName>\n <PeerId>500019</PeerId>\n <PeerName>sippeer-e867d</PeerName>\n </AssociatedSipPeer>\n </AssociatedSipPeers>\n </AssociatedSipPeersResponse>\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AssociatedSipPeersResponse>\n <ResponseStatus>\n <ErrorCode>12103</ErrorCode>\n <Description> Current 1 Account have no Catapult association </Description>\n </ResponseStatus>\n </AssociatedSipPeersResponse>\n"
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<AssociatedSipPeersResponse>\n <ResponseStatus>\n <ErrorCode>13629</ErrorCode>\n <Description> Application with id 'non_existing' not found </Description>\n </ResponseStatus>\n </AssociatedSipPeersResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/availableNpaNxx": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "Retrieves a list of available Npa-Nxx telephone numbers.",
        "operationId": "GetAvailableNpaNxx",
        "summary": "Retrieves available Npa-Nxx tns",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "areaCode",
            "description": "The allowed number ranges are [2-9] for the first digit and [0-9] for both the second and third digits.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 919
          },
          {
            "name": "state",
            "description": "Returns only the NPA NXX information within the specified state.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "NC"
          },
          {
            "name": "quantity",
            "description": "Filters out any Npa-Nxx grouped phone numbers whose quantity falls short of the given quantity.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 150
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "The quantity of available phone numbers, grouped by NPA-NXX.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<SearchResultForAvailableNpaNxx>\n  <AvailableNpaNxxList>\n  <AvailableNpaNxx>\n    <City>NASHVILLE</City>\n    <Npa>252</Npa>\n    <Nxx>220</Nxx>\n    <Quantity>1</Quantity>\n    <State>NC</State>\n  </AvailableNpaNxx>\n  <AvailableNpaNxx>\n    <City>FARMVILLE</City>\n    <Npa>252</Npa>\n    <Nxx>228</Nxx>\n    <Quantity>1</Quantity>\n    <State>NC</State>\n  </AvailableNpaNxx>\n  </AvailableNpaNxxList>\n</SearchResultForAvailableNpaNxx>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "There are no phone numbers within the specified scope.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<SearchResultForAvailableNpaNxx>\n  <Error>\n    <Code>4000</Code>\n    <Description>The area code specified 433 is not present as a valid entry in our system</Description>\n    </Error>\n  </SearchResultForAvailableNpaNxx>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/availableNumbers": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "Retrieves the phone numbers according to the input parameters.",
        "operationId": "GetAvailableTns",
        "summary": "Retrieve available tns",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quantity",
            "description": "The desired quantity of requested numbers.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 5000
            },
            "example": 30
          },
          {
            "name": "enableTNDetail",
            "description": "If set to true, a list of details associated with the telephone number (rate center, abbreviation, city, state, and LATA) will be displayed along with the TN.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "LCA",
            "description": "<p>Values are true or false.</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "endsIn",
            "description": "<p>Intended to use with <i>localVanity</i> only. If set to true, the search will look for only numbers which end in specified <i>localVanity</i>, otherwise <i>localVanity</i> sequence can be met anywhere in last 7 number digits. The default is false.</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "areaCode",
            "description": "<p>The 3-digit area code associated with the TN.</p><ul><li>Allowed number ranges are [2-9] for the first digit and [0-9] for both the second and third digits.</li></ul>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 435
          },
          {
            "name": "npaNxx",
            "description": "<p>The 6 prefix associated with the TN.</p><ul><li>Allowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.</li><li>Allowed number ranges for NXX are [2-9] for the first digit and [0-9] for both the second and third digits.</li></ul>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "npaNxxx",
            "description": "<p>The 7-digit prefix associated with the TN.</p><ul><li>Allowed number ranges for NPA are [2-9] for the first digit and [0-9] for both the second and third digits.</li><li>Allowed number ranges for NXXX are [2-9] for the first digit and [0-9] the rest of the (X) digits.</li></ul>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lata",
            "description": "<p>A maximum five digit (XXXXX) numeric format</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 244
          },
          {
            "name": "rateCenter",
            "description": "<p>The abbreviation for the rateCenter</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Cary"
          },
          {
            "name": "city",
            "description": "<p>The name of the city.</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "RALEIGH"
          },
          {
            "name": "state",
            "description": "<p>The two-letter abbreviation of the state the RateCenter is in</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "NC"
          },
          {
            "name": "tollFreeVanity",
            "description": "<p>The Toll Free requested vanity number. Valid range is 7+ digits alphanumeric.</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "NEWCARS"
          },
          {
            "name": "tollFreeWildCardPattern",
            "description": "<p>The Toll Free requested wild card pattern. valid range is 3 digits.</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "8**, 80*, 87*"
          },
          {
            "name": "localVanity",
            "description": "<p>Requested vanity number. Valid range is from 4 to 7 alphanumeric characters.</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "NEWCARS"
          },
          {
            "name": "zip",
            "description": "<p>A five-digit (XXXXX) or nine-digit (XXXXX-XXXX) format value.</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 27607
          },
          {
            "name": "orderBy",
            "description": "<p>The field by which the results should be sorted</p>",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "<p>A list of available numbers is provided.  Additional information is available if the queryParameter enableTNDetail is true. If no numbers are available an empty SearchResult element is returned.</p>",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<SearchResult>\n  <ResultCount>384</ResultCount>\n  <TelephoneNumberList>\n    <TelephoneNumber>4354776112</TelephoneNumber>\n    <!-- SNIP -->\n    <TelephoneNumber>4357095160</TelephoneNumber>\n  </TelephoneNumberList>\n</SearchResult>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "<p>Invalid/missing input parameter</p>",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<SearchResult>\n  <Error>\n    <Code>4010</Code>\n    <Description>One of more required search parameters are null or empty, please refer to the api documentation</Description>\n    </Error>\n  </SearchResult>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/bdrs": {
      "post": {
        "tags": [
          "/accounts"
        ],
        "description": "<p><b>Note - this API is being replaced with the /billingreports API - we strongly recommend that you use that endpoint.</b></p> <p>This API allows the retrieval of a ZIP file containing BDR records for a specified date range. These BDR records are delivered as a ZIP compressed comma separated values (CSV) file. The general flow of the API calls required to retrieve these records is: <ol>  <li>POST a request to the /bdrs resource, describing the date range for which the BDR records are wished. This will initiate the construction of the zip file.</li> <li>Examine the response from the POST. If the payload is understandable and valid then a 202 accepted HTTP result code will be returned indicating that the response file is being created.</li> <li>Retrieve the Location Header from the Response to the POST. This location header will contain the resource ID for the collection of BDRs that will be returned once complete. Note that the fact that the ID has been issued does not mean that the ZIP file is complete.</li> <li>Interrogate the resource ID to check the status of the request. If a 303 See Other response is received then the Location Header will contain the resource path to the file. A typical browser response will be to download the file. If a 200 OK is returned then the request is considered valid, but the file is not ready for distribution.</li> <li>Fetching the file can be done by issuing a GET to the resources path in the Location Header mentioned above</li></ol>",
        "operationId": "CreateBDR",
        "summary": "Create BDR in range",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "description": "User's account ID",
            "example": "900000",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "examples": {
                "example": {
                  "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Bdr>\n    <StartDate>2015-04-01</StartDate>\n    <EndDate>2015-04-30</EndDate>\n</Bdr>\n"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "A 202 Accepted means that the request has been received and will be processed.  Processing the request takes time, so this does not indicate that the information is available, it simply indicates that the request has started processing. \nThe response also includes header information in the Location Header that can be used for retrieving the state of the request.\nAn informative payload is also included in success and failure cases.\n",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BdrCreationResponse>\n     <Info>Your BDR archive is currently being constructed</Info>\n</BdrCreationResponse>\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A 400 response indicates that there was an error in processing the payload, perhaps something like incorrectly formatted or chosen dates.\n",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BdrCreationResponse>\n    <ResponseStatus>\n        <ErrorCode>15501</ErrorCode>\n        <Description>Invalid date range. Start date 2015-06-01 must be before end date 2015-04-30</Description>\n    </ResponseStatus>\n</BdrCreationResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/bdrs/{bdrid}": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "deprecated": true,
        "description": "</p>The bdr id resource will query the status of the bdr file that is being generated. There are essentially two responses...</p><ul><li>not yet ready</li><li>ready, in which case the request is redirected to the URL to actually download the file.</li></ul> <p>A GET on the BDR ID will return a still processing indication if the file creation has not completed, or will redirect to the file to be downloaded.</p>",
        "operationId": "GetBDRStatus",
        "summary": "Retrieve BDR status or redirect to download",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "900000"
          },
          {
            "name": "bdrid",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "A 200 OK means that the request is valid, but that the file is not yet ready. The payload indicates the status.\n",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BdrCreationResponse>\n     <Info>The requested BDR archive is still being constructed, please check back later</Info>\n</BdrCreationResponse>\n"
                  }
                }
              }
            }
          },
          "303": {
            "description": "A 303 response indicates that the file is ready.  The 303 should redirect the request to the URL in the Location header, which will, in most cases, initiate the file download.\n"
          },
          "400": {
            "description": "A 400 indicates that the BDR id is malformed. </p>\n",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BdrRetrievalResponse>\n    <ResponseStatus>\n        <ErrorCode>1008</ErrorCode>\n        <Description>'44a90e00-a7b6asdfsdafasdfdasf-6659-9112-e7f5dfa48231' is not a valid UUID</Description>\n    </ResponseStatus>\n</BdrRetrievalResponse>\n"
                  }
                }
              }
            }
          },
          "404": {
            "description": "A 404 indicates that the BDR id cannot be found.\n",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BdrRetrievalResponse>\n    <ResponseStatus>\n        <ErrorCode>15001</ErrorCode>\n        <Description>BDR archive was not found</Description>\n    </ResponseStatus>\n</BdrRetrievalResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/bdrs/{bdrid}/file": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "A GET on the /file resource subtending a BDR ID will cause the download of the file.  Executing this resource path within a browser will cause the download of the file.",
        "operationId": "DownloadBDR",
        "summary": "Download BDR",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "900000"
          },
          {
            "name": "bdrid",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "A 200 OK indicates that the request for the file download was accepted and will be processed."
          }
        }
      }
    },
    "/accounts/{accountId}/billingreports": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "Retrieve billing report instances within the account scope and billing type. The valid Billing Types are...<ul><li>BDR</li><li>MDR</li><li>INVOICE</li><li>STMTBDR</li><li>DIDSNAP</li><li>DIDSNAP_MSG</li><li>RECORDINGBDR</li><li>RECORDINGSTMTBDR</li><li>TRANSCRIPTIONBDR</li><li>TRANSCRIPTIONSTMTBDR</li><li>CNAMBDR</li><li>CNAMSTMTBDR</li><li>CONFBDR</li><li>CONFSTMTBDR</li><li>TFPEERINGSTMTBDR</li><li>TNLOOKUPBDR</li><li>TNLOOKUPSTMTBDR</li><li>MSG_CAMPAIGN_REGISTRY_BDR</li><li>MSG_CAMPAIGN_CARRIER_ACTIVATION_BDR</li><li>AMDBDR</li><li>AMDSTMTBDR</li><li>SIPURIBDR</li><li>SIPURISTMTBDR</li></ul>",
        "operationId": "GetBillingReportByType",
        "summary": "Retrieve billing report by billing type",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "900000"
          },
          {
            "name": "kind",
            "description": "One of billing report types DIDSNAP, DIDSNAP_MSG. Empty parameter will return all reports of types DIDSNAP, DIDSNAP_MSG.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "kind=DIDSNAP,DIDSNAP_MSG"
            },
            "example": "DIDSNAP"
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "The list of all billing report instances. (Not supported for BDR, MDR, INVOICE, STMTBDR, RECORDINGBDR, RECORDINGSTMTBDR, TRANSCRIPTIONBDR, TRANSCRIPTIONSTMTBDR, CNAMBDR, CNAMSTMTBDR, CONFBDR, CONFSTMTBDR, TFPEERINGSTMTBDR, AMDBDR, AMDSTMTBDR, SIPURIBDR, SIPURISTMTBDR, TTSBDR, TTSSTMTBDR as status history not implemented yet for these billing types)\n",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BillingReportsRetrievalResponse>\n    <BillingReportList>\n        <BillingReport>\n            <BillingReportId>5f8734f0-d7c3-445c-b1e2-cdbb620e4ff7</BillingReportId>\n            <BillingReportKind>DIDSNAP</BillingReportKind>\n            <UserId>jbm</UserId>\n            <ReportStatus>PROCESSING</ReportStatus>\n            <Description>The requested report archive is still being constructed, please check back later.</Description>\n            <CreatedDate>2017-11-01 14:12:16</CreatedDate>\n            <DateRange>\n                <StartDate>2017-01-01</StartDate>\n                <EndDate>2017-09-30</EndDate>\n            </DateRange>\n        </BillingReport>\n        <BillingReport>\n            <BillingReportId>7680a54a-b1f1-4d43-8af6-bf3a701ad202</BillingReportId>\n            <BillingReportKind>DIDSNAP</BillingReportKind>\n            <UserId>jbm</UserId>\n            <ReportStatus>COMPLETE</ReportStatus>\n            <Description>The requested report archive is failed</Description>\n            <CreatedDate>2017-11-06 14:22:21</CreatedDate>\n            <DateRange>\n                 <StartDate>2017-05-01</StartDate>\n                 <EndDate>2017-10-31</EndDate>\n            </DateRange>\n        </BillingReport>\n    </BillingReportList>\n</BillingReportsRetrievalResponse>\n"
                  }
                }
              }
            }
          },
          "204": {
            "description": "Billing report data for requested time frame hasn't been provided yet."
          },
          "400": {
            "description": "A 400 response indicates that report type is incorrect."
          }
        }
      },
      "post": {
        "tags": [
          "/accounts"
        ],
        "description": "The payload for the POST declares the date range and type for the desired reports. The valid types are: <ul> <li>BDR - Billing Detail Records - per call information</li> <li>MDR - Message Detail Records - per messagin information</li> <li>INVOICE - A copy of the invoice file or files for the specified date range</li> <li>STMTBDR - BDR records that are aligned with the invoice</li> <li>DIDSNAP - a list of telephone numbers aligned as closely as we can with the billing window</li> <li>DIDSNAP_MSG - a list of telephone numbers with active messaging</li> </ul>\n",
        "operationId": "CreateBillingReport",
        "summary": "Create billing report in range",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "900000"
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "examples": {
                "example": {
                  "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BillingReport>\n    <Type>BDR</Type>\n    <DateRange>\n       <StartDate>2013-05-21</StartDate>\n       <EndDate>2013-05-29</EndDate>\n    </DateRange>\n</BillingReport>\n"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A 201 response means that the response file is currently being constructed. Constructing the file takes time, so this does not indicate that the information is available.<br>\nThe response also includes header information in the Location Header that can be used for retrieving the state of the report.<br>\nAn informative payload is also included in success and failure cases.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BillingReportCreationResponse>\n    <ReportStatus>RECEIVED</ReportStatus>\n    <Description>The report archive is currently being constructed.</Description>\n</BillingReportCreationResponse>\n"
                  }
                }
              }
            }
          },
          "404": {
            "description": "A 400 response indicates that there was an error in processing the payload, perhaps something like incorrectly formatted or chosen dates.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BillingReportCreationResponse>\n    <ResponseStatus>\n        <ErrorCode>15501</ErrorCode>\n        <Description>Invalid date range. Start date 2014-05-21 must be before end date 2013-05-29</Description>\n    </ResponseStatus>\n</BillingReportCreationResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/billingreports/{reportid}": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>The resource will query the status of the report that is being generated.</p>\n",
        "operationId": "GetBillingReportStatus",
        "summary": "Retrieve billing report status or redirect to download",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "900000"
          },
          {
            "name": "bdrid",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "<p>A 200 indicates that the request is valid. The payload indicates the report status: <br></p>\n\n<ul>\n    <li><b>PROCESSING</b> - The requested report archive is still being constructed, please check back later.</li>\n    <li><b>COMPLETED</b> - The report archive is constructed.</li>\n</ul>\n\n<p>For <b>COMPLETED</b> report, fetching the file can be done by issuing a GET request to the resource path in the Location Header.</p>",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BillingReportRetrievalResponse>\n    <ReportStatus>COMPLETED</ReportStatus>\n     <Description>The report archive is constructed.</Description>\n</BillingReportRetrievalResponse>\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "A 400 indicates that the report ID is malformed.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BillingReportRetrievalResponse>\n    <ResponseStatus>\n        <ErrorCode>1008</ErrorCode>\n        <Description>'9b428b4c-159b-465f-9667-' is not a valid UUID</Description>\n    </ResponseStatus>\n</BillingReportRetrievalResponse>\n"
                  }
                }
              }
            }
          },
          "404": {
            "description": "A 404 indicates that the requested report cannot be found.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BillingReportRetrievalResponse>\n    <ResponseStatus>\n        <ErrorCode>15603</ErrorCode>\n        <Description>The requested report was not found.</Description>\n    </ResponseStatus>\n</BillingReportRetrievalResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/billingreports/{reportid}/file": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>A GET on the /file resource subtending a report ID will cause the download of the file.  Executing this resource path within a browser will cause the download of the file.</p>\n",
        "operationId": "DownloadBillingReport",
        "summary": "Download billing report",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "900000"
          },
          {
            "name": "bdrid",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "A 200 OK indicates that the request for the file download was accepted and will be processed."
          },
          "400": {
            "description": "A 400 indicates that the report ID is malformed.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BillingReportArchiveRetrievalResponse>\n    <ResponseStatus>\n        <ErrorCode>1008</ErrorCode>\n        <Description>'9b428b4c-159b-465f-9667-' is not a valid UUID</Description>\n    </ResponseStatus>\n</BillingReportArchiveRetrievalResponse>\n"
                  }
                }
              }
            }
          },
          "404": {
            "description": "A 404 indicates that the requested report cannot be found.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BillingReportArchiveRetrievalResponse>\n    <ResponseStatus>\n        <ErrorCode>15603</ErrorCode>\n        <Description>The requested report was not found.</Description>\n    </ResponseStatus>\n</BillingReportArchiveRetrievalResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/bulkPortins": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "Retrieves bulk port-in orders for the specified accountId.\nA maximum of 1,000 orders can be retrieved per request. If no date range or specific query parameter is provided, the order results will be limited to the last two years. Please visit <a href='/docs/numbers/guides/bulkportins'>Guides and Tutorials</a>",
        "operationId": "ListBulkPortins",
        "summary": "List bulk port-in orders",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          },
          {
            "name": "page",
            "description": "The full bulk port-in orderId of the first order of the page.  Special value \u201c1\u201d is used\nto indicate the first port-in for the accountId matching any other query parameters.\nIf the number of results exceeds the \u201csize\u201d parameter value, the result includes a header\ncalled \u201cnext\u201d that allows you to fetch the next page of the results.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "1"
            },
            "example": "\u201cca43d178-8f67-4a08-9a4b-af0ce06b5914\u201d, \u201c1\u201d"
          },
          {
            "name": "size",
            "description": "The maximum number of results to include in the response payload.  The\nvalue should be between 1 and 1000.  Larger values may be specified, but results are\nlimited to a maximum of 1000 entries, regardless.",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 300
            },
            "example": 30
          },
          {
            "name": "status",
            "description": "Include in the response payload only entries in which the bulk port-in order had the specified ProcessingStatus value.  Note: specifying \u201cdraft\u201d will include any of the draft values, including \u201cDRAFT\u201d, \u201cVALIDATE_DRAFT_TNS\u201d, \u201cVALID_DRAFT_TNS\u201d, and \u201cINVALID_DRAFT_TNS\u201d.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": "\u201cdraft\u201d, \u201cin_progress\u201d, \u201cneeds_attention\u201d, \u201cpartial\u201d, \u201ccompleted\u201d, \u201ccancelled\u201d"
          },
          {
            "name": "orderDate",
            "description": "<p>A specific date on which you wish to see modifications to a bulk port-in order.\nFor each bulk port-in order, belonging to the account, that was modified on the specified date/time, only the latest update for that order is included in the results.</p>\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "date",
              "default": null
            },
            "example": "\u201c2021-06-21T18:45:00.000Z\u201d, \u201c2021-06-21Z\u201d, \u201c2021-06-21T11:30:00-05:00\u201d"
          },
          {
            "name": "modifiedDateFrom",
            "description": "The earliest date from which you want to see modifications to a bulk port-in order.\nThis query parameter must be used together with \u201cmodifiedDateTo\u201d.\nThis parameter and modifiedDateTo define a time interval.  For each bulk port-in order,\nbelonging to the account, that was modified in that time interval, only the latest\nupdate for that order is included in the results.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "date",
              "default": null
            },
            "example": "\u201c2021-06-21T18:45:00.000Z\u201d, \u201c2021-06-21Z\u201d, \u201c2021-06-21T11:30:00-05:00\u201d"
          },
          {
            "name": "modifiedDateTo",
            "description": "The latest date from which you want to see modifications to a bulk port-in order.\nThis query parameter must be used together with \u201cmodifiedDateFrom\u201d.\nThis parameter and modifiedDateFrom define a time interval.  For each bulk\nport-in order, belonging to the account, that was modified in that time interval,\nonly the latest update for that order is included in the results.\nThe modifiedDateTo value may be in the future.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "date",
              "default": null
            },
            "example": "\u201c2021-06-21T18:45:00.000Z\u201d, \u201c2021-06-21Z\u201d, \u201c2021-06-21T11:30:00-05:00\u201d"
          },
          {
            "name": "orderDetails",
            "description": "If set to true, bulk port-in order details will be displayed instead of summary information.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": null
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "The list of bulk port-ins have been successfully retrieved.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<!-- If the orderDetails query parameter was not included, or was set to false, the response will look like the following-->\n<BulkPortinResponses>\n\t<TotalCount>3</TotalCount>\n\t<Links>\n\t\t<first>Link=&lt;https://dashboard.bandwidth.com:443/v1.0/accounts/9900012/bulkPortins?page=1&amp;size=100&amp;orderDate=2020-06-16&gt;;rel=\\\"first\\\";</first>\n\t</Links>\n\t<BulkPortinResponse>\n\t\t<OrderId>7811bc44-9f34-4c5c-97d5-51e666eb982e</OrderId>\n\t\t<CompanyName>WandEDemo</CompanyName>\n\t\t<LastModifiedBy>marketing</LastModifiedBy>\n\t\t<LastModifiedDate>2020-06-16T20:02:19.156Z</LastModifiedDate>\n\t\t<OrderCreateDate>2020-06-16T19:25:04.482Z</OrderCreateDate>\n\t\t<PortinList>\n\t\t\t<PortinOrderId>24686d19-6c8d-4b8e-9e07-59bdb5dd2782</PortinOrderId>\n\t\t\t<PortinOrderId>5795dff2-b9cf-4989-974a-a74e7fa6a756</PortinOrderId>\n\t\t\t<PortinOrderId>b8fc06b5-36d3-4d86-b015-13d9f994960d</PortinOrderId>\n\t\t\t<PortinOrderId>03442cad-61f5-4777-9299-6527bef523ca</PortinOrderId>\n\t\t</PortinList>\n\t\t<ProcessingStatus>IN_PROGRESS</ProcessingStatus>\n\t\t<RequestedFocDate>2020-06-18T16:30:00.000Z</RequestedFocDate>\n\t</BulkPortinResponse>\n\t<BulkPortinResponse>\n\t\t<OrderId>d8a449c5-d3ea-426e-aa6d-a9cf5393df7e</OrderId>\n\t\t<CompanyName>WandEDemo</CompanyName>\n\t\t<LastModifiedBy>marketing</LastModifiedBy>\n\t\t<LastModifiedDate>2020-06-16T18:58:54.638Z</LastModifiedDate>\n\t\t<OrderCreateDate>2020-06-16T17:26:52.542Z</OrderCreateDate>\n\t\t<PortinList>\n\t\t\t<PortinOrderId>dfda81d4-6a06-4cfc-9b6e-aecf373a16cd</PortinOrderId>\n\t\t\t<PortinOrderId>28ce2db3-8ff6-4151-8dc4-487faf19795b</PortinOrderId>\n\t\t\t<PortinOrderId>3cba78e5-93aa-407a-bcf5-6ebd46b60f77</PortinOrderId>\n\t\t\t<PortinOrderId>aa1bd5ae-d3f9-429a-91e4-34ddfe6dba1c</PortinOrderId>\n\t\t</PortinList>\n\t\t<ProcessingStatus>CANCELLED</ProcessingStatus>\n\t\t<RequestedFocDate>2020-06-19T19:00:00.000Z</RequestedFocDate>\n\t</BulkPortinResponse>\n\t<BulkPortinResponse>\n\t\t<OrderId>555e320c-a093-4e9d-97e2-03d822b78aa4</OrderId>\n\t\t<CompanyName>WandEDemo</CompanyName>\n\t\t<LastModifiedBy>marketing</LastModifiedBy>\n\t\t<LastModifiedDate>2020-06-16T16:10:11.406Z</LastModifiedDate>\n\t\t<OrderCreateDate>2020-06-16T15:52:16.607Z</OrderCreateDate>\n\t\t<PortinList>\n\t\t\t<PortinOrderId>9c01d8d6-24bc-41b3-9afb-4f0b571e0a36</PortinOrderId>\n\t\t\t<PortinOrderId>cb691fcc-fcaf-42bf-ac5d-ed073dc95219</PortinOrderId>\n\t\t\t<PortinOrderId>87abdd51-9aaf-4b0a-8cb6-8f5aaa0a1bb0</PortinOrderId>\n\t\t\t<PortinOrderId>4eeb7bbd-412e-4a53-988e-7190ad5c210f</PortinOrderId>\n\t\t</PortinList>\n\t\t<ProcessingStatus>CANCELLED</ProcessingStatus>\n\t\t<RequestedFocDate>2020-06-18T02:00:00.000Z</RequestedFocDate>\n\t</BulkPortinResponse>\n</BulkPortinResponses>\n<!--If the orderDetails query parameter was included with a value of true, the results will look like the following -->\n<BulkPortinResponses>\n\t<TotalCount>3</TotalCount>\n\t<Links>\n\t\t<first>Link=&lt;https://dashboard.bandwidth.com:443/v1.0/accounts/9900012/bulkPortins?page=1&amp;size=100&amp;orderDate=2020-06-16&amp;orderDetails=true&gt;;rel=\\\"first\\\";</first>\n\t</Links>\n\t<BulkPortinResponse>\n\t\t<accountId>9900012</accountId>\n\t\t<OrderId>7811bc44-9f34-4c5c-97d5-51e666eb982e</OrderId>\n\t\t<OrderType>bulk_port_in</OrderType>\n\t\t<SuppCount>0</SuppCount>\n\t\t<CompanyName>WandEDemo</CompanyName>\n\t\t<CreatedByUser>marketing</CreatedByUser>\n\t\t<LastModifiedBy>marketing</LastModifiedBy>\n\t\t<LastModifiedDate>2020-06-16T20:02:19.156Z</LastModifiedDate>\n\t\t<OrderCreateDate>2020-06-16T19:25:04.482Z</OrderCreateDate>\n\t\t<PeerId>583048</PeerId>\n\t\t<PortinList>\n\t\t\t<PortinOrderId>24686d19-6c8d-4b8e-9e07-59bdb5dd2782</PortinOrderId>\n\t\t\t<PortinOrderId>5795dff2-b9cf-4989-974a-a74e7fa6a756</PortinOrderId>\n\t\t\t<PortinOrderId>b8fc06b5-36d3-4d86-b015-13d9f994960d</PortinOrderId>\n\t\t\t<PortinOrderId>03442cad-61f5-4777-9299-6527bef523ca</PortinOrderId>\n\t\t</PortinList>\n\t\t<ProcessingStatus>IN_PROGRESS</ProcessingStatus>\n\t\t<RequestedFocDate>2020-06-18T16:30:00.000Z</RequestedFocDate>\n\t\t<SiteId>202</SiteId>\n\t</BulkPortinResponse>\n\t<BulkPortinResponse>\n\t\t<accountId>9900012</accountId>\n\t\t<OrderId>d8a449c5-d3ea-426e-aa6d-a9cf5393df7e</OrderId>\n\t\t<OrderType>bulk_port_in</OrderType>\n\t\t<SuppCount>0</SuppCount>\n\t\t<CompanyName>WandEDemo</CompanyName>\n\t\t<CreatedByUser>marketing</CreatedByUser>\n\t\t<LastModifiedBy>marketing</LastModifiedBy>\n\t\t<LastModifiedDate>2020-06-16T18:58:54.638Z</LastModifiedDate>\n\t\t<OrderCreateDate>2020-06-16T17:26:52.542Z</OrderCreateDate>\n\t\t<PeerId>566974</PeerId>\n\t\t<PortinList>\n\t\t\t<PortinOrderId>dfda81d4-6a06-4cfc-9b6e-aecf373a16cd</PortinOrderId>\n\t\t\t<PortinOrderId>28ce2db3-8ff6-4151-8dc4-487faf19795b</PortinOrderId>\n\t\t\t<PortinOrderId>3cba78e5-93aa-407a-bcf5-6ebd46b60f77</PortinOrderId>\n\t\t\t<PortinOrderId>aa1bd5ae-d3f9-429a-91e4-34ddfe6dba1c</PortinOrderId>\n\t\t</PortinList>\n\t\t<ProcessingStatus>CANCELLED</ProcessingStatus>\n\t\t<RequestedFocDate>2020-06-19T19:00:00.000Z</RequestedFocDate>\n\t\t<SiteId>202</SiteId>\n\t</BulkPortinResponse>\n\t<BulkPortinResponse>\n\t\t<accountId>9900012</accountId>\n\t\t<OrderId>555e320c-a093-4e9d-97e2-03d822b78aa4</OrderId>\n\t\t<OrderType>bulk_port_in</OrderType>\n\t\t<SuppCount>0</SuppCount>\n\t\t<CompanyName>WandEDemo</CompanyName>\n\t\t<CreatedByUser>marketing</CreatedByUser>\n\t\t<LastModifiedBy>marketing</LastModifiedBy>\n\t\t<LastModifiedDate>2020-06-16T16:10:11.406Z</LastModifiedDate>\n\t\t<OrderCreateDate>2020-06-16T15:52:16.607Z</OrderCreateDate>\n\t\t<PeerId>583048</PeerId>\n\t\t<PortinList>\n\t\t\t<PortinOrderId>9c01d8d6-24bc-41b3-9afb-4f0b571e0a36</PortinOrderId>\n\t\t\t<PortinOrderId>cb691fcc-fcaf-42bf-ac5d-ed073dc95219</PortinOrderId>\n\t\t\t<PortinOrderId>87abdd51-9aaf-4b0a-8cb6-8f5aaa0a1bb0</PortinOrderId>\n\t\t\t<PortinOrderId>4eeb7bbd-412e-4a53-988e-7190ad5c210f</PortinOrderId>\n\t\t</PortinList>\n\t\t<ProcessingStatus>CANCELLED</ProcessingStatus>\n\t\t<RequestedFocDate>2020-06-18T02:00:00.000Z</RequestedFocDate>\n\t\t<SiteId>202</SiteId>\n\t</BulkPortinResponse>\n</BulkPortinResponses>\"\n"
                  }
                }
              }
            }
          },
          "204": {
            "description": "No results matching the specified query parameters were found."
          }
        }
      },
      "post": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>Creates a bulk port-in order to be used as a template for a collection of child port-in orders.  The template values will be cascaded to child port-ins that result from decomposing a collection of Telephone Numbers that span carriers, RespOrgs, or have attributes that drive the decomposition into a number of individual port-in orders.<p></p> Upon a successfully-submitted payload, the order will have a status of \"DRAFT\", denoting that further modification to the template is expected.  For example, the next step is to use the /tnList endpoint to add a collection of telephone numbers to the bulk port-in order. The only valid value for the ProcessingStatus element in a POST is 'DRAFT', which is the default value.</p><p>Please visit <a href='/docs/numbers/guides/bulkportins'>Guides and Tutorials</a></p>",
        "operationId": "CreateBulkOrder",
        "summary": "Create bulk port-in order",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "examples": {
                "example": {
                  "description": "example",
                  "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\\n\n<BulkPortin> \n\t<CustomerOrderId>Order Id for all child orders</CustomerOrderId> \n\t<RequestedFocDate>2021-06-30Z</RequestedFocDate>\n\t<SiteId>14020</SiteId> \n\t<PeerId>521434</PeerId>\n</BulkPortin>"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The order has been created with the order ID specified in the response payload\nand in the Location header.  Note that it is possible to create an order that\nhas errors in it.  Very little screening is done, because all fields are\noptional and very little validation is done other than simple syntax checking.\nThe expectation is that the child orders will be updated using the /portins\nAPI prior to submission to fill in port-specific information (e.g. the LOA\nauthorizing person, or subscriber data).",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BulkPortinResponse>\n    <BulkPortin>\n        <CustomerOrderId>Order Id for all child orders</CustomerOrderId>\n        <RequestedFocDate>2021-06-30T00:00:00.000Z</RequestedFocDate>\n        <SiteId>14020</SiteId>\n        <PeerId>521434</PeerId>\n        <ProcessingStatus>DRAFT</ProcessingStatus>\n        <AccountId>9900572</AccountId>\n        <CreatedByUser>jgilmore</CreatedByUser>\n        <LastModifiedBy>jgilmore</LastModifiedBy>\n        <LastModifiedDate>2021-06-21T19:42:34.760Z</LastModifiedDate>\n        <OrderCreateDate>2021-06-21T19:42:34.760Z</OrderCreateDate>\n        <OrderId>3233e096-1ce5-4a58-ba77-02a5ee1c0ef4</OrderId>\n    </BulkPortin>\n</BulkPortinResponse>\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "<p>Order could not be processed and no order ID was created.</p>\n",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BulkPortinResponse>\n    <ResponseStatus>\n        <ErrorCode>7333</ErrorCode>\n        <Description>Porting is not enabled on the account.</Description>\n    </ResponseStatus>\n</BulkPortinResponse>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/bulkPortins/{orderid}": {
      "get": {
        "tags": [
          "/accounts"
        ],
        "description": "Retrieves information associated with the bulk port-in order specified by the orderId URI parameter. Please visit <a href='/docs/numbers/guides/bulkportins'>Guides and Tutorials</a>",
        "operationId": "RetrieveBulkOrder",
        "summary": "Retrieve bulk port-in order",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          },
          {
            "name": "orderid",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "The information has been successfully retrieved and displayed in the payload.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BulkPortinResponse> \n\t<BulkPortin> \n\t\t<CustomerOrderId>Order Id for all child orders</CustomerOrderId>\n\t\t<RequestedFocDate>2021-06-30T00:00:00.000Z</RequestedFocDate>\n\t\t<SiteId>14020</SiteId> \n\t\t<PeerId>521434</PeerId> \n\t\t<ProcessingStatus>DRAFT</ProcessingStatus> \n\t\t<AccountId>9900572</AccountId> \n\t\t<CreatedByUser>jgilmore</CreatedByUser> \n\t\t<LastModifiedBy>jgilmore</LastModifiedBy> \n\t\t<LastModifiedDate>2021-06-21T19:42:34.760Z</LastModifiedDate>\n\t\t<OrderCreateDate>2021-06-21T19:42:34.760Z</OrderCreateDate> \n\t</BulkPortin> \n</BulkPortinResponse>"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The indicated Bulk Port-in order could not be found."
          }
        }
      },
      "put": {
        "tags": [
          "/accounts"
        ],
        "description": "It is possible to change (\"SUPP\" in LNP terms) an existing Bulk Port-in order. This is done via a PUT or PATCH on the existing order-id.  Since the Bulk Portin order resource acts as a template for child port-in orders in DRAFT status, any record can be changed at any time.  The PUT completely replaces the existing Bulk Portin order with the payload of the PUT.  If the child port-in orders associated with the Bulk Port-in (if any exist) are also in DRAFT state, any field can be modified. If any child port-in order associated with the Bulk Port-in is in a state other than a draft state, normal SUPP rules for the child order apply, and the list of appropriate fields is smaller. Please visit <a href='/docs/numbers/guides/bulkportins'>Guides and Tutorials</a>",
        "operationId": "PutBulkOrder",
        "summary": "Update bulk port-in order",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          },
          {
            "name": "orderid",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "examples": {
                "example": {
                  "description": "example",
                  "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BulkPortin>\n    <CustomerOrderId>Order Id for all child orders</CustomerOrderId>\n    <RequestedFocDate>2021-06-30Z</RequestedFocDate>\n    <Subscriber>\n        <SubscriberType>BUSINESS</SubscriberType>\n        <BusinessName>Goina B Rich</BusinessName>\n        <ServiceAddress>\n            <HouseNumber>123</HouseNumber>\n            <StreetName>Maple Ave</StreetName>\n            <City>Hometown</City>\n            <StateCode>MO</StateCode>\n            <Zip>54923</Zip>\n        </ServiceAddress>\n    </Subscriber>\n    <SiteId>14020</SiteId>\n    <PeerId>521434</PeerId>\n</BulkPortin>\n"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The information has been successfully retrieved and displayed in the payload.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BulkPortinResponse> \n\t<BulkPortin> \n\t\t<CustomerOrderId>Order Id for all child orders</CustomerOrderId> \n\t\t<RequestedFocDate>2021-06-30T00:00:00.000Z</RequestedFocDate> \n\t\t<Subscriber> \n\t\t\t<SubscriberType>BUSINESS</SubscriberType> \n\t\t\t<BusinessName>Goina B Rich</BusinessName> \n\t\t\t<ServiceAddress> \n\t\t\t\t<HouseNumber>123</HouseNumber> \n\t\t\t\t<StreetName>Maple Ave</StreetName> \n\t\t\t\t<City>Hometown</City> \n\t\t\t\t<StateCode>MO</StateCode> \n\t\t\t\t<Zip>54923</Zip> \n\t\t\t\t<Country>United States</Country> \n\t\t\t\t<AddressType>Service</AddressType> \n\t\t\t</ServiceAddress> \n\t\t</Subscriber> \n\t\t<SiteId>14020</SiteId> \n\t\t<PeerId>521434</PeerId> \n\t\t<ProcessingStatus>DRAFT</ProcessingStatus> \n\t\t<AccountId>9900572</AccountId> \n\t\t<CreatedByUser>jgilmore</CreatedByUser> \n\t\t<LastModifiedBy>jgilmore</LastModifiedBy> \n\t\t<LastModifiedDate>2021-06-21T20:24:36.616Z</LastModifiedDate>\n\t\t<OrderCreateDate>2021-06-21T19:42:34.760Z</OrderCreateDate> \n\t</BulkPortin> \n</BulkPortinResponse>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid input.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BulkPortinResponse>\n    <ResponseStatus>\n        <Description>Please check your input parameters.</Description>\n    </ResponseStatus>\n    <PortinListErrors>\n        <PortinErrors>\n            <PortinOrderId>c358cb90-f1e6-4d72-92be-435411d50609</PortinOrderId>\n            <Errors>\n                <Error>\n                    <Description>The order cannot be modified because the order is awaiting a response from the losing carrier</Description>\n                    <ErrorCode>7300</ErrorCode>\n                </Error>\n            </Errors>\n        </PortinErrors>\n        <PortinErrors>\n            <PortinOrderId>cb57e5a0-c70d-4f24-a450-bab62e908cc6</PortinOrderId>\n            <Errors>\n                <Error>\n                    <Description>Unable to modify processing status for AUTOMATED port type</Description>\n                    <ErrorCode>7367</ErrorCode>\n                </Error>\n            </Errors>\n        </PortinErrors>\n    </PortinListErrors>\n</BulkPortinResponse>\n"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The indicated Bulk Port-in order could not be found."
          }
        }
      },
      "delete": {
        "tags": [
          "/accounts"
        ],
        "description": "Delete a bulk port-in order with child port-ins.  Deleting a bulk port-in is allowed for 'DRAFT' state only.  Deleting a bulk port-in will delete all DRAFT child port-ins associated with the bulk port-in.  When the bulk port-in is deleted, any child port-in orders that are not in a draft status are dissociated from the bulk port-in, but not deleted. Please visit <a href='/docs/numbers/guides/bulkportins'>Guides and Tutorials</a>",
        "operationId": "DeleteBulkOrder",
        "summary": "Delete bulk port-in order",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          },
          {
            "name": "orderid",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          }
        ],
        "requestBody": {},
        "responses": {
          "200": {
            "description": "Bulk Port-in order has been successfully deleted."
          },
          "400": {
            "description": "Bad request. Bulk Port-in order not in DRAFT state.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<BulkPortinResponse>\n    <BulkPortin>\n        <Status>\n            <Code>7709</Code>\n            <Description>Bulk port-in with id d88763f4-8914-4301-bdca-6f409e4cd811 cannot be deleted since it is not in\n                draft status.\n            </Description>\n        </Status>\n    </BulkPortin>\n</BulkPortinResponse>\n"
                  }
                }
              }
            }
          },
          "404": {
            "description": "The indicated Bulk Port-in order could not be found."
          }
        }
      },
      "patch": {
        "tags": [
          "/accounts"
        ],
        "description": "<p>It is possible to change (\"SUPP\" in LNP terms) an existing Bulk Port-in order.  This is done via a PUT or PATCH on the existing order-id.  Since the Bulk Port-in\n  order acts as a template for port-in orders in DRAFT status, any record can be changed at any time.  The PATCH replaces elements of the referenced Bulk Portin order, but it replaces only the records included in the request payload.  Other elements will remain untouched.</p><p>Changing the fields in a Bulk Port-in order causes the system to reapply all changed values to the child port-ins contained in the list of subtending port-in orders. Note that if the port-in orders contained within the Bulk Port are in DRAFT state, any field can be modified. If any child port-in order in the Bulk Port-in is in any other state, normal SUPP rules apply, and the list of appropriate fields is smaller.</p><p>Changing the ProcessingStatus to 'IN_PROGRESS' causes all child port-ins to begin processing. (The same could be accomplished by changing all child port-in orders to ProcessingStatus\n  Submitted.)  This is only valid if child port-ins exist for the bulk port-in.</p> <p>Please visit <a href='/docs/numbers/guides/bulkportins'>Guides and Tutorials</a></p>",
        "operationId": "PatchBulkOrder",
        "summary": "Patch bulk port-in order",
        "parameters": [
          {
            "name": "accountId",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          },
          {
            "name": "orderid",
            "description": "",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": null
            },
            "example": null
          }
        ],
        "requestBody": {
          "content": {
            "application/xml": {
              "examples": {
                "example": {
                  "description": "example",
                  "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<BulkPortin>\n\t<CustomerOrderId>Order Id for all child orders</CustomerOrderId>\n\t<RequestedFocDate>2021-06-30Z</RequestedFocDate>\n\t<SiteId>14020</SiteId>\n\t<PeerId>521434</PeerId>\n</BulkPortin>\n<!-- Begin processing for a bulk port-in and its child port-ins -->\n<BulkPortin>\n\t<ProcessingStatus>IN_PROGRESS</ProcessingStatus>\n</BulkPortin>\n<!-- Update the requested FOC date for the bulk port-in and its child port-ins -->\n<BulkPortin>\n\t<RequestedFocDate>2021-06-22T11:30:00-04:00</RequestedFocDate>\n</BulkPortin>"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The information has been successfully retrieved and displayed in the payload.",
            "content": {
              "application/xml": {
                "examples": {
                  "example": {
                    "description": "example",
[...]
