openapi: 3.0.3
info:
  title: Voice
  version: 4.1.0
  contact:
    name: Bandwidth
    url: https://support.bandwidth.com
    email: support@bandwidth.com
  description: |-
    The API Specification for Bandwidth's Programmable Voice Platform

    ## Base URL

    `https://voice.bandwidth.com`
servers:
  - url: https://voice.bandwidth.com/api/v2
    description: Production
paths:
  /accounts/{accountId}/calls:
    post:
      tags:
        - Calls
      summary: Create Call
      description: >-
        Creates an outbound phone call.


        All calls are initially queued. Your outbound calls will initiated at a
        specific dequeueing rate, enabling your application to "fire and forget"
        when creating calls. Queued calls may not be modified until they are
        dequeued and placed, but may be removed from your queue on demand.


        <b>Please note:</b> Calls submitted to your queue will be placed
        approximately in order, but exact ordering is not guaranteed.
      operationId: createCall
      parameters:
        - $ref: '#/components/parameters/accountId'
      requestBody:
        $ref: '#/components/requestBodies/createCallRequest'
      responses:
        '201':
          $ref: '#/components/responses/createCallResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: |
            curl 'https://voice.bandwidth.com/api/v2/accounts/12345/calls' \
                -X POST \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
                -H 'Content-Type: application/json' \
                -d '{
                    "from": "+15554443333",
                    "to": "+15553334444, sip:john@doe.com",
                    "uui": "eyJhbGciOiJIUzI1NiJ9.WyJoaSJd.-znkjYyCkgz4djmHUPSXl9YrJ6Nix_XvmlwKGFh5ERM;encoding=jwt,aGVsbG8gd29ybGQ=;encoding=base64",
                    "callTimeout": 0,
                    "callbackTimeout": 0,
                    "answerUrl": "http://example.com",
                    "answerFallbackUrl": "http://example.com",
                    "username": "string",
                    "password": "string",
                    "fallbackUsername": "string",
                    "fallbackPassword": "string",
                    "answerMethod": "POST",
                    "answerFallbackMethod": "POST",
                    "disconnectUrl": "http://example.com",
                    "disconnectMethod": "POST",
                    "tag": "string",
                    "applicationId": "string",
                    "machineDetection": {
                        "mode": "sync",
                        "detectionTimeout": 0,
                        "silenceTimeout": 0,
                        "speechThreshold": 0,
                        "speechEndThreshold": 0,
                        "delayResult": true,
                        "callbackUrl": "http://example.com",
                        "callbackMethod": "POST",
                        "fallbackUrl": "http://example.com",
                        "fallbackMethod": "POST",
                        "username": "string",
                        "password": "string",
                        "fallbackUsername": "string",
                        "fallbackPassword": "string"
                    }
                }'
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";
                    var applicationId = "1234-qwer";
                    var to = "+15553334444";
                    var from = "+15554443333";
                    var baseUrl = "https://sample.com";
                    var answerUrl = string.Concat(baseUrl, "/callbacks/answer");

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    var request = new CreateCallRequest()
                    {
                        ApplicationId = applicationId,
                        To = to,
                        From = from,
                        AnswerUrl = answerUrl
                    };

                    try
                    {
                        var response = await client.Voice.APIController.CreateCallAsync(accountId, request);
                        Console.WriteLine(response.Data);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.CreateCallRequest;
            import com.bandwidth.voice.models.CreateCallResponse;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    String voiceApplicationId = "1234-qwer";
                    String to = "+15553334444";
                    String from = "+15554443333";
                    String baseUrl = "https://sample.com";
                    String answerUrl = baseUrl.concat("/callbacks/answer");

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    CreateCallRequest request = new CreateCallRequest();
                    request.setApplicationId(voiceApplicationId);
                    request.setTo(to);
                    request.setFrom(from);
                    request.setAnswerUrl(answerUrl);

                    try {
                        CompletableFuture<ApiResponse<CreateCallResponse>> completableFuture = client.getVoiceClient().getAPIController().createCallAsync(ACCOUNT_ID, request);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: |
            import { Client, ApiController } from '@bandwidth/voice';

            const BW_USERNAME = "api-username";
            const BW_PASSWORD = "api-password";
            const BW_ACCOUNT_ID = "12345";
            const BW_VOICE_APPLICATION_ID = "1234-qwer";
            const BW_NUMBER = "+15554443333";
            const USER_NUMBER = "+15553334444";
            const VOICE_CALLBACK_URL = process.env["BASE_CALLBACK_URL"];

            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });

            const controller = new ApiController(client);

            const accountId = BW_ACCOUNT_ID;

            const makeCall = async function() {
              try {
                const response = await controller.createCall(accountId, {
                    applicationId: BW_VOICE_APPLICATION_ID,
                    to: USER_NUMBER,
                    from: BW_NUMBER,
                    answerUrl: VOICE_CALLBACK_URL,
                    answerMethod: 'POST',
                    callTimeout: 30
                });
                console.log(response.body);
              } catch(error) {
                  console.error(error);
              }
            }

            makeCall();
        - lang: PHP
          source: |
            <?php
              
            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";
            1234-qwer = "1234-qwer";
            +15554443333 = "+15554443333";
            +15553334444 = "+15553334444";
            $VOICE_CALLBACK_URL = "https://sample.com";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $body = new BandwidthLib\Voice\Models\CreateCallRequest();
            $body->from = $BW_NUMBER;
            $body->to = $USER_NUMBER;
            $body->answerUrl = $VOICE_CALLBACK_URL;
            $body->applicationId = $BW_VOICE_APPLICATION_ID;

            try {
                $response = $voiceClient->createCall($BW_ACCOUNT_ID, $body);
                print_r($response->getResult()->callId);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            } 
        - lang: Python
          source: >
            from bandwidth.bandwidth_client import BandwidthClient

            from bandwidth.voice.models.create_call_request import
            CreateCallRequest

            from bandwidth.exceptions.api_exception import APIException


            import os


            BW_USERNAME = "api-username"

            BW_PASSWORD = "api-password"

            BW_ACCOUNT_ID = "12345"

            BW_VOICE_APPLICATION_ID = "1234-qwer"

            BW_NUMBER = "+15554443333"

            USER_NUMBER = "+15553334444"

            VOICE_CALLBACK_URL = https://sample.com


            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )

            voice_client = bandwidth_client.voice_client.client


            body = CreateCallRequest()

            body.application_id = BW_VOICE_APPLICATION_ID

            body.to = USER_NUMBER

            body.mfrom = BW_NUMBER

            body.answer_url = VOICE_CALLBACK_URL

            try:
                response = voice_client.create_call(BW_ACCOUNT_ID, body)
                print(response.body.call_id)
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'

            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            body = CreateCallRequest.new
            body.from = "+15554443333"
            body.to = "+15553334444"
            body.answer_url = "http://www.myapp.com/hello"
            body.application_id = "7fc9698a-b04a-468b-9e8f-91238c0d0086"

            begin
                result = voice_client.create_call("12345", body)
                puts result.data.call_id
            rescue APIException => e
                puts e.response_code
            end
  /accounts/{accountId}/calls/{callId}:
    get:
      tags:
        - Calls
      summary: Get Call State Information
      description: >-
        Retrieve the current state of a specific call. This information is
        near-realtime, so it may take a few minutes for your call to be
        accessible using this endpoint.


        **Note**: Call information is kept for 7 days after the calls are hung
        up. If you attempt to retrieve information for a call that is older than
        7 days, you will get an HTTP 404 response.
      operationId: getCallState
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/callId'
      responses:
        '200':
          $ref: '#/components/responses/getCallStateResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl
            'https://voice.bandwidth.com/api/v2/accounts/12345/calls/c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d'
            \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ='
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    // Call id is returned after successfully creating a call.
                    var callId = "c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    try
                    {
                        var response = await client.Voice.APIController.GetCallAsync(accountId, callId);
                        Console.WriteLine(response.Data);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.CallState;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    // Call id is returned after successfully creating a call.
                    String callId = "c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d";

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    try {
                        CompletableFuture<ApiResponse<CallState>> completableFuture = client.getVoiceClient().getAPIController().getCallAsync(ACCOUNT_ID, callId);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: |
            import { Client, ApiController } from '@bandwidth/voice';

            const BW_USERNAME = "api-username";
            const BW_PASSWORD = "api-password";
            const BW_ACCOUNT_ID = "12345";

            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });

            const controller = new ApiController(client);

            const accountId = BW_ACCOUNT_ID;

            const callId = 'c-abc12345-6defabc1-2345-6def-abc1-23456defabc1';

            const getCall = async function() {
              try {
                  const response = await controller.getCall(accountId, callId);
                  console.log(response)
              } catch(error) {
                  console.error(error);
              }
            }

            getCall();
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $callId = "c-1234";

            try {
                $response = $voiceClient->getCall($BW_ACCOUNT_ID, $callId);
                print_r($response->getResult()->state);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: |
            from bandwidth.bandwidth_client import BandwidthClient
            from bandwidth.exceptions.api_exception import APIException

            import os

            BW_USERNAME = "api-username"
            BW_PASSWORD = "api-password"
            BW_ACCOUNT_ID = "12345"

            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )
            voice_client = bandwidth_client.voice_client.client

            call_id = "c-1234"

            try:
                result = voice_client.get_call(BW_ACCOUNT_ID, call_id)
                print(result.body.state)
            except APIException as e: 
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'

            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            call_id = "c-1234"

            begin
                #result = voice_client.get_call("12345", call_id)
                #puts result.data.state
                puts "Method broke"
            rescue APIException => e
                puts e.response_code
            end
    post:
      tags:
        - Calls
      summary: Update Call
      description: >-
        Interrupts and redirects a call to a different URL that should return a
        BXML document.
      operationId: updateCall
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/callId'
      requestBody:
        $ref: '#/components/requestBodies/updateCallRequest'
      responses:
        '200':
          description: Call Successfully Modified
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl
            'https://voice.bandwidth.com/api/v2/accounts/12345/calls/c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d'
            \
                -X POST \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
                -H 'Content-Type: application/json' \
                -d '{
                    "state": "active",
                    "redirectUrl": "http://example.com",
                    "redirectFallbackUrl": "http://example.com",
                    "redirectMethod": "POST",
                    "redirectFallbackMethod": "POST",
                    "username": "string",
                    "password": "string",
                    "fallbackUsername": "string",
                    "fallbackPassword": "string",
                    "tag": "string"
                }'
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";
                    var applicationId = "1234-qwer";

                    // Call id is returned after successfully creating a call.
                    var callId = "c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    var request = new ModifyCallRequest()
                    {
                        State = StateEnum.Completed
                    };

                    try
                    {
                        await client.Voice.APIController.ModifyCallAsync(accountId, callId, request);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.ModifyCallRequest;
            import com.bandwidth.voice.models.StateEnum;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    String callId = "c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d";

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    ModifyCallRequest request = new ModifyCallRequest();
                    request.setState(StateEnum.COMPLETED);

                    try {
                        CompletableFuture<ApiResponse<Void>> completableFuture = client.getVoiceClient().getAPIController().modifyCallAsync(ACCOUNT_ID, callId, request);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: |
            import { Client, ApiController } from '@bandwidth/voice';

            const BW_USERNAME = "api-username";
            const BW_PASSWORD = "api-password";
            const BW_ACCOUNT_ID = "12345";

            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });

            const controller = new ApiController(client);

            const accountId = BW_ACCOUNT_ID;

            const callId = 'c-abc12345-6defabc1-2345-6def-abc1-23456defabc1';

            const modifyCall = async function() {
              try {
                  const response = await controller.modifyCall(accountId, callId, {
                    state: "active",
                    redirectUrl: "http://www.myapp.com/new"
                  });
                  console.log(response)
              } catch(error) {
                  console.error(error);
              }
            }

            modifyCall();
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $callId = "c-1234";

            $body = new BandwidthLib\Voice\Models\ModifyCallRequest();
            $body->redirectUrl = "http://www.myapp.com/new";
            $body->state = "active";

            try {
                $voiceClient->modifyCall($BW_ACCOUNT_ID, $callId, $body);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            from bandwidth.bandwidth_client import BandwidthClient

            from bandwidth.voice.models.modify_call_request import
            ModifyCallRequest

            from bandwidth.exceptions.api_exception import APIException


            import os


            BW_USERNAME = "api-username"

            BW_PASSWORD = "api-password"

            BW_ACCOUNT_ID = "12345"


            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )

            voice_client = bandwidth_client.voice_client.client


            call_id = "c-1234"


            body = ModifyCallRequest()

            body.redirect_url = "http://www.myapp.com/new"

            body.state = "active"


            try:
                voice_client.modify_call(BW_ACCOUNT_ID, call_id, body)
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'

            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            body = ModifyCallRequest.new
            body.redirect_url = "http://www.myapp.com/new"
            body.state = "active"

            call_id = "c-1234"

            begin
                voice_client.modify_call("12345", call_id, body)
            rescue APIException => e
                puts e.response_code
            end
  /accounts/{accountId}/calls/{callId}/bxml:
    put:
      tags:
        - Calls
      summary: Update Call BXML
      description: Interrupts and replaces an active call's BXML document.
      operationId: updateCallBxml
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/callId'
      requestBody:
        $ref: '#/components/requestBodies/updateCallBxmlRequest'
      responses:
        '204':
          description: Call BXML Successfully Replaced
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
  /accounts/{accountId}/conferences:
    get:
      tags:
        - Conferences
      summary: Get Conferences
      description: >-
        Returns a max of 1000 conferences, sorted by `createdTime` from oldest
        to newest.


        **NOTE:** If the number of conferences in the account is bigger than
        `pageSize`, a `Link` header (with format `<{url}>; rel="next"`) will be
        returned in the response. The url can be used to retrieve the next page
        of conference records.
      operationId: listConferences
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/minCreatedTime'
        - $ref: '#/components/parameters/maxCreatedTime'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          $ref: '#/components/responses/listConferencesResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl 'https://voice.bandwidth.com/api/v2/accounts/12345/conferences'
            \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ='
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    try
                    {
                        var response = await client.Voice.APIController.GetConferencesAsync(accountId);
                        Console.WriteLine(response.Data);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.ConferenceState;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;
            import java.util.List;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    try {
                        CompletableFuture<ApiResponse<List<ConferenceState>>> completableFuture = client.getVoiceClient().getAPIController().getConferencesAsync(ACCOUNT_ID, null, null, null, null, null);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: |
            import { Client, ApiController } from '@bandwidth/voice';

            const BW_USERNAME = "api-username";
            const BW_PASSWORD = "api-password";
            const BW_ACCOUNT_ID = "12345";

            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });

            const controller = new ApiController(client);

            const accountId = BW_ACCOUNT_ID;

            const getConferences = async function() {
              try {
                  const response = await controller.getConferences(accountId);
                  console.log(response)
              } catch(error) {
                  console.error(error);
              }
            }

            getConferences();
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            try {
                $response = $voiceClient->getConferences($BW_ACCOUNT_ID);
                if (count($response->getResult()) > 0) {
                    print_r($response->getResult()[0]->id);
                }
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: |
            from bandwidth.bandwidth_client import BandwidthClient
            from bandwidth.exceptions.api_exception import APIException

            import os

            BW_USERNAME = "api-username"
            BW_PASSWORD = "api-password"
            BW_ACCOUNT_ID = "12345"

            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )
            voice_client = bandwidth_client.voice_client.client

            try:
                response = voice_client.get_conferences(BW_ACCOUNT_ID)
                if len(response.body) > 0:
                    print(response.body[0].id)
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'

            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            begin
                response = voice_client.get_conferences("12345")
                if response.data.length > 0
                    puts response.data[0].id
                end
            rescue APIException => e
                puts e.response_code
            end
  /accounts/{accountId}/conferences/{conferenceId}:
    get:
      tags:
        - Conferences
      summary: Get Conference Information
      description: Returns information about the specified conference.
      operationId: getConference
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
      responses:
        '200':
          $ref: '#/components/responses/getConferenceResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl
            'https://voice.bandwidth.com/api/v2/accounts/12345/conferences/conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8'
            \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ='
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    var conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    try
                    {
                        var response = await client.Voice.APIController.GetConferenceAsync(accountId, conferenceId);
                        Console.WriteLine(response.Data);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.ConferenceState;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    // Conference id is returned after successfully creating a conference.
                    String conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    try {
                        CompletableFuture<ApiResponse<ConferenceState>> completableFuture = client.getVoiceClient().getAPIController().getConferenceAsync(ACCOUNT_ID, conferenceId);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: >
            import { Client, ApiController } from '@bandwidth/voice';


            const BW_USERNAME = "api-username";

            const BW_PASSWORD = "api-password";

            const BW_ACCOUNT_ID = "12345";


            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });


            const controller = new ApiController(client);


            const accountId = BW_ACCOUNT_ID;


            const conferenceId =
            'conf-abc12345-6defabc1-2345-6def-abc1-23456defabc1';


            const getConference = async function() {
              try {
                  const response = await controller.getConference(accountId, conferenceId);
                  console.log(response)
              } catch(error) {
                  console.error(error);
              }
            }


            getConference();
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $conferenceId = "conf-1234";

            try {
                $response = $voiceClient->getConference($BW_ACCOUNT_ID, $conferenceId);
                print_r($response->getResult()->name);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: |
            from bandwidth.bandwidth_client import BandwidthClient
            from bandwidth.exceptions.api_exception import APIException

            import os

            BW_USERNAME = "api-username"
            BW_PASSWORD = "api-password"
            BW_ACCOUNT_ID = "12345"

            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )
            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"

            try:
                response = voice_client.get_conference(BW_ACCOUNT_ID, conference_id)
                print(response.body.name)
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'
              
            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"

            begin
                response = voice_client.get_conference("12345", conference_id)
                print(response.data.name)
            rescue APIException => e
                puts e.response_code
            end
    post:
      tags:
        - Conferences
      summary: Update Conference
      description: Update the conference state.
      operationId: updateConference
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
      requestBody:
        $ref: '#/components/requestBodies/updateConferenceRequest'
      responses:
        '204':
          description: Conference successfully modified
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl
            'https://voice.bandwidth.com/api/v2/accounts/12345/conferences/conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8'
            \
                -X POST \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
                -H 'Content-Type: application/json' \
                -d '{
                    "status": "active",
                    "redirectUrl": "http://example.com",
                    "redirectFallbackUrl": "http://example.com",
                    "redirectMethod": "POST",
                    "redirectFallbackMethod": "POST",
                    "username": "string",
                    "password": "string",
                    "fallbackUsername": "string",
                    "fallbackPassword": "string"
                }'
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    var conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    var request = new ModifyConferenceRequest
                    {
                        Status = StatusEnum.Completed
                    };

                    try
                    {
                        await client.Voice.APIController.ModifyConferenceAsync(accountId, conferenceId, request);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.*;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    String conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    ModifyConferenceRequest request = new ModifyConferenceRequest();
                    request.setStatus(StatusEnum.COMPLETED);

                    try {
                        CompletableFuture<ApiResponse<Void>> completableFuture = client.getVoiceClient().getAPIController().modifyConferenceAsync(ACCOUNT_ID, conferenceId, request);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: >
            import { Client, ApiController } from '@bandwidth/voice';


            const BW_USERNAME = "api-username";

            const BW_PASSWORD = "api-password";

            const BW_ACCOUNT_ID = "12345";


            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });


            const controller = new ApiController(client);


            const accountId = BW_ACCOUNT_ID;


            const conferenceId =
            'conf-abc12345-6defabc1-2345-6def-abc1-23456defabc1';


            const modifyConference = async function() {
              try {
                  const response = await controller.modifyConference(accountId, conferenceId, {
                    status: 'active',
                    redirectUrl: 'http://www.myapp.com/new'
                  });
                  console.log(response)
              } catch(error) {
                  console.error(error);
              }
            }


            modifyConference();
        - lang: PHP
          source: |
            <?php
              
            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $conferenceId = "conf-1234";

            $body = new BandwidthLib\Voice\Models\ModifyConferenceRequest();
            $body->state = "active";

            try {
                $voiceClient->modifyConference($BW_ACCOUNT_ID, $conferenceId, $body);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            from bandwidth.bandwidth_client import BandwidthClient

            from bandwidth.voice.models.modify_conference_request import
            ModifyConferenceRequest

            from bandwidth.voice.models.status_enum import StatusEnum

            from bandwidth.exceptions.api_exception import APIException


            import os


            BW_USERNAME = "api-username"

            BW_PASSWORD = "api-password"

            BW_ACCOUNT_ID = "12345"


            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )

            voice_client = bandwidth_client.voice_client.client


            body = ModifyConferenceRequest()

            body.status = StatusEnum.ACTIVE


            conference_id = "conf-1234"


            try:
                voice_client.modify_conference(BW_ACCOUNT_ID, conference_id, body)
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'

            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            body = ModifyConferenceRequest.new
            body.status = StatusEnum::ACTIVE

            conference_id = "conf-1234"

            begin
                voice_client.modify_conference("12345", conference_id, body)
            rescue APIException => e
                puts e.response_code
            end
  /accounts/{accountId}/conferences/{conferenceId}/bxml:
    put:
      tags:
        - Conferences
      summary: Update Conference BXML
      description: Update the conference BXML document.
      operationId: updateConferenceBxml
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
      requestBody:
        $ref: '#/components/requestBodies/updateConferenceBxmlRequest'
      responses:
        '204':
          description: Conference successfully modified
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
  /accounts/{accountId}/conferences/{conferenceId}/members/{memberId}:
    get:
      tags:
        - Conferences
      summary: Get Conference Member
      description: Returns information about the specified conference member.
      operationId: getConferenceMember
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
        - $ref: '#/components/parameters/memberId'
      responses:
        '200':
          $ref: '#/components/responses/getConferenceMemberResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl
            'https://voice.bandwidth.com/api/v2/accounts/12345/conferences/conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8/members/c-95ac8d8d-b81437f5-4586-4d5b-9b46-29f8b3fe0aaf'
            \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ='
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    var conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";
                    var memberId = "c-95ac8d8d-b81437f5-4586-4d5b-9b46-29f8b3fe0aaf";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    try
                    {
                        var response = await client.Voice.APIController.GetConferenceMemberAsync(accountId, conferenceId, memberId);
                        Console.WriteLine(response.Data);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.ConferenceMemberState;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    String conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";
                    String memberId = "c-95ac8d8d-b81437f5-4586-4d5b-9b46-29f8b3fe0aaf";

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    try {
                        CompletableFuture<ApiResponse<ConferenceMemberState>> completableFuture = client.getVoiceClient().getAPIController().getConferenceMemberAsync(ACCOUNT_ID, conferenceId, memberId);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: >
            import { Client, ApiController } from '@bandwidth/voice';


            const BW_USERNAME = "api-username";

            const BW_PASSWORD = "api-password";

            const BW_ACCOUNT_ID = "12345";


            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });


            const controller = new ApiController(client);


            const accountId = BW_ACCOUNT_ID;


            const conferenceId =
            'conf-abc12345-6defabc1-2345-6def-abc1-23456defabc1';

            const memberId = 'c-abc12345-6defabc1-2345-6def-abc1-23456defabc1';


            const getConferenceMember = async function() {
              try {
                  const response = await controller.getConferenceMember(accountId, conferenceId, memberId);
                  console.log(response)
              } catch(error) {
                  console.error(error);
              }
            }


            getConferenceMember();
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $conferenceId = "conf-1234";
            $memberId = "m-1234";

            try {
                $response = $voiceClient->getConferenceMember($BW_ACCOUNT_ID, $conferenceId, $memberId);
                print_r($response->getResult()->memberUrl);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: |
            from bandwidth.bandwidth_client import BandwidthClient
            from bandwidth.exceptions.api_exception import APIException

            import os

            BW_USERNAME = "api-username"
            BW_PASSWORD = "api-password"
            BW_ACCOUNT_ID = "12345"

            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )
            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"
            member_id = "m-1234"

            try:
                response = voice_client.get_conference_member(BW_ACCOUNT_ID, conference_id, member_id)
                print(response.body.member_url)
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'
              
            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"
            member_id = "m-1234"

            begin
                response = voice_client.get_conference_member("12345", conference_id, member_id)
                puts response.data.member_url
            rescue APIException => e
                puts e.response_code
            end
    put:
      tags:
        - Conferences
      summary: Update Conference Member
      description: Updates settings for a particular conference member.
      operationId: updateConferenceMember
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
        - $ref: '#/components/parameters/memberId'
      requestBody:
        $ref: '#/components/requestBodies/updateConferenceMemberRequest'
      responses:
        '204':
          description: Conference member successfully modified
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl
            'https://voice.bandwidth.com/api/v2/accounts/12345/conferences/conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8/members/c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d'
            \
                -X PUT \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=' \
                -H 'Content-Type: application/json' \
                -d '{
                    "callId": "string",
                    "conferenceId": "string",
                    "memberUrl": "string",
                    "mute": true,
                    "hold": true,
                    "callIdsToCoach": [
                        "string"
                    ]
                }'
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    var conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";
                    // Call id is returned after successfully creating a call.
                    var callId = "c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    var detail = new ConferenceMemberState
                    {
                        Mute = true
                    };

                    try
                    {
                        await client.Voice.APIController.ModifyConferenceMemberAsync(accountId, conferenceId, callId, detail);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.*;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    String conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";
                    String callId = "c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d";

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    ConferenceMemberState conferenceMemberState = new ConferenceMemberState();
                    conferenceMemberState.setMute(true);

                    try {
                        CompletableFuture<ApiResponse<Void>> completableFuture = client.getVoiceClient().getAPIController().modifyConferenceMemberAsync(ACCOUNT_ID, conferenceId, callId, conferenceMemberState);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: >
            import { Client, ApiController } from '@bandwidth/voice';


            const BW_USERNAME = "api-username";

            const BW_PASSWORD = "api-password";

            const BW_ACCOUNT_ID = "12345";


            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });


            const controller = new ApiController(client);


            const accountId = BW_ACCOUNT_ID;


            const conferenceId =
            'conf-abc12345-6defabc1-2345-6def-abc1-23456defabc1';

            const memberId = 'c-abc12345-6defabc1-2345-6def-abc1-23456defabc1';


            const modifyConferenceMember = async function() {
              try {
                  const response = await controller.modifyConferenceMember(accountId, conferenceId, memberId, {
                    mute: true,
                    callIdsToCoach : ["c-95ac8d6e-1a31c52e-b38f-4198-93c1-51633ec68f8d", "c-2a913f94-6a486f3a-3cae-4034-bcc3-f0c9fa77ca2f"]
                  });
                  console.log(response)
              } catch(error) {
                  console.error(error);
              }
            }


            modifyConferenceMember();
        - lang: PHP
          source: |
            <?php
              
            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $conferenceId = "conf-1234";
            $callId = "c-1234";

            $body = new BandwidthLib\Voice\Models\ConferenceMemberState();
            $body->mute = true;

            try {
                $voiceClient->modifyConferenceMember($BW_ACCOUNT_ID, $conferenceId, $callId, $body);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: >
            from bandwidth.bandwidth_client import BandwidthClient

            from bandwidth.voice.models.conference_member_state import
            ConferenceMemberState

            from bandwidth.exceptions.api_exception import APIException


            import os


            BW_USERNAME = "api-username"

            BW_PASSWORD = "api-password"

            BW_ACCOUNT_ID = "12345"


            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )

            voice_client = bandwidth_client.voice_client.client


            body = ConferenceMemberState()

            body.mute = True


            conference_id = "conf-1234"

            call_id = "c-1234"


            try:
                voice_client.modify_conference_member(BW_ACCOUNT_ID, conference_id, call_id, body)
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'

            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            body = ConferenceMemberState.new
            body.mute = true

            conference_id = "conf-1234"
            call_id = "c-1234"

            begin
                voice_client.modify_conference_member("12345", conference_id, call_id, body)
            rescue APIException => e
                puts e.response_code
            end
  /accounts/{accountId}/conferences/{conferenceId}/recordings:
    get:
      tags:
        - Conferences
      summary: Get Conference Recordings
      description: >-
        Returns a (potentially empty) list of metadata for the recordings that
        took place during the specified conference.
      operationId: listConferenceRecordings
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
      responses:
        '200':
          $ref: '#/components/responses/listConferenceRecordingsResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl
            'https://voice.bandwidth.com/api/v2/accounts/12345/conferences/conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8/recordings'
            \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ='
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    var conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    try
                    {
                        var response = await client.Voice.APIController.GetConferenceRecordingsAsync(accountId, conferenceId);
                        Console.WriteLine(response.Data);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.ConferenceRecordingMetadata;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;
            import java.util.List;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    String conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    try {
                        CompletableFuture<ApiResponse<List<ConferenceRecordingMetadata>>> completableFuture = client.getVoiceClient().getAPIController().getConferenceRecordingsAsync(ACCOUNT_ID, conferenceId);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: >
            import { Client, ApiController } from '@bandwidth/voice';


            const BW_USERNAME = "api-username";

            const BW_PASSWORD = "api-password";

            const BW_ACCOUNT_ID = "12345";


            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });


            const controller = new ApiController(client);


            const accountId = BW_ACCOUNT_ID;


            const conferenceId =
            'c-abc12345-6defabc1-2345-6def-abc1-23456defabc1';


            const getConferenceRecordings = async function() {
              try {
                  const response = await controller.getConferenceRecordings(accountId, conferenceId);
                  console.log(response)
              } catch(error) {
                  console.error(error);
              }
            }


            getConferenceRecordings();
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $conferenceId = "c-1234";

            try {
                $response = $voiceClient->getConferenceRecordings($BW_ACCOUNT_ID, $conferenceId);
                if (count($response->getResult()) > 0) {
                    print_r($response->getResult()[0]->name);
                }
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: |
            from bandwidth.bandwidth_client import BandwidthClient
            from bandwidth.exceptions.api_exception import APIException

            import os

            BW_USERNAME = "api-username"
            BW_PASSWORD = "api-password"
            BW_ACCOUNT_ID = "12345"

            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )
            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"

            try:
                response = voice_client.get_conference_recordings(BW_ACCOUNT_ID, conference_id)
                if len(response.body) > 0:
                    print(response.body[0].name)
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'

            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"

            begin
                response = voice_client.get_conference_recordings("12345", conference_id)
                if response.data.length > 0
                    puts response.body[0].name
                end
            rescue APIException => e
                puts e.response_code
            end
  /accounts/{accountId}/conferences/{conferenceId}/recordings/{recordingId}:
    get:
      tags:
        - Conferences
      summary: Get Conference Recording Information
      description: Returns metadata for the specified recording.
      operationId: getConferenceRecording
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
        - $ref: '#/components/parameters/recordingId'
      responses:
        '200':
          $ref: '#/components/responses/getConferenceRecordingResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl
            'https://voice.bandwidth.com/api/v2/accounts/12345/conferences/conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8/recordings/r-d68201ef-d53e-4c6d-a743-1c1283909d41'
            \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ='
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    var conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";
                    var recordingId = "r-d68201ef-d53e-4c6d-a743-1c1283909d41";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    try
                    {
                        var response = await client.Voice.APIController.GetConferenceRecordingAsync(accountId, conferenceId, recordingId);
                        Console.WriteLine(response.Data);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.CallRecordingMetadata;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    String conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";
                    String recordingId = "r-d68201ef-d53e-4c6d-a743-1c1283909d41";

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    try {
                        CompletableFuture<ApiResponse<CallRecordingMetadata>> completableFuture = client.getVoiceClient().getAPIController().getConferenceRecordingAsync(ACCOUNT_ID, conferenceId, recordingId);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: >
            import { Client, ApiController } from '@bandwidth/voice';


            const BW_USERNAME = "api-username";

            const BW_PASSWORD = "api-password";

            const BW_ACCOUNT_ID = "12345";


            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });


            const controller = new ApiController(client);


            const accountId = BW_ACCOUNT_ID;


            const conferenceId =
            'conf-abc12345-6defabc1-2345-6def-abc1-23456defabc1';

            const recordingId = 'r-abc12345-6def-abc1-2345-6defabc12345';


            const getConferenceRecording = async function() {
              try {
                  const response = await controller.getConferenceRecording(accountId, conferenceId, recordingId);
                  console.log(response)
              } catch(error) {
                  console.error(error);
              }
            }


            getConferenceRecording();
        - lang: PHP
          source: |
            <?php

            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $conferenceId = "c-1234";
            $recordingId = "r-1234";

            try {
                $response = $voiceClient->getConferenceRecording($BW_ACCOUNT_ID, $conferenceId, $recordingId);
                print_r($response->getResult()->applicationId);
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: |
            from bandwidth.bandwidth_client import BandwidthClient
            from bandwidth.exceptions.api_exception import APIException

            import os

            BW_USERNAME = "api-username"
            BW_PASSWORD = "api-password"
            BW_ACCOUNT_ID = "12345"

            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )
            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"
            recording_id = "r-1234"

            try:
                response = voice_client.get_conference_recording(BW_ACCOUNT_ID, conference_id, recording_id)
                print(response.body.application_id)
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'

            include Bandwidth
            include Bandwidth::Voice

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: "api-username",
                voice_basic_auth_password: "api-password"
            )

            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"
            recording_id = "r-1234"

            begin
                response = voice_client.get_conference_recording("12345", conference_id, recording_id)
                puts response.body.application_id
            rescue APIException => e
                puts e.response_code
            end
  /accounts/{accountId}/conferences/{conferenceId}/recordings/{recordingId}/media:
    get:
      tags:
        - Conferences
      summary: Download Conference Recording
      description: Downloads the specified recording file.
      operationId: downloadConferenceRecording
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/conferenceId'
        - $ref: '#/components/parameters/recordingId'
      responses:
        '200':
          $ref: '#/components/responses/downloadCallRecordingResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl
            'https://voice.bandwidth.com/api/v2/accounts/12345/conferences/conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8/recordings/r-d68201ef-d53e-4c6d-a743-1c1283909d41/media'
            \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ='
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    var conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";
                    // Recording id is returned after retrieving a recording from the call.
                    var recordingId = "r-d68201ef-d53e-4c6d-a743-1c1283909d41";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    try
                    {
                        var response = await client.Voice.APIController.GetDownloadConferenceRecordingAsync(accountId, conferenceId, recordingId);
                        Console.WriteLine(response.Data);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.DynamicResponse;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    // Conference id is returned after successfully creating a conference.
                    String conferenceId = "conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8";
                    // Recording id is returned after retrieving a recording from the call.
                    String recordingId = "r-d68201ef-d53e-4c6d-a743-1c1283909d41";

                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    try {
                        CompletableFuture<ApiResponse<DynamicResponse>> completableFuture = client.getVoiceClient().getAPIController().getDownloadConferenceRecordingAsync(ACCOUNT_ID, conferenceId, recordingId);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: >
            import { Client, ApiController } from '@bandwidth/voice';


            const BW_USERNAME = "api-username";

            const BW_PASSWORD = "api-password";

            const BW_ACCOUNT_ID = "12345";


            const client = new Client({
              basicAuthUserName: BW_USERNAME,
              basicAuthPassword: BW_PASSWORD
            });


            const controller = new ApiController(client);


            const accountId = BW_ACCOUNT_ID;


            const conferenceId =
            'conf-95ac8d8d-28e06798-2afe-434c-b0f4-666a79cd47f8';

            const recordingId = 'r-abc12345-6def-abc1-2345-6defabc12345';


            try {
                const response = await controller.getDownloadConferenceRecording(accountId, conferenceId, recordingId);
                console.log(response);
            } catch (error) {
                console.error(error);
            }
        - lang: PHP
          source: |
            <?php
              
            require "vendor/autoload.php";

            api-username = "api-username";
            api-password = "api-pasword";
            12345 = "12345";

            $config = new BandwidthLib\Configuration(
                array(
                    'voiceBasicAuthUserName' => $BW_USERNAME,
                    'voiceBasicAuthPassword' => $BW_PASSWORD,
                )
            );
            $client = new BandwidthLib\BandwidthClient($config);

            $voiceClient = $client->getVoice()->getClient();

            $conferenceId = "conf-1234";
            $recordingId = "r-1234";

            try {
                $response = $voiceClient->getDownloadConferenceRecording($BW_ACCOUNT_ID, $conferenceId, $recordingId);
                $downloaded_recording = $response->getResult();
            } catch (BandwidthLib\APIException $e) {
                print_r($e->getResponseCode());
            }
        - lang: Python
          source: |
            from bandwidth.bandwidth_client import BandwidthClient
            from bandwidth.exceptions.api_exception import APIException

            import os

            BW_USERNAME = "api-username"
            BW_PASSWORD = "api-password"
            BW_ACCOUNT_ID = "12345"

            bandwidth_client = BandwidthClient(
                voice_basic_auth_user_name=BW_USERNAME,
                voice_basic_auth_password=BW_PASSWORD
            )
            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"
            recording_id = "r-1234"

            try:
                response = voice_client.get_download_conference_recording(BW_ACCOUNT_ID, conference_id, recording_id)
                downloaded_recording = response.body
            except APIException as e:
                print(e.response_code)
        - lang: Ruby
          source: |
            require 'bandwidth'

            include Bandwidth
            include Bandwidth::Voice

            BW_USERNAME = "api-username"
            BW_PASSWORD = "api-password"
            BW_ACCOUNT_ID = "12345"

            bandwidth_client = Bandwidth::Client.new(
                voice_basic_auth_user_name: BW_USERNAME,
                voice_basic_auth_password: BW_PASSWORD
            )

            voice_client = bandwidth_client.voice_client.client

            conference_id = "conf-1234"
            recording_id = "r-1234"

            begin
                result = voice_client.get_download_conference_recording(BW_ACCOUNT_ID, conference_id, recording_id)
                downloaded_recording = result.data
            rescue APIException => e
                puts e.response_code
            end
  /accounts/{accountId}/recordings:
    get:
      tags:
        - Recordings
      summary: Get Call Recordings
      description: >-
        Returns a list of metadata for the recordings associated with the

        specified account. The list can be filtered by the optional from, to,
        minStartTime,

        and maxStartTime arguments. The list is capped at 1000 entries and may
        be

        empty if no recordings match the specified criteria.
      operationId: listAccountCallRecordings
      parameters:
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/minStartTime'
        - $ref: '#/components/parameters/maxStartTime'
      responses:
        '200':
          $ref: '#/components/responses/listCallRecordingsResponse'
        '400':
          $ref: '#/components/responses/voiceBadRequestError'
        '401':
          $ref: '#/components/responses/voiceUnauthorizedError'
        '403':
          $ref: '#/components/responses/voiceForbiddenError'
        '404':
          $ref: '#/components/responses/voiceNotFoundError'
        '405':
          $ref: '#/components/responses/voiceNotAllowedError'
        '415':
          $ref: '#/components/responses/voiceUnsupportedMediaTypeError'
        '429':
          $ref: '#/components/responses/voiceTooManyRequestsError'
        '500':
          $ref: '#/components/responses/voiceInternalServerError'
      x-codeSamples:
        - lang: cURL
          source: >
            curl 'https://voice.bandwidth.com/api/v2/accounts/12345/recordings'
            \
                -H 'Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ='
        - lang: C#
          source: |
            using System;
            using System.Threading.Tasks;
            using Bandwidth.Standard;
            using Bandwidth.Standard.Exceptions;
            using Bandwidth.Standard.Voice.Models;

            class Program
            {
                static async Task Main(string[] args)
                {
                    var username = "api-username";
                    var password = "api-pasword";
                    var accountId = "12345";

                    var client = new BandwidthClient.Builder()
                        .VoiceBasicAuthCredentials(username, password)
                        .Build();

                    try
                    {
                        var response = await client.Voice.APIController.GetQueryCallRecordingsAsync(accountId);
                        Console.WriteLine(response.Data);
                    }
                    catch (ApiException e)
                    {
                        Console.WriteLine(e.Message);
                    }
                }
            }
        - lang: Java
          source: |
            import com.bandwidth.BandwidthClient;
            import com.bandwidth.http.response.ApiResponse;
            import com.bandwidth.voice.models.*;

            import java.util.concurrent.CompletableFuture;
            import java.util.concurrent.ExecutionException;
            import java.util.List;

            public class Sample {
                public static final String USERNAME = "api-username";
                public static final String PASSWORD = "api-password";
                public static final String ACCOUNT_ID = "12345";

                public static void main(String[] args) {
                    BandwidthClient client = new BandwidthClient.Builder()
                            .voiceBasicAuthCredentials(USERNAME, PASSWORD)
                            .build();

                    try {
                        CompletableFuture<ApiResponse<List<CallRecordingMetadata>>> completableFuture = client.getVoiceClient().getAPIController().getQueryCallRecordingsAsync(ACCOUNT_ID, null, null, null, null);
                        System.out.println(completableFuture.get().getResult());
                    } catch (InterruptedException | ExecutionException e) {
                        System.out.println(e.getMessage());
                    }
                }
            }
        - lang: Node.js
          source: |
            import { Client, ApiController } from '@bandwidth/voice';

            const BW_USERNAME = "api-username";
            const BW_PASSWORD = "api-password";
            const BW_ACCOUNT_ID = "12345";

[...]
