{
    "openapi": "3.0.0",

    "info": {
        "title": "Messaging",
        "description": "Bandwidth's HTTP Messaging platform",
        "contact": {},
        "version": "1.0.0",
        "x-server-configuration": {
            "default-environment": "production",
            "default-server": "default",
            "environments": [
                {
                    "name": "production",
                    "servers": [
                       {
                          "name": "default",
                          "url": "https://messaging.bandwidth.com/api/v2"
                       }
                    ]
                 },
                 {
                    "name": "custom",
                    "servers": [
                       {
                          "name": "default",
                          "url": "{base_url}"
                       }
                    ]
                 }
            ],
            "parameters": [
                {
                    "name": "base_url",
                    "description": "",
                    "type": "string",
                    "example": "https://www.example.com"
                }
            ]
        }
    },
    "servers": [{
            "url": "https://messaging.bandwidth.com/api/v2",
            "variables": {}
        }
    ],

    "paths": {
        "/users/{userId}/media": {
            "get": {
                "summary": "listMedia",
                "operationId": "ListMedia",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "Continuation-Token",
                        "in": "header",
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Media"
                                    },
                                    "description": "successful operation"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            }
        },
        "/users/{userId}/media/{mediaId}": {
            "get": {
                "summary": "getMedia",
                "operationId": "GetMedia",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "mediaId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "description": "successful operation",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            },
            "put": {
                "summary": "uploadMedia",
                "operationId": "UploadMedia",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "mediaId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }, {
                        "name": "Content-Length",
                        "in": "header",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }, {
                        "name": "Content-Type",
                        "in": "header",
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "Cache-Control",
                        "in": "header",
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "x-send-file-in-body": true,
                    "content": {
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format" : "binary"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "summary": "deleteMedia",
                "operationId": "DeleteMedia",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }, {
                        "name": "mediaId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": ".+",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            }
        },
        "/users/{userId}/messages": {
            "post": {
                "summary": "createMessage",
                "operationId": "CreateMessage",
                "parameters": [{
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MessageRequest"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BandwidthMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "415": {
                        "$ref": "#/components/responses/InvalidMediaType"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    }
                },
                "deprecated": false
            }
        }
    },

    "components": {
        "schemas": {
            "MessagingException": {
                "title": "MessagingException",
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "required": ["type", "description"]
            },
            "Media": {
                "title": "Media",
                "type": "object",
                "properties": {
                    "inputStream": {
                        "type": "object"
                    },
                    "content": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "contentLength": {
                        "type": "string"
                    },
                    "contentType": {
                        "type": "string"
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Tag"
                        }
                    },
                    "userId": {
                        "type": "string"
                    },
                    "mediaName": {
                        "type": "string"
                    },
                    "mediaId": {
                        "type": "string"
                    },
                    "cacheControl": {
                        "type": "string"
                    }
                }
            },
            "Tag": {
                "title": "Tag",
                "type": "object",
                "properties": {
                    "key": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    }
                }
            },
            "DeferredResult": {
                "title": "DeferredResult",
                "type": "object",
                "properties": {
                    "result": {
                        "type": "object"
                    },
                    "setOrExpired": {
                        "type": "boolean"
                    }
                }
            },
            "BandwidthCallbackMessage": {
                "title": "BandwidthCallbackMessage",
                "type": "object",
                "properties": {
                    "time": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "to": {
                        "type": "string"
                    },
                    "errorCode": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "message": {
                        "$ref": "#/components/schemas/BandwidthMessage"
                    }
                }
            },
            "BandwidthMessage": {
                "title": "BandwidthMessage",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "owner": {
                        "type": "string"
                    },
                    "applicationId": {
                        "type": "string"
                    },
                    "time": {
                        "type": "string"
                    },
                    "segmentCount": {
                        "type": "integer"
                    },
                    "direction": {
                        "type": "string"
                    },
                    "to": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "from": {
                        "type": "string"
                    },
                    "media": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "text": {
                        "type": "string"
                    },
                    "tag": {
                        "type": "string"
                    }
                }
            },
            "MessageRequest": {
                "title": "MessageRequest",
                "type": "object",
                "properties": {
                    "applicationId": {
                        "type": "string"
                    },
                    "to": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "from": {
                        "type": "string"
                    },
                    "text": {
                        "type": "string"
                    },
                    "media": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "tag": {
                        "type": "string"
                    }
                }
            }
        },

        "responses": {
            "BadRequest": {
                "description": "400 Request is malformed or invalid",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "401 The specified user does not have access to the account",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "Forbidden": {
                "description": "403 The user does not have access to this API",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "NotFound": {
                "description": "404 Path not found",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "InvalidMediaType": {
                "description": "415 The content-type of the request is incorrect",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            },
            "TooManyRequests": {
                "description": "429 The rate limit has been reached",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/MessagingException"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "httpBasic": {
                "type": "http",
                "scheme": "basic"
            }
        }
    },
    "security": [{
            "httpBasic": []
        }
    ],
    "tags": []
}
