{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Iris",
    "description" : "Bandwidth Iris",
    "version" : "1.0.0",
    "x-server-configuration" : {
      "default-environment" : "production",
      "default-server" : "default",
      "environments" : [ {
        "name" : "production",
        "servers" : [ {
          "name" : "default",
          "url" : "https://dashboard.bandwidth.com/api/"
        } ]
      }, {
        "name" : "custom",
        "servers" : [ {
          "name" : "default",
          "url" : "{base_url}"
        } ]
      } ],
      "parameters" : [ {
        "name" : "base_url",
        "description" : "",
        "type" : "string",
        "example" : "https://www.example.com"
      } ]
    }
  },
  "servers" : [ {
    "url" : "https://dashboard.bandwidth.com/api/",
    "description" : "Production",
    "variables" : { }
  } ],
  "security" : [ {
    "httpBasic" : [ ]
  } ],
  "paths" : {
    "/accounts/{accountId}" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "This API call retrieves information about the account indicated by the Account ID.",
        "operationId" : "getPomAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PomAccountResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AccountResponse>    <Account>        <AccountId>14</AccountId>        <AssociatedCatapultAccount>u-ertyhgfd12dcvdhnboklk</AssociatedCatapultAccount>        <GlobalAccountNumber>globalAccount</GlobalAccountNumber>        <CompanyName>CWI Hosting</CompanyName>        <AccountType>Business</AccountType>        <NenaId></NenaId>        <CustomerSegment>Trial</CustomerSegment>        <Tiers>            <Tier>0</Tier>        </Tiers>        <Address>            <HouseNumber>904</HouseNumber>            <HouseSuffix>E</HouseSuffix>            <PreDirectional></PreDirectional>            <StreetName>Anson</StreetName>            <StreetSuffix>St</StreetSuffix>            <PostDirectional></PostDirectional>            <AddressLine2></AddressLine2>            <City>Marshalltown</City>            <StateCode>IA</StateCode>            <Zip>50158</Zip>            <PlusFour></PlusFour>            <County></County>            <Country>United States</Country>            <AddressType>Billing</AddressType>        </Address>        <Contact>            <FirstName>Sanjay</FirstName>            <LastName>Rao</LastName>            <Phone>9195441234</Phone>            <Email>srao@bandwidth.com</Email>        </Contact>        <AltSpid>X455</AltSpid>        <SPID>9999</SPID>        <PortCarrierType>WIRELINE</PortCarrierType>    </Account></AccountResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "internal" ],
        "description" : "Updates Account. <br>Note that the body is similar in structure to POST for /accounts. <br>Accounts with Customer Segment set to Enterprise Telephony are not allowed to have SPID or Alternative SPID configured. <br>There are some specific values for &lt;AssociatedCatapultAccount&gt; covered in folow table:    <table style=\"text-align: left; width: 80%;\" border=\"1\" cellpadding=\"2\" cellspacing=\"2\">       <tbody>          <tr>             <th>Existing value</th>             <th>New value</th>             <th>Action description</th>          </tr>          <tr>             <td>empty</td>             <td>empty</td>             <td>Association for Account is not provided</td>          </tr>          <tr>             <td>empty</td>             <td>string 'NEW' (case sensitive)</td>             <td>Update Iris Account and set Associated Identifier equal to Iris Account ID. New Assiciated Account with this ID is created on the external service</td>          </tr>          <tr>             <td>u-id(anyone)</td>             <td>string 'NEW' (case sensitive)</td>             <td>Association and Account update can't be performed. There is no way to change Association Identifier directly without removing a previous association</td>          </tr>          <tr>             <td>empty</td>             <td>Nonexistent u-id</td>             <td>Association and Account update can't be performed. There is no way to use Association Identifier that doesn't exist</td>          </tr>          <tr>             <td>empty</td>             <td>u-id value that is already associated with other Iris Account</td>             <td>Association and Account update can't be performed. There is no way to use Associated Identifier that is associated with other Iris Account</td>          </tr>          <tr>             <td>empty</td>             <td>Existing u-id value</td>             <td>Update Iris Account with association to new u-id</td>          </tr>          <tr>             <td>existing u-id</td>             <td>Nonexistent u-id value</td>             <td>Association and Account update can't be performed. There is no way to use Association Identifier that doesn't exist</td>          </tr>          <tr>             <td>existing u-id</td>             <td>u-id value that is already associated with other Iris Account</td>             <td>Association and Account update can't be performed. There is no way to use Associated Identifier that is associated with other Iris Account</td>          </tr>          <tr>             <td>existing u-id with assigned Applications on Account</td>             <td>new existing u-id</td>             <td>Association and Account update can't be performed. There is no way to reassign u-id with already assigned Applications on Iris Account</td>          </tr>          <tr>             <td>existing u-id with assigned Applications on Account's Locations</td>             <td>new existing u-id</td>             <td>Association and Account update can't be performed. There is no way to reassign u-id with already assigned Applications on Iris Account's Locations</td>          </tr>          <tr>             <td>existing u-id</td>             <td>new existing u-id</td>             <td>Update Iris Account with association to new u-id</td>          </tr>          <tr>             <td>existing u-id</td>             <td>same existing u-id</td>             <td>Update Iris Account without following association. Association already exists</td>          </tr>          <tr>             <td>value in Iris Account ID format</td>             <td>same value in format of Iris Account ID</td>             <td>Update Iris Account without following association. Association already exists</td>          </tr>          <tr>             <td>existing u-id</td>             <td>value in Iris Account ID format</td>             <td>Association and Account update can't be performed. There is no way to change Association Identifier directly without removing a previous association</td>          </tr>          <tr>             <td>empty</td>             <td>value in Iris Account ID format</td>             <td>Association and Account update can't be performed. There is no way explicitly to set Association Identifier in Iris Account ID format</td>          </tr>          <tr>             <td>value in Iris Account ID format</td>             <td>other value in Iris Account ID format</td>             <td>Association and Account update can't be performed. There is no way to set differ Association Identifier in Iris Account ID format</td>          </tr>          <tr>             <td>value in Iris Account ID format or u-id with assigned Applications on Account or Locations</td>             <td>empty</td>             <td>Association and Account update can't be performed. There is no way to remove association with existing Applications on Account or Locations</td>          </tr>          <tr>             <td>value in Iris Account ID format or u-id</td>             <td>empty</td>             <td>Update Iris Account. Association is removed</td>          </tr>       </tbody>    </table>    <br>  Field &lt;CustomerSegment&gt; is optional and can have following values:  <table style=\"text-align: left; width: 80%;\" border=\"1\" cellpadding=\"2\" cellspacing=\"2\">     <tbody>        <tr>           <th>Value</th>           <th>Description</th>        </tr>        <tr>           <td>EnterpriseTelephony</td>           <td>Allows Origination and Termination products to be assigned to account, not allows UC trunking</td>        </tr>        <tr>           <td>UC</td>           <td>Allows UC trunking product and blocks Origination and Termination products</td>        </tr>        <tr>           <td>Wholesale</td>           <td>Allows Origination and Termination products to be assigned to account, not allows UC trunking</td>        </tr>        <tr>           <td>Trial</td>           <td>Does not limit products assignement. Allows to switch to EnterpriseTelephony, UC or Wholesale customer segment, but reverse transition to Trial from any other explicit segment is forbidden.</td>        </tr>        <tr>           <td>Wholesale-implied</td>           <td>Is returned if account has Origination or Termination product and no explicit customer segment set. On update this option is ignored</td>        </tr>        <tr>           <td>UC-implied</td>           <td>Is returned if account has UC product and no explicit customer segment set. On update this option is ignored</td>        </tr>     </tbody>  </table>  <br>  <ul>      <li>If the Customer Segment has never been explicitly set, or has been explicitly set to Trial, then you may set the Customer Segment to Wholesale, UC, or Enterprise Telephony, depending on the products assigned to the account.</li>      <li>If the Customer Segment shows up as Wholesale-implied, or UC-implied (in the GET response), it means the Customer Segment has never been explicitly set for the account.</li>      <li>If an account has the UcTrunking product, the Customer Segment can only be set to UC or Trial.</li>      <li>If an account has the Origination and/or Termination products, the Customer Segment cannot be set to UC.</li>      <li>If the account has never had a TN assigned, the Customer Segment may be changed according to the rules above. Otherwise (if the account has had a TN assigned), if the Customer Segment has been explicitly set to Wholesale, Enterprise Telephony, or UC, it cannot be changed.</li>  </ul>",
        "operationId" : "updatePomAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/PomAccount"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PomAccountResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AccountResponse>    <Account>        <AccountId>14</AccountId>        <AssociatedCatapultAccount>u-ertyhgfd12dcvdhnboklk</AssociatedCatapultAccount>        <GlobalAccountNumber>globalAccount</GlobalAccountNumber>        <CompanyName>CWI Hosting</CompanyName>        <AccountType>Business</AccountType>        <NenaId></NenaId>        <CustomerSegment>Trial</CustomerSegment>        <Tiers>            <Tier>0</Tier>        </Tiers>        <Address>            <HouseNumber>904</HouseNumber>            <HouseSuffix>E</HouseSuffix>            <PreDirectional></PreDirectional>            <StreetName>Anson</StreetName>            <StreetSuffix>St</StreetSuffix>            <PostDirectional></PostDirectional>            <AddressLine2></AddressLine2>            <City>Marshalltown</City>            <StateCode>IA</StateCode>            <Zip>50158</Zip>            <PlusFour></PlusFour>            <County></County>            <Country>United States</Country>            <AddressType>Billing</AddressType>        </Address>        <Contact>            <FirstName>Sanjay</FirstName>            <LastName>Rao</LastName>            <Phone>9195441234</Phone>            <Email>srao@bandwidth.com</Email>        </Contact>        <AltSpid>X455</AltSpid>        <SPID>9999</SPID>        <PortCarrierType>WIRELINE</PortCarrierType>    </Account></AccountResponse>"
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<AccountResponse>    <ResponseStatus>        <ErrorCode>12112</ErrorCode>        <Description>The verifiable address closest to the submitted access is included below. Please use that street address or another valid street address in your next request</Description>    </ResponseStatus>    <AddressErrorDescription>        <AddressInconsistencies>Some adjustments are required to allow the address to pass geocoding:Specified value - Street Name : \"ANSUN\" Valid value - \"ANSON\"</AddressInconsistencies>        <RecommendedAddress>            <AddressLine1>904 E ANSON ST</AddressLine1>            <HouseNumber>904</HouseNumber>            <PreDirectional>E</PreDirectional>            <StreetName>ANSON</StreetName>            <StreetSuffix>ST</StreetSuffix>            <City>MARSHALLTOWN</City>            <StateCode>IA</StateCode>            <Zip>50158</Zip>            <PlusFour>3522</PlusFour>            <Country>US</Country>        </RecommendedAddress>    </AddressErrorDescription>    <Account>        <GlobalAccountNumber>asd</GlobalAccountNumber>        <CompanyName>Nico Trading</CompanyName>        <AccountType>Business</AccountType>        <Tiers>            <Tier>0</Tier>        </Tiers>        <Address>            <HouseNumber>904</HouseNumber>            <HouseSuffix>E</HouseSuffix>            <PreDirectional></PreDirectional>            <StreetName>Ansun</StreetName>            <StreetSuffix>St</StreetSuffix>            <PostDirectional></PostDirectional>            <AddressLine2></AddressLine2>            <City>Marshalltown</City>            <StateCode>IA</StateCode>            <Zip>50158</Zip>            <PlusFour></PlusFour>            <County></County>            <Country>United States</Country>            <AddressType>Billing</AddressType>        </Address>        <Contact>            <FirstName>First</FirstName>            <LastName>Last</LastName>            <Phone>9195551213</Phone>            <Email>noone@bandy.com</Email>        </Contact>        <AltSpid>X455</AltSpid>        <PortCarrierType>WIRELESS</PortCarrierType>    </Account></AccountResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "savePomAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/PomAccount"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PomAccountResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "deletePomAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PomAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "getAllRegions",
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RegionsResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "reprovisionTns",
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/TelephoneNumbers"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TnsReprovisioningResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "accountsSeacrch",
        "parameters" : [ {
          "name" : "TN",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "host",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/products" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "discover what is currently enabled on the account",
        "operationId" : "getProducts",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountProductsResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\"?><AccountProductsResponse>    <Products>        <Product>            <Name>Termination</Name>            <Features>                <Feature>TermHttpVoice</Feature>            </Features>        </Product>        <Product>            <Name>VirtualInventory</Name>        </Product>        <Product>            <Name>TollFree</Name>        </Product>        <Product>            <Name>Origination</Name>            <Features>                <Feature>CallForwarding</Feature>                <Feature>DlDa</Feature>                <Feature>CNAM</Feature>                <Feature>OrigHttpVoice</Feature>            </Features>        </Product>        <Product>            <Name>MESSAGING</Name>            <Features>              <Feature>SMS</Feature>              <Feature>MMS</Feature>              <Feature>HTTP</Feature>              <Feature>HTTPV2</Feature>              <Feature>TollFree</Feature>            </Features>        </Product>        <Product>            <Name>NumberManagement</Name>            <Features>              <Feature>ORDERING</Feature>              <Feature>LNP</Feature>              <Feature>EXTERNAL_TNS</Feature>              <Feature>PROTECTED_TNS</Feature>              <Feature>TN_ASSIGNMENT</Feature>              <Feature>RESERVATION</Feature>              <Feature>LSR</Feature>            </Features>        </Product>    </Products></AccountProductsResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "internal" ],
        "description" : "Add a new product to the account, features can be added together with product",
        "operationId" : "createAccountProduct",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountProduct"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountProductResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "None"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/products/{productName}" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "TODO",
        "operationId" : "getAccountProduct",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountProductResponse"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "updateAccountProduct",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "productName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountProduct"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/addresses" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "GET is used to retrieve all addresses.",
        "operationId" : "getAddresses",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "e911locationid",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "suggestions",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - the addresses retrieval request will return a list of all addresses having specified type.",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressesResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <AddressesResponse> <TotalCount>1</TotalCount> <Links> <first>Link=&lt;http://admin.localhost:8080/api/accounts/8000259/addresses?type=e911&amp;page=1&amp;size=500&gt;;rel=\"first\";</first> <next>Link=&lt;http://localhost:8080/api/accounts/8000259/addresses?type=E911&amp;page=501&amp;size=500&gt;;rel=\"next\";</next> </Links> <Addresses> <Address> <HouseNumber>207</HouseNumber> <HouseSuffix></HouseSuffix> <PreDirectional></PreDirectional> <StreetName>Elmastar</StreetName> <StreetSuffix>AlternateStar</StreetSuffix> <PostDirectional></PostDirectional> <AddressLine2></AddressLine2> <City>Carpinteriaaly</City> <StateCode>NY</StateCode> <Zip>93019</Zip> <PlusFour></PlusFour> <County></County> <Country>United States</Country> <AddressType>E911</AddressType> <EndpointCount>2</EndpointCount> <ValidationStatus>VALID</ValidationStatus> </Address> </Addresses> </AddressesResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found - if the account specified does not exist or is locked or there are no addresses for specified search criteria it will result in a not found.",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <AddressesResponse> <ResponseStatus> <Description>The resource does not exist</Description> </ResponseStatus> </AddressesResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/aeuis/{identifier}" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "GET is used to retrieve a detailed information of Alternate end user identifier by acid.",
        "operationId" : "getAEUI",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "identifier",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - will return full information about AEUI for the specified acid.",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlternateEndUserIdentifierResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <AlternateEndUserIdentifierResponse> <AlternateEndUserIdentifier> <Identifier>DavidAcid</Identifier> <CallbackNumber>8042105760</CallbackNumber> <E911> <CallerName>David</CallerName> <Address> <HouseNumber>900</HouseNumber> <HouseSuffix></HouseSuffix> <PreDirectional></PreDirectional> <StreetName>MAIN CAMPUS</StreetName> <StreetSuffix>DR</StreetSuffix> <AddressLine2></AddressLine2> <City>RALEIGH</City> <StateCode>NC</StateCode> <Zip>27606</Zip> <PlusFour>5214</PlusFour> <Country>United States</Country> <AddressType>Billing</AddressType> </Address> <EmergencyNotificationGroup> <Identifier>63865500-0904-46b1-9b4f-7bd237a26363</Identifier> <Description>Building 5, 5th Floor.</Description> </EmergencyNotificationGroup> </E911> </AlternateEndUserIdentifier> </AlternateEndUserIdentifierResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found - if the account specified does not exist or is locked or there are no AEUI that corresponds to specified acid it will result in a \"NOT FOUND\" response.",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <AlternateEndUserIdentifierResponse> <ResponseStatus> <Description>The resource does not exist</Description> </ResponseStatus> </AlternateEndUserIdentifierResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/aeuis" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "GET is used to retrieve all Alternate end user identifiers.",
        "operationId" : "getAEUIS_1",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "size",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        },{
          "name" : "aeui",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callback",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pidfloenabledonly",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "suggestions",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "callername",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "locationId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "e911addressId",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK - the AEUIs retrieval request will return a list of all AEUIs.",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AlternateEndUserIdentifiersResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <AlternateEndUserIdentifiersResponse> <TotalCount>2</TotalCount> <Links> <first>Link=&lt;http://localhost:8080/iris/accounts/14/aeuis?page=1&amp;size=500&gt;;rel=\"first\";</first> </Links> <AlternateEndUserIdentifiers> <AlternateEndUserIdentifier> <Identifier>DavidAcid</Identifier> <CallbackNumber>8042105760</CallbackNumber> <EmergencyNotificationGroup> <Identifier>63865500-0904-46b1-9b4f-7bd237a26363</Identifier> <Description>Building 5, 5th Floor.</Description> </EmergencyNotificationGroup> </AlternateEndUserIdentifier> <AlternateEndUserIdentifier> <Identifier>JohnAcid</Identifier> <CallbackNumber>8042105618</CallbackNumber> </AlternateEndUserIdentifier> </AlternateEndUserIdentifiers> </AlternateEndUserIdentifiersResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found - if the account specified does not exist or is locked or there are no AEUIs for specified search criteria it will result in a \"NOT FOUND\" response.",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <AlternateEndUserIdentifiersResponse> <ResponseStatus> <ErrorCode>12087</ErrorCode> <Description>Alternate End User Identifiers were not found.</Description> </ResponseStatus> </AlternateEndUserIdentifiersResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/products/analytics/messaging/mdrs" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "Retrieve messaging analytics, where the Message Detail Record (MDRs) are chosen based on the search parameters provided in the API Call.",
        "operationId" : "getAccountAnalyticsMessagingMdrs",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "messageId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sourceTn",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "destinationTn",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fromDateTime",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "toDateTime",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "messageStatus",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "errorCode",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "pageToken",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The descriptive payload for the MDR query provides information about messaging analytic on account. Links to assist in pagination are also provided.",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<MessageSearchResponse>    <TotalCount>16</TotalCount>    <MDRList>        <MDR>            <MessageId>5ec299de91cfaadfe7a19dda</MessageId>            <AccountId>120</AccountId>            <DestinationTn>+15540117618</DestinationTn>            <SourceTn>+11639010043</SourceTn>            <MessageStatus>DELIVERED</MessageStatus>            <MessageDirection>OUTBOUND</MessageDirection>            <MessageType>sms</MessageType>            <SegmentCount>5</SegmentCount>            <ErrorCode>3131</ErrorCode>            <ReceiveTime>2020-05-27T17:24:56.000Z</ReceiveTime>        </MDR>        <MDR>            <MessageId>5ec299de91cfaadfe7a19dda</MessageId>            <AccountId>120</AccountId>            <DestinationTn>+15540117618</DestinationTn>            <SourceTn>+11639010043</SourceTn>            <MessageStatus>DELIVERED</MessageStatus>            <MessageDirection>OUTBOUND</MessageDirection>            <MessageType>sms</MessageType>            <SegmentCount>5</SegmentCount>            <ErrorCode>3131</ErrorCode>            <ReceiveTime>2020-05-27T17:24:56.000Z</ReceiveTime>        </MDR>    </MDRList></MessageSearchResponse>"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request - Account has no messaging analytics feature assigned",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><MessageSearchResponse>    <ResponseStatus>        <ErrorCode>12168</ErrorCode>        <Description>Account 9999999 has no messaging analytics feature assigned</Description>    </ResponseStatus></MessageSearchResponse>"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden - Loged in user has no requested account assigned",
            "content" : {
              "application/xml" : { }
            }
          },
          "503" : {
            "description" : "Service Temporarily Unavailable - Message search api temporary unavailable",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><MessageSearchResponse>    <ResponseStatus>        <ErrorCode>12169</ErrorCode>        <Description>Message search api temporary unavailable</Description>    </ResponseStatus></MessageSearchResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/applications" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "Lists all Applications<br><p><br>  <ul>    <li> CallbackCreds Password is not returned in response for security reasons </li>  </ul></p>",
        "operationId" : "getAllApplications",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<ApplicationProvisioningResponse> <ApplicationList> <Application> <ApplicationId>2cfcb382-161c-46d4-8c67-87ca09a72c85</ApplicationId> <ServiceType>Messaging-V2</ServiceType> <AppName>app1</AppName> <MsgCallbackUrl>http://a.com</MsgCallbackUrl> </Application> <Application> <ApplicationId>0cb0112b-5998-4c81-999a-0d3fb5e3f8e2</ApplicationId> <ServiceType>Voice-V2</ServiceType> <AppName>app2</AppName> <CallInitiatedCallbackUrl>http://b.com</CallInitiatedCallbackUrl> <CallbackCreds> <UserId>15jPWZmXdm</UserId> </CallbackCreds> <CallInitiatedFallbackUrl>https://fallback.com</CallInitiatedFallbackUrl> <CallInitiatedFallbackMethod>POST</CallInitiatedFallbackMethod> <CallInitiatedFallbackCreds> <UserId>login2</UserId> </CallInitiatedFallbackCreds> <CallbackTimeout>20</CallbackTimeout> </Application> </ApplicationList> </ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "external" ],
        "description" : "Create an Application, CallbackUrl field is deprecated field, use MsgCallbackUrl instead",
        "operationId" : "createApplication",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationPayload"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<!--Messaging-V2 application--> <?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <ApplicationProvisioningResponse> <Application> <ApplicationId>d4d1b41d-4c05-47d0-838a-34e4f14e4e3e</ApplicationId> <ServiceType>Messaging-V2</ServiceType> <AppName>EBVICs</AppName> <MsgCallbackUrl>http://example.com</MsgCallbackUrl> <CallbackCreds> <UserId>15jPWZmXdm</UserId> </CallbackCreds> </Application> </ApplicationProvisioningResponse> <!--Voice-V2 application--> <ApplicationProvisioningResponse> <Application> <ApplicationId>d3e418e9-1833-49c1-b6c7-ca1700f79586</ApplicationId> <ServiceType>Voice-V2</ServiceType> <AppName>v1</AppName> <CallInitiatedCallbackUrl>https://a.com</CallInitiatedCallbackUrl> <CallInitiatedMethod>GET</CallInitiatedMethod> <CallStatusCallbackUrl>https://b.com</CallStatusCallbackUrl> <CallStatusMethod>GET</CallStatusMethod> <CallbackCreds> <UserId>login123</UserId> </CallbackCreds> <CallInitiatedFallbackUrl>https://fallback.com</CallInitiatedFallbackUrl> <CallInitiatedFallbackMethod>POST</CallInitiatedFallbackMethod> <CallInitiatedFallbackCreds> <UserId>login2</UserId> </CallInitiatedFallbackCreds> <CallbackTimeout>20</CallbackTimeout> </Application> </ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/applications/{applicationId}" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "Retrieve an Application",
        "operationId" : "getApplicationById",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "applicationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <!--Messaging-V2 application example--> <ApplicationProvisioningResponse> <Application> <ApplicationId>e5a9e103-097e-4ec4-87a0-50109fb7b4b1</ApplicationId> <ServiceType>Messaging-V2</ServiceType> <AppName>qMmmTT</AppName> <MsgCallbackUrl>http://example.com</MsgCallbackUrl> <CallbackCreds> <UserId>15jPWZmXdm</UserId> </CallbackCreds> </Application> </ApplicationProvisioningResponse> <!--Voice-V2 application example--> <ApplicationProvisioningResponse> <Application> <ApplicationId>e5a9e103-097e-4ec4-87a0-50109fb7b4b1</ApplicationId> <ServiceType>Voice-V2</ServiceType> <AppName>qMmmTT</AppName> <CallInitiatedCallbackUrl>http://example.com</CallInitiatedCallbackUrl> <CallbackCreds> <UserId>15jPWZmXdm</UserId> </CallbackCreds> <CallInitiatedFallbackUrl>https://fallback.com</CallInitiatedFallbackUrl> <CallInitiatedFallbackMethod>POST</CallInitiatedFallbackMethod> <CallInitiatedFallbackCreds> <UserId>login2</UserId> </CallInitiatedFallbackCreds> <CallbackTimeout>20</CallbackTimeout> </Application> </ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "external" ],
        "description" : "Update an Application. <br> <ul>    <li> ServiceType can have value of Voice-V2 or Messaging-V2 but it can't be changed for existing application </li> </ul>     <p>For ServiceType of Messaging-V2 <br>       <ul>         <li> MsgCallbackUrl (CallbackUrl - is deprecated) is required </li>       </ul>     </p>     <p>For ServiceType of Voice-V2       <ul>         <li> CallInitiatedCallbackUrl - required for voice </li>         <li> CallInitiatedMethod - optional for voice [POST|GET] default is POST if not specified</li>         <li> CallStatusCallbackUrl - optional for voice </li>         <li> CallStatusMethod - optional for voice [POST|GET] default is POST if not specified </li>         <li> CallInitiatedFallbackUrl - optional for voice </li>         <li> CallInitiatedFallbackMethod - optional for voice [POST|GET] default is POST if not specified </li>         <li> CallbackTimeout - optional for voice. Range from 1 to 25 seconds. </li>       </ul>     </p>     <p>CallbackCreds - can only be specified by External users       <ul>          <li> CallbackCreds with same UserId but different Password will change password</li>          <li> If you want credentials, both UserId and Password must be specified.</li>          <li> If you do not want passwords, CallbackCreds should be omitted entirely.</li>          <li> UserId and Password should have length between 6 and 63 symbols.</li>       </ul>     </p>     <p>CallInitiatedFallbackCreds - can only be specified by External users      <ul>         <li> If you want credentials, both UserId and Password must be specified.</li>         <li> If you do not want passwords, CallInitiatedFallbackCreds should be omitted entirely.</li>         <li> UserId and Password should have length between 6 and 63 symbols.</li>       </ul>     </p>",
        "operationId" : "updateApplication",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "applicationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationPayload"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <ApplicationProvisioningResponse> <Application> <ApplicationId>e5a9e103-097e-4ec4-87a0-50109fb7b4b1</ApplicationId> <ServiceType>Voice-V2</ServiceType> <AppName>EBVICs</AppName> <CallInitiatedCallbackUrl>https://example2.com</CallInitiatedCallbackUrl> <CallInitiatedMethod>[GET|POST]</CallInitiatedMethod> <CallStatusCallbackUrl>https://example3.com</CallStatusCallbackUrl> <CallStatusMethod>[GET|POST]</CallStatusMethod> </Application> </ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "external" ],
        "description" : "Delete an Application. <br>An Application cannot be removed from an account if that Application is referenced by any Location associated with the account.<br>",
        "operationId" : "deleteApplication",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "applicationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "None"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "external" ],
        "description" : "Patch update an Application<br> <ul>  <li> CallStatusCallbackUrl can be removed by settings its value to 'remove'  </li> </ul>",
        "operationId" : "patchApplication",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "applicationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApplicationPayload"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApplicationResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <ApplicationProvisioningResponse> <Application> <ApplicationId>e5a9e103-097e-4ec4-87a0-50109fb7b4b1</ApplicationId> <ServiceType>Voice-V2</ServiceType> <AppName>EBVICs</AppName> <CallInitiatedCallbackUrl>https://example2.com</CallInitiatedCallbackUrl> <CallInitiatedMethod>[GET|POST]</CallInitiatedMethod> <CallStatusCallbackUrl>https://example3.com</CallStatusCallbackUrl> <CallStatusMethod>[GET|POST]</CallStatusMethod> </Application> </ApplicationProvisioningResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/applications/{applicationId}/associatedsippeers" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "Retrieve a list of sippeers, associated with application",
        "operationId" : "getAssociatedSippeersByApplicationIdId",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "applicationId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AssociatedSipPeersResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?> <AssociatedSipPeersResponse> <AssociatedSipPeers> <AssociatedSipPeer> <SiteId>482</SiteId> <SiteName>site_e867f</SiteName> <PeerId>500018</PeerId> <PeerName>sippeer-e867f</PeerName> </AssociatedSipPeer> <AssociatedSipPeer> <SiteId>483</SiteId> <SiteName>site_e867d</SiteName> <PeerId>500019</PeerId> <PeerName>sippeer-e867d</PeerName> </AssociatedSipPeer> </AssociatedSipPeers> </AssociatedSipPeersResponse>"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<AssociatedSipPeersResponse> <ResponseStatus> <ErrorCode>12103</ErrorCode> <Description> Current 1 Account have no Catapult association </Description> </ResponseStatus> </AssociatedSipPeersResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<AssociatedSipPeersResponse> <ResponseStatus> <ErrorCode>13629</ErrorCode> <Description> Application with id 'non_existing' not found </Description> </ResponseStatus> </AssociatedSipPeersResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/a2pcampaignids/{id}" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "Retrieve the information for a specific Campaign ID.",
        "operationId" : "getAdminData",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <A2pCampaignId>        <CampaignId>Campaign 1</CampaignId>        <CampaignIdDescription>Some description</CampaignIdDescription>        <AccountId>1</AccountId>    </A2pCampaignId></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Campaign ID not found",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>      <ErrorCode>12114</ErrorCode>      <Description>A2P Campaign Id 'someCampaignId' does not exist</Description></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "internal" ],
        "description" : "Create a Campaign ID or update its description. Campaign ID and Description are required. Account ID must be empty or an existing Account ID. <br>The Campaign ID should be:<ul>    <li>equal to an {id} parameter in URL</li>    <li>globally unique</li>    <li>a non-empty string no longer than 64 characters long</li>    <li>only alphanumeric values, dashes, underscores, singular whitespaces and dots are allowed</li>    <li>whitespaces are only allowed inside the string, and they should not be consecutive</li></ul>",
        "operationId" : "updateAdminData",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/A2pCampaignId"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Campaign ID updated",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <A2pCampaignId>        <CampaignId>Campaign 1</CampaignId>        <CampaignIdDescription>Some description</CampaignIdDescription>        <AccountId>1</AccountId>    </A2pCampaignId></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "Campaign ID updated",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <A2pCampaignId>        <CampaignId>Campaign 1</CampaignId>        <CampaignIdDescription>Some description</CampaignIdDescription>        <AccountId>1</AccountId>    </A2pCampaignId></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error. Possible reasons:<ul>    <li>Code 12820: Campaign ID in the link and in the body is not the same.</li>    <li>Code 12822: A2P Campaign ID 'Campaign/1' is not valid. Needs to be between 1 and 64 characters.    Only alphanumeric values, dashes, underscores, singular whitespaces and dots are allowed.    Whitespaces at the beginning or at the end of string are not allowed.</li>    <li>Code 12836:The provided Account Id '**' is not a valid Account Id.</ul>",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12822</ErrorCode>        <Description>A2P Campaign ID 'Campaign/1' is not valid. Needs to be between 1 and 64 characters.            Only alphanumeric values, dashes, underscores, singular whitespaces and dots are allowed.            Whitespaces at the beginning or at the end of string are not allowed.        </Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "internal" ],
        "description" : "Delete Campaign ID.",
        "operationId" : "deleteAdminData",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Campaign ID deleted",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "empty response"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Campaign ID not found",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "empty response"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/a2pcampaignids" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "TODO",
        "operationId" : "getAllAdminData",
        "parameters" : [ {
          "name" : "nameFragment",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List the collection of valid Campaign IDs",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <A2pCampaignIdList>        <A2pCampaignId>            <CampaignId>Campaign 1</CampaignId>            <CampaignIdDescription>Some description</CampaignIdDescription>        </A2pCampaignId>        <A2pCampaignId>            <CampaignId>Yet_another_Campaign</CampaignId>            <CampaignIdDescription>Yet another description</CampaignIdDescription>            <AccountId>1</AccountId>        </A2pCampaignId>    </A2pCampaignIdList></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/a2pclasses/{id}" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "Get A2P Class.",
        "operationId" : "getAdminData_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return A2P Class",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <A2pClass>        <MessageClass>TestClass</MessageClass>        <ClassDescription>This is a test.</ClassDescription>    </A2pClass></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "A2P Class not found",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12114</ErrorCode>        <Description>A2P Class with Id 'TestClass' not found</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "internal" ],
        "description" : "Create or update A2P Class.",
        "operationId" : "updateAdminData_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/A2pClass"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "A2P Class updated",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <A2pClass>        <MessageClass>Test Message_Class</MessageClass>        <ClassDescription>Test Class Description</ClassDescription>    </A2pClass></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "A2P Class created",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <A2pClass>        <MessageClass>Test Message_Class</MessageClass>        <ClassDescription>Test Class Description</ClassDescription>    </A2pClass></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12821</ErrorCode>        <Description>Message Class in the link is not the same as in the request body.</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "internal" ],
        "description" : "Delete A2P Class.",
        "operationId" : "deleteAdminData_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A2P Class deleted",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "404" : {
            "description" : "A2P Class not found",
            "content" : {
              "application/xml" : { }
            }
          }
        }
      }
    },
    "/admin/data/a2pclasses" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "Get all A2P Classes.",
        "operationId" : "getAllAdminData_1",
        "parameters" : [ {
          "name" : "nameFragment",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return existing A2P Classes",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <A2pClassList>        <A2pClass>            <MessageClass>TestClass</MessageClass>            <ClassDescription>This is a test.</ClassDescription>        </A2pClass>        <A2pClass>            <MessageClass>Test_Class</MessageClass>            <ClassDescription>Another test.</ClassDescription>        </A2pClass>    </A2pClassList></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/breakoutcountries/{breakOutCountry}" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "Get Break Out Country.",
        "operationId" : "getAdminData_2",
        "parameters" : [ {
          "name" : "breakOutCountry",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return Break Out Country settings",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdminDataResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <Country>        <Name>Canada</Name>        <Alpha3Code>CAN</Alpha3Code>        <CountryCode>1</CountryCode>        <PrefixDigits>            <Digits>613</Digits>            <Digits>438</Digits>            <Digits>343</Digits>        </PrefixDigits>        <AuthRequired>true</AuthRequired>        <BillingEnabled>false</BillingEnabled>    </Country></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Break Out Country does not exist",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12986</ErrorCode>        <Description>The 3 letter country code CAR is not recognized as a valid country</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "internal" ],
        "description" : "Create or update Break Out Country settings. The \"Name\" field is optional and will not be retained. Validations:<br> - The 3 letter country code should belong to an existing country - The Break Out Country in the URL should match the 3 letter country code in the payload - \"CountryCode\" field should consist of 1-3 digits - Each \"Digits\" field should consist of 1-4 digits",
        "operationId" : "updateAdminData_2",
        "parameters" : [ {
          "name" : "breakOutCountry",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/BreakOutCountry"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Break Out Country was updated",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <Country>        <Name>Canada</Name>        <Alpha3Code>CAN</Alpha3Code>        <CountryCode>1</CountryCode>        <PrefixDigits>            <Digits>613</Digits>            <Digits>438</Digits>            <Digits>343</Digits>        </PrefixDigits>        <AuthRequired>true</AuthRequired>        <BillingEnabled>false</BillingEnabled>    </Country></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "Break Out Country was created",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <Country>        <Name>Canada</Name>        <Alpha3Code>CAN</Alpha3Code>        <CountryCode>1</CountryCode>        <PrefixDigits>            <Digits>613</Digits>            <Digits>438</Digits>            <Digits>343</Digits>        </PrefixDigits>        <AuthRequired>true</AuthRequired>        <BillingEnabled>false</BillingEnabled>    </Country></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12991</ErrorCode>        <Description>The Country in the URL is different than the 3 letter country code in the payload</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Break Out Country does not exist",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12986</ErrorCode>        <Description>The 3 letter country code CAR is not recognized as a valid country</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "internal" ],
        "description" : "Delete Break Out Country.",
        "operationId" : "deleteAdminData_2",
        "parameters" : [ {
          "name" : "breakOutCountry",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Break Out Country deleted",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "404" : {
            "description" : "Break Out Country does not exist",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12986</ErrorCode>        <Description>The 3 letter country code CAR is not recognized as a valid country</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/breakoutcountries" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "Get all existing Break Out Countries.",
        "operationId" : "getAllAdminData_2",
        "responses" : {
          "200" : {
            "description" : "Return existing Break Out Countries.",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <BreakOutCountries>        <Country>            <Name>Canada</Name>            <Alpha3Code>CAN</Alpha3Code>            <CountryCode>1</CountryCode>            <PrefixDigits>                <Digits>613</Digits>                <Digits>438</Digits>                <Digits>343</Digits>            </PrefixDigits>            <AuthRequired>true</AuthRequired>            <BillingEnabled>false</BillingEnabled>        </Country>        <Country>            <Name>Ukraine</Name>            <Alpha3Code>UKR</Alpha3Code>            <CountryCode>380</CountryCode>            <PrefixDigits>                <Digits>43</Digits>                <Digits>123</Digits>                <Digits>543</Digits>            </PrefixDigits>            <AuthRequired>false</AuthRequired>            <BillingEnabled>true</BillingEnabled>        </Country>    </BreakOutCountries></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{id}" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "TODO",
        "operationId" : "getAdminData_6",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "updateAdminData_10",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/SbcNodeGroup"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "deleteAdminData_9",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/bwspids" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "Get all bwspids",
        "operationId" : "getAllAdminData_3",
        "parameters" : [ {
          "name" : "nameFragment",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return existing Bwspids",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <BwspidSystemValues>        <BwspidSystemValue>            <Id>2</Id>            <RouteType>onNet</RouteType>            <Priority>1</Priority>            <Spid>E830</Spid>            <Type>NNID</Type>            <Alias>BW ESPID E830 Route</Alias>        </BwspidSystemValue>        <BwspidSystemValue>            <Id>4</Id>            <RouteType>onNet</RouteType>            <Priority>2</Priority>            <Spid>X641</Spid>            <Type>NPAC</Type>            <Alias>Bandwidth ALT-SPID</Alias>        </BwspidSystemValue>    </BwspidSystemValues></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/bwspids/{id}" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "Get Bwspid",
        "operationId" : "getAdminData_3",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Return Bwspid",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <BwspidSystemValue>        <Id>2</Id>        <RouteType>onNet</RouteType>        <Priority>1</Priority>        <Spid>E830</Spid>        <Type>NNID</Type>        <Alias>BW ESPID E830 Route</Alias>    </BwspidSystemValue></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Bwspid not found",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12098</ErrorCode>        <Description>Bwspid value Id '1111' does not exist</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/countries/{countryId}" : {
      "put" : {
        "tags" : [ "internal" ],
        "description" : "Update settings for a country.&lt;Country&gt; can have the following values:    <table style=\"text-align: left; width: 80%;\" border=\"1\" cellpadding=\"2\" cellspacing=\"2\">    <tbody>        <tr>            <th>Value></th>            <th>Description</th>        </tr>        <tr>            <td>CountryName</td>            <td>Name of the country. This field is required and is not updatable via this API.</td>        </tr>        <tr>            <td>ThreeLetterCode</td>            <td>Three letter code of the country. This field is required and is not updatable via this API.</td>        </tr>        <tr>            <td>TwoLetterCode</td>            <td>Two letter code of the country. This field is required and is not updatable via this API.</td>        </tr>        <tr>            <td>Supported</td>            <td>Determines whether or not Bandwidth supports numbers from this country. This field is required.</td>        </tr>    </tbody>    </table>",
        "operationId" : "updateAdminData_4",
        "parameters" : [ {
          "name" : "countryId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/Country"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Country settings updated.",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <Country>        <CountryName>Afghanistan</CountryName>        <Supported>false</Supported>        <ThreeLetterCode>AFG</ThreeLetterCode>        <TwoLetterCode>AF</TwoLetterCode>    </Country></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>13015</ErrorCode>        <Description>The Countries API only supports changing the supported value</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/countries" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "Get details on all countries in the system",
        "operationId" : "getAllAdminData_4",
        "responses" : {
          "200" : {
            "description" : "Returns details for countries",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <Countries>        <Country>            <Id>228</Id>            <CountryName>Afghanistan</CountryName>            <Supported>false</Supported>            <ThreeLetterCode>AFG</ThreeLetterCode>            <TwoLetterCode>AF</TwoLetterCode>        </Country>        <Country>            <Id>229</Id>            <CountryName>Albania</CountryName>            <Supported>false</Supported>            <ThreeLetterCode>ALB</ThreeLetterCode>            <TwoLetterCode>AL</TwoLetterCode>        </Country>    </Countries></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/internationalvendorsettings/{vendorId}" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "Get current settings for an international vendor.",
        "operationId" : "getAdminData_4",
        "parameters" : [ {
          "name" : "vendorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Returns settings for an international vendor",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <InternationalVendor>        <VendorId>32</VendorId>        <Supported>true</Supported>    </InternationalVendor></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "International settings not found",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <Description>The resource does not exist</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "internal" ],
        "description" : "Update settings for an international vendor.&lt;InternationalVendor&gt; can have the following values:    <table style=\"text-align: left; width: 80%;\" border=\"1\" cellpadding=\"2\" cellspacing=\"2\">    <tbody>        <tr>            <th>Value</th>            <th>Description</th>        </tr>        <tr>            <td>VendorId</td>            <td>Id of the vendor that these international settings apply to. This field is required.</td>        </tr>        <tr>            <td>Supported</td>            <td>Specifies whether the vendor is currently a supported international vendor.</td>        </tr>    </tbody>    </table>    ",
        "operationId" : "updateAdminData_5",
        "parameters" : [ {
          "name" : "vendorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/InternationalVendor"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "International vendor settings updated",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <Vendor>        <VendorId>32</VendorId>        <Supported>false</Supported>    </Vendor></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "201" : {
            "description" : "International vendor settings created",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <Vendor>        <VendorId>34</VendorId>        <Supported>false</Supported>    </Vendor></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12734</ErrorCode>        <Description>Vendor ID in the link and in the body is not the same.</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "internal" ],
        "description" : "Delete international vendor settings.",
        "operationId" : "deleteAdminData_4",
        "parameters" : [ {
          "name" : "vendorId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "International vendor settings deleted",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/internationalvendorsettings" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "Get international-specific settings for international vendors",
        "operationId" : "getAllAdminData_5",
        "responses" : {
          "200" : {
            "description" : "Returns international-specific settings for international vendors",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <InternationalVendors>        <InternationalVendor>            <VendorId>47</VendorId>            <Supported>false</Supported>        </InternationalVendor>        <InternationalVendor>            <VendorId>32</VendorId>            <VendorName> Connexstar</VendorName>        </InternationalVendor>    </InternationalVendors></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "internal" ],
        "description" : "Create settings for an international vendor.<br/>&lt;InternationalVendor&gt; can have the following values:    <table style=\"text-align: left; width: 80%;\" border=\"1\" cellpadding=\"2\" cellspacing=\"2\">    <tbody>        <tr>            <th>Value</th>            <th>Desription</th>        </tr>        <tr>            <td>VendorId</td>            <td>Id of the vendor that these international settings apply to. This field is required.</td>        </tr>        <tr>            <td>Supported</td>            <td>Specifies whether the vendor is currently a supported international vendor.</td>        </tr>    </tbody>    </table>    ",
        "operationId" : "createAdminData",
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/InternationalVendor"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "International for vendor created",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <InternationalVendor>        <VendorId>32</VendorId>        <Supported>true</Supported>    </InternationalVendor></AdminDataResponse>"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Validation error",
            "content" : {
              "application/xml" : {
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AdminDataResponse>    <ResponseStatus>        <ErrorCode>12991</ErrorCode>        <Description>Vendor with id=32 does not exist.</Description>    </ResponseStatus></AdminDataResponse>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/{l3ErrorCode}" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "getAdminData_5",
        "parameters" : [ {
          "name" : "l3ErrorCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "updateAdminData_6",
        "parameters" : [ {
          "name" : "l3ErrorCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/Level3PortingErrorSettingPayload"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "internal" ],
        "description" : "TODO",
        "operationId" : "deleteAdminData_5",
        "parameters" : [ {
          "name" : "l3ErrorCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/admin/data/blockedaccount/{accountId}" : {
      "get" : {
        "tags" : [ "external" ],
        "description" : "This resource retrieves information about pom.",
        "operationId" : "getAdminData_7",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "type" : "object"
                },
[...]
