{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Iris",
    "description" : "Bandwidth Iris",
    "version" : "1.0.0",
    "x-server-configuration" : {
      "default-environment" : "production",
      "default-server" : "default",
      "environments" : [ {
        "name" : "production",
        "servers" : [ {
          "name" : "default",
          "url" : "https://dashboard.bandwidth.com/api/"
        } ]
      }, {
        "name" : "custom",
        "servers" : [ {
          "name" : "default",
          "url" : "{base_url}"
        } ]
      } ],
      "parameters" : [ {
        "name" : "base_url",
        "description" : "",
        "type" : "string",
        "example" : "https://www.example.com"
      } ]
    }
  },
  "servers" : [ {
    "url" : "https://dashboard.bandwidth.com/api/",
    "description" : "Production",
    "variables" : { }
  } ],
  "security" : [ {
    "httpBasic" : [ ]
  } ],
  "paths" : {
    "/accounts/{accountId}" : {
      "get" : {
        "tags" : [ "internal" ],
        "description" : "This API call retrieves information about the account indicated by the Account ID.",
        "operationId" : "getPomAccount",
        "parameters" : [ {
          "name" : "accountId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PomAccountResponse"
                },
                "examples" : {
                  "example" : {
                    "description" : "example",
                    "value" : "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?><AccountResponse>    <Account>        <AccountId>14</AccountId>        <AssociatedCatapultAccount>u-ertyhgfd12dcvdhnboklk</AssociatedCatapultAccount>        <GlobalAccountNumber>globalAccount</GlobalAccountNumber>        <CompanyName>CWI Hosting</CompanyName>        <AccountType>Business</AccountType>        <NenaId></NenaId>        <CustomerSegment>Trial</CustomerSegment>        <Tiers>            <Tier>0</Tier>        </Tiers>        <Address>            <HouseNumber>904</HouseNumber>            <HouseSuffix>E</HouseSuffix>            <PreDirectional></PreDirectional>            <StreetName>Anson</StreetName>            <StreetSuffix>St</StreetSuffix>            <PostDirectional></PostDirectional>            <AddressLine2></AddressLine2>            <City>Marshalltown</City>            <StateCode>IA</StateCode>            <Zip>50158</Zip>            <PlusFour></PlusFour>            <County></County>            <Country>United States</Country>            <AddressType>Billing</AddressType>        </Address>        <Contact>            <FirstName>Sanjay</FirstName>            <LastName>Rao</LastName>            <Phone>9195441234</Phone>            <Email>srao@bandwidth.com</Email>        </Contact>        <AltSpid>X455</AltSpid>        <SPID>9999</SPID>        <PortCarrierType>WIRELINE</PortCarrierType>    </Account></AccountResponse>"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "PomAccount" : {
        "type" : "object",
        "properties" : {
          "type" : {
            "type" : "string",
            "xml" : {
              "name" : "Type"
            },
            "enum" : [ "BLOCKED", "CUSTOMER_API_VALIDATION" ]
          },
          "accountId" : {
            "type" : "integer",
            "format" : "int32",
            "xml" : {
              "name" : "AccountId"
            }
          }
        },
        "xml" : {
          "name" : "PomAccount"
        }
      },
      "PomAccountResponse" : {
        "type" : "object",
        "properties" : {
          "payload" : {
            "$ref" : "#/components/schemas/PomAccount",
            "xml" : {
              "name" : "PomAccount"
            }
          }
        },
        "xml" : {
          "name" : "PomAccountResponse"
        }
      }
    },
    "securitySchemes" : {
      "httpBasic" : {
        "type" : "http",
        "scheme" : "basic"
      }
    }
  }
}
