.image {
    width: 100%;
    height: 900px;
    /* background-image: url(../../static/img/landingimage2.png);
    background-size: contain;
    background-repeat: no-repeat; */
}

@media screen and (max-width: 1152px) {
    .image {
    display: none;
    }
}
