html[data-theme='dark']
  .apiProductTable thead {
    background: transparent;
    color: #079CEE;
  }

html[data-theme='dark']
  .apiProductTable tbody {
    color: #FFFFFF;
  }

.apis {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.apiSvg {
  height: 150px;
  width: 150px;
}
