html[data-theme='dark']
  .apiProductTable thead {
    background: transparent;
    color: #079CEE;
  }

html[data-theme='dark']
  .apiProductTable tbody {
    color: #FFFFFF;
  }

.apis {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.apiSvg {
  height: 100px;
  width: 100px;
}

.apiProductTable table {
  margin: auto;
  width: 50%
}

.apiProductTable thead {
  background: transparent;
  color: #000000;
  border: 1px solid black;
}

.apiProductTable tbody {
  color: #000000;
}

.apiProductTable td, th {
  padding: 5px;
}
