:root {
  --github-logo : url('../../static/img/github.svg')
}

html[data-theme='dark'] {
  --github-logo: url('../../static/img/github-dark.svg');
}

html[data-theme='dark'] .sdkProductTable thead {
  background: transparent;
  color: #079CEE;
}

html[data-theme='dark'] .sdkProductTable tbody {
  color: #FFFFFF;
}

.sdkSvg {
  height: 225px;
  width: 180px;
}

.sdkProductTable table {
  margin: auto;
  width: 50%
}

.sdkProductTable thead {
  background: transparent;
  color: #000000;
  border: 1px solid black;
}

.sdkProductTable tbody {
  color: #000000;
}

.sdkProductTable td, th {
  padding: 5px;
}

.sdkProductTable td {
  height: 25px;
}

.image {
  width: 100%;
  height: 900px;
  /* background-image: url(../../static/img/landingimage.png);
  background-size: contain;
  background-repeat: no-repeat; */
}

@media screen and (max-width: 1152px) {
  .image {
  display: none;
  }
}
